<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    {% load staticfiles %}
    {% load registry_tags %}
    <title>Querétaro Lee</title>
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.png" %}" />
    <!-- Head tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta robots="no-index no-follow" />
    <!--<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE; chrome=1" />-->
    {% block headtags %}{% endblock %}

    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,800' rel='stylesheet' type='text/css'>

    <!-- Quantum Css responsive framework -->
    <link rel="stylesheet" href="{% static "style/normalize.css" %}"/>
    <link rel="stylesheet" href="{% static "style/quantum/16.css" %}"/>
    <link rel="stylesheet" href="{% static "style/main.css" %}"/>
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="{% static "style/ie/ie9.css" %}"/>
    <![endif]-->

    <!-- Le Gingue Css -->
    {% block style %}{% endblock %}

    <!-- Javascript -->
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

    <script type="text/javascript" src="{% static "js/prefixfree.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/json3.min.js" %}"></script>
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function() {
            // init the FB JS SDK
            FB.init({
                appId      : '570894232960484', //'476600992414046', //  App ID from the app dashboard
                channelUrl : 'http://localhost:8000/', //'http://qrolee.com/',//
                status     : true,                                 // Check Facebook Login status
                xfbml      : true                                  // Look for social plugins on the page
            });
            // Here we subscribe to the auth.authResponseChange JavaScript event. This event is fired
            // for any authentication related change, such as login, logout or session refresh. This means that
            // whenever someone who was previously logged out tries to log in again, the correct case below
            // will be handled.
            FB.Event.subscribe('auth.authResponseChange', function(response) {
                // Here we specify what we do with the response anytime this event occurs.
                if (response.status === 'connected') {
                    // The response object is returned with a status field that lets the app know the current
                    // login status of the person. In this case, we're handling the situation where they
                    // have logged in to the app.

                } else if (response.status === 'not_authorized') {
                    // In this case, the person is logged into Facebook, but not into the app, so we call
                    // FB.login() to prompt them to do so.
                    // In real-life usage, you wouldn't want to immediately prompt someone to login
                    // like this, for two reasons:
                    // (1) JavaScript created popup windows are blocked by most browsers unless they
                    // result from direct interaction from people using the app (such as a mouse click)
                    // (2) it is a bad experience to be continually prompted to login upon page load.

                } else {
                    // In this case, the person is not logged into Facebook, so we call the login()
                    // function to prompt them to do so. Note that at this stage there is no indication
                    // of whether they are logged into the app. If they aren't then they'll see the Login
                    // dialog right after they log in to Facebook.
                    // The same caveats as above apply to the FB.login() call here.

                }
            });
        };

        // Load the SDK asynchronously
        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));


        $(document).ready(function(){
            if($.trim($('input.fb-session-required-val').val()) == 0)
                $('.fb-session-required').remove();
            if($('.logo').hasClass('no-auth'))
                $('.header').css({
                    'height': 99
                });
        });
    </script>

    {% block js %}{% endblock %}

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-45852129-1', 'qrolee.com');
	  ga('send', 'pageview');

	</script>

</head>




<body >
<div class="header">
    <div class="container-16">
        <input type="hidden" class="fb-session-required-val" value="{% if user %}{% if user|fsocial_session %}1{% else %}0{% endif %}{% endif %}"/>
    {% block head %}

    {% endblock %}
    </div>
</div>
<div class="container-16">

{% block main_site %}

{% endblock %}
{% block footer %}
    {% if not home %}
        {% include 'footer.html' %}
    {% endif %}
{% endblock %}
</div>

</body>

</html>
