{% block footer %}
<div class="grid-16 footer">
    <div class="grid-14 center">
        <div class="nav">
            <a class="first" href="/qro_lee/policy_use/1">Términos y Condiciones</a>
            <div class="line_footer"></div>
            <a href="/qro_lee/policy_use/2">Política de Privacidad</a>
            <div class="line_footer"></div>
            <a href="/qro_lee/policy_use/3">FAQs</a>
            <div class="line_footer"></div>
            <!--<a href="">Contáctanos</a>
            <div class="line_footer"></div>-->
            <a href="/qro_lee/policy_use/4">Qro lee</a>
            <a class="social" href="https://www.facebook.com/Qrolee">
                <span style="background: url('/static/img/facetwit_.png') no-repeat 0px 0px" class="fb_btn"></span>
            </a>
            <a class="social" href="https://twitter.com/QroLee">
                <span style="background: url('/static/img/facetwit_.png') no-repeat -65px 0px" class="twitter_btn"></span>
            </a>
            <p class="fright t_qro_lee" style="margin-top: 0px;">© 2013 Querétaro Lee</p>
        </div>
    </div>
</div>
{% endblock %}