{% block footer %}
<div class="grid-16 footer">
    <div class="grid-14 center">
        <div class="nav">
            <a class="first" href="">Términos de uso</a>
            <div class="line_footer"></div>
            <a href="">Política de Privacidad</a>
            <div class="line_footer"></div>
            <a href="">Contáctanos</a>
            <a class="social" href="">
                <span style="background: url('/static/img/facetwit.png') no-repeat -72px 0px" class="fb_btn"></span>
            </a>
            <a class="social" href="">
                <span style="background: url('/static/img/facetwit.png') no-repeat -2px 0px" class="twitter_btn"></span>
            </a>
            <p class="fright t_qro_lee" style="margin-top: 0px;">© 2013 Querétaro Lee</p>
        </div>
    </div>
</div>
{% endblock %}