{% load staticfiles %}
<div class="grid-14 center">
    <a class="grid-2 alpha logo" href="/">
        <span></span>
    </a>
    <div class="nav grid-7 alpha omega menu">
        <a href="/qro_lee/entities/organization/">Organizaciones</a>
        <a href="/qro_lee/entities/group/">Grupos</a>
        <a href="/qro_lee/events/">Eventos</a>
        <a href="/qro_lee/entities/spot/">Spots</a>
        <span class="link_book" >
            <a>Libros</a>
            <span class="sub-menu-book">
                <a href="/qro_lee/book/titles/">Titulos</a>
                <a href="/qro_lee/book/authors/">Autores</a>
                <a href="">Book Crossing</a>
            </span></span>
        <a class="last" href="/qro_lee/list/">Listas</a>
    </div>
    <div class="grid-3 alpha omega search">
        <span class="csrf_header">{% csrf_token %}
            <input type="text" class="search_field"/><span class="icon right top search_button"></span>
            <span class="d-results search_result"></span>
        </span>
    </div>
    <div class="account-settings omega alpha fright">
        <a href="/accounts/users/profile/{{ user.id }}" class="profile fleft">
            {% if not user_profile.picture %}
                <img class="img_profile_mini" src="{% static "img/no_profile.png" %}" alt=""/>
            {% else %}
                <img class="img_profile_mini" src="/static/media/users/{{ user.id }}/profile/{{ user_profile.picture }}" />
            {% endif %}
            <span class="user">{{ user|truncatechars:16 }}</span>
        </a>
        <span class="settings fright">
            <span class="member ">
                    <img class="icon" src="{% static "img/settings_pointer.png" %}" alt=""/>
                    <span class="sub-menu">
                        <a href="/accounts/users/edit_profile/{{ user.id }}">Mi información</a>
                        <a href="/accounts/users/edit_account/">Mi cuenta</a>
                        <a href="#">Mis libros</a>
                        <a href="#">Mis listas</a>
                        <a style="border:none;" href="/registry/logout">Salir</a>
                    </span>
            </span>
        </span>
    </div>
</div>