{% extends 'base.html' %}
{% load staticfiles %}
{% load registry_tags %}

{% block style %}
    <link rel="stylesheet" href="{% static "style/theme.css" %}"/>
{% endblock %}

{% block js %}
   <script type="text/javascript" src="{% static "js/tiny.js" %}"></script>
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>
    <script type="text/javascript" src="/static/js/ajax.js"></script>
{% endblock %}

{% block head %}
    {% include 'header.html' %}
{% endblock %}

{% block main_site %}
    <div class="grid-16 news-feed policy_use policy_type_{{ type }} ">
        <div class="grid-14 no-margin">
            <span class="grid-11">
                <span class="title ">
                    {% if type == 1 %}
                        Términos y Condiciones
                    {% elif type == 2 %}
                        Política de Privacidad
                    {% elif type == 3 %}
                        FAQs
                    {% elif type == 4 %}
                        ¿Qué es Querétaro lee?
                    {% endif %}
                </span>
                {% if type == 1 or type == 2 %}
                    <div id="scrollbar1">
                    <div class="scrollbar"><div class="track"><div class="thumb">
                        <div class="end"></div></div></div></div>
                    <div class="viewport">
                    <div class="overview ">
                    {% if type == 2 %}
                        <p >
                           Política de Privacidad de Querétaro Lee (Aviso de Privacidad)
                           <br>
                           Responsable de los datos personales
                        </p>
                        <p>
                            En esta Política (Aviso) de Privacidad, Faktor T México, S.A. de C.V.
                            (en adelante, "Querétaro Lee"), con domicilio en Av. Hacienda El
                            Campanario 99-A8, El Campanario, Querétaro, Qro., tiene el carácter de
                            responsable en relación con los servicios prestados por esta entidad y
                            que se detallan en las Condiciones de Servicio de Querétaro Lee México,
                            accesibles en http://queretarolee.com o http://qrolee.com
                        </p>
                        <p>
                            Querétaro Lee se toma muy en serio la privacidad de sus servicios en línea.
                            Por favor leer lo siguiente para conocer más acerca de nuestra Política de
                            Privacidad.
                        </p>
                        <p>
                            Puntos que abarca la Política de privacidad
                        </p>
                        <p>
                            Esta Política de Privacidad habla del uso que le damos a la información
                            personal que proporcionas a Querétaro Lee, incluyendo los datos relacionados
                            con la utilización que has hecho en el pasado de productos y servicios de
                            Querétaro Lee. Para nosotros, la información personal está conformada por
                            datos tales como: nombre, domicilio, correo electrónico y número telefónico.
                            Es decir, se trata de datos privados (no están disponibles al público).
                            La Política de Privacidad de Querétaro Lee no abarca las prácticas de compañías
                            ajenas a Querétaro
                            Lee (que no sean propiedad de Querétaro Lee y sobre las que Querétaro Lee no
                            tiene control alguno), tampoco incluye a personas a quienes Querétaro Lee no
                            emplea ni administra. Además, algunas compañías que Querétaro Lee o sus empresas
                            relacionadas han adquirido ya contaban con sus propias políticas.
                        </p>
                        <p>
                            Finalidades de Recolección y Tratamiento de Información
                        </p>
                        <p>
                            General
                        </p>
                        <p>
                            Querétaro Lee recoge información personal de usuarios cuando éstos se
                            registran para obtener una cuenta de Querétaro Lee, cuando utilizas ciertos
                            productos o servicios de Querétaro Lee, cuando visitas sitios dentro de Querétaro
                            Lee o sitios de socios de Querétaro Lee y cuando participas en promociones.
                            Querétaro Lee puede combinar datos personales tuyos que obtuvimos de cualquiera
                            de las maneras aquí mencionadas, con datos que nuestros socios, proveedores u
                            otras empresas nos proporcionan.
                            Cuando te registras para obtener una cuenta de Querétaro Lee, te solicitamos
                            datos como: nombre, correo electrónico, fecha de nacimiento, sexo, lugar de
                            residencia, código postal, profesión, giro profesional e intereses personales.
                            Para ciertos servicios y productos relacionados con la lectura, también te
                            podremos pedir tu domicilio, datos sobre tus ingresos y bienes. Al finalizar
                            tu registro, y cuando comienzas a utilizar nuestros servicios, ya no te
                            mantienes anónimo para nosotros.
                            Querétaro Lee recibe y registra automáticamente información que nos proporciona
                            tu computadora y tu navegador, incluyendo tu Dirección IP (Protocolo de Internet) y las cookies de Querétaro Lee, características de software y hardware así como la página que solicitas.
                            Querétaro Lee podrá usar dicha información para las siguientes finalidades
                            generales: personalizar la publicidad y el contenido que tú ves, satisfacer
                            tus solicitudes en relación con productos o servicios, mejorar nuestros
                            nuevos servicios, contactarte, realizar estudios e investigaciones y
                            efectuar reportes (donde se habla anónimamente de los usuarios, sin
                            proporcionar detalles que les identifiquen) para usuarios internos y
                            externos de Querétaro Lee.
                        </p>
                        <p>
                            Menores de edad
                        </p>
                        <p>
                            Querétaro Lee no se pondrá en contacto con niños menores de 13 años
                            con fines comerciales o de mercadotecnia sin el previo consentimiento
                            de los padres o tutores de los menores de edad.
                            Querétaro Lee no solicita a niños menores de 13 años información personal
                            adicional a la
                            estrictamente necesaria para que ellos participen en una actividad o promoción.
                        </p>
                        <p>
                            Transferencia y revelación de información
                        </p>
                        <p>
                            Querétaro Lee no vende, renta, transfiere, ni comparte información
                            personal de sus usuarios a ningún tercero o entidad no afiliada con
                            Querétaro Lee, salvo en el caso que sea estrictamente necesario
                            proporcionarte servicios o productos que tú nos solicites, previa
                            autorización tuya, o bajo estas circunstancias:
                            <br>
                            Proporcionamos la información a socios de confianza de Querétaro
                            Lee (que trabajan en nombre de Querétaro Lee o junto con Querétaro
                            Lee) bajo acuerdos de confidencialidad. Esos socios pueden usar tu
                            información personal para ayudar a Querétaro Lee a comunicarte ofertas
                            de Querétaro Lee y de nuestros socios. Sin embargo, estos socios no
                            tienen el derecho de compartir con alguien más tu información.
                        </p>
                        <p>
                            Nos veamos en la necesidad de responder a órdenes judiciales,
                            procesos y/o requerimientos legales o de ejercer nuestros derechos
                            o defendernos en contra de algún reclamo, denuncia o demanda de
                            carácter legal.
                            <br>
                            Consideramos que es necesario compartir tus datos para investigar,
                            prevenir o tomar acción contra actividades ilegales, posibles fraudes,
                            situaciones que potencialmente pongan en riesgo la integridad física
                            de cualquier persona; violaciones a las Condiciones del Servicio de
                            Querétaro Lee o en caso de que la ley así lo requiera.
                            Debamos transferir tu información personal si Querétaro Lee fuera
                            adquirido por otra compañía o se fusione con ella. Si esto sucediera
                            , Querétaro Lee te notificará que compartirá tu información personal
                            antes de transferirla o regirla por otra política de privacidad distinta
                            a la presente.
                        </p>
                        <p>
                            Cookies
                        </p>
                        <p>
                            Querétaro Lee puede colocar cookies en tu computadora y también
                            tener acceso a ellas.
                            Querétaro Lee permite a sus anunciantes colocar cookies en las
                            computadoras de quienes usan Querétaro Lee. El uso que dichas
                            compañías den a tales cookies está sujeto a sus respectivas
                            políticas de privacidad y no a la presente Política de Privacidad
                            de Querétaro Lee. Ni los anunciantes, ni otras compañías tienen
                            acceso a las cookies de Querétaro Lee.
                            Querétaro Lee utiliza imágenes GIF de un píxel para poder tener
                            acceso a las cookies de Querétaro Lee dentro y fuera de nuestra
                            red de sitios Web y en relación con los diversos productos y
                            servicios de Querétaro Lee.
                        </p>
                        <p>
                            Acerca de borrar o actualizar tu información de cuenta y preferencias
                        </p>
                        <p>
                            General
                        </p>
                        <p>
                            Querétaro Lee te permite modificar tu Información de cuenta Querétaro
                            Lee, incluyendo tus preferencias, en el momento que quieras.
                            Nos reservamos el derecho de enviarte ciertos comunicados relacionados
                            con el servicio de Querétaro Lee, por ejemplo notificaciones de servicio,
                            mensajes administrativos y el boletín de noticias de Querétaro Lee, los
                            cuales se consideran parte de tu cuenta de Querétaro Lee, sin que se te
                            ofrezca la posibilidad de optar por no recibirlos.
                            También puedes solicitar que se elimine tu cuenta de Querétaro Lee.
                            Basta con ir a nuestra página de Cancelación de tu cuenta Querétaro Lee.
                            Haz clic aquí para que sepas qué datos podrían quedar en nuestros registros
                            una vez que hayas eliminado tu cuenta de Querétaro Lee.
                        </p>
                        <p>
                            Confidencialidad y Seguridad
                        </p>
                        <p>
                            El acceso a tu información personal está limitada sólo a aquellos
                            empleados de Querétaro Lee quienes consideramos necesitan tener
                            contacto con esos datos para proporcionarte los productos y el
                            servicio que nos solicitas o para cumplir con su trabajo.
                            Contamos con medidas de protección físicas, electrónicas y de
                            procedimiento, las cuáles cumplen con lo que la legislación federal
                            exige para proteger la información personal de nuestros usuarios.
                            Para conocer más acerca de la seguridad, incluyendo los pasos que hemos
                            tomado para proporcionar más seguridad y los pasos que puedes tomar
                            para proteger mejor tus datos, por favor mira la sección de seguridad
                            de datos en Querétaro Lee y la página de Querétaro Lee Seguridad.
                        </p>
                        <p>
                            Modificaciones a esta Política de privacidad
                        </p>
                        <p>
                            Querétaro Lee puede modificar la presente Política de Privacidad.
                            Si los cambios que realizamos son importantes y afectan directamente
                            al uso que le damos a la información personal de nuestros usuarios,
                            se los haremos saber mediante un mensaje enviado a la dirección principal
                            de correo electrónico que especificaste a Querétaro Lee en tu registro
                            o colocando en nuestras páginas avisos destacados al respecto
                        </p>
                        <p>
                            Ejercer tus derechos de acceso, rectificación, cancelación u oposición
                            de datos personales
                        </p>
                        <p>
                            Querétaro Lee puede modificar la presente Política de Privacidad.
                            Si los cambios que realizamos son importantes y afectan directamente
                            al uso que le damos a la información personal de nuestros usuarios,
                            se los haremos saber mediante un mensaje enviado a la dirección principal
                            de correo electrónico que especificaste a Querétaro Lee en tu registro
                            o colocando en nuestras páginas avisos destacados al respecto.
                        </p>
                        <p>
                            Ejercer tus derechos de acceso, rectificación, cancelación u oposición
                            de datos personales
                        </p>
                        <p>
                            En cumplimiento con los dispuesto por la legislación federal vigente
                            en materia de protección de datos personales, si deseas ejercer el
                            derecho de acceso, rectificación, cancelación y/u oposición en relación
                            con tus datos personales, deberás enviar personalmente, o por conducto
                            de tu representante legal, una solicitud a la dirección señalada
                            inicio de la presente Política, dirigida al departamento de datos
                            personales de Querétaro Lee La solicitud deberá contener y acompañar
                            los requisitos que se señalan en la Ley Federal de Protección de Datos
                            Personales en Posesión de Particulares y en su Reglamento, documentos
                            que puedes consultar en el sitio Web del Instituto Federal de Acceso
                            a la Información y Protección de Datos.
                        </p>
                        <p>
                            Dudas o sugerencias
                        </p>
                        <p>
                            Si tienes dudas o sugerencias respecto a nuestra Política de Privacidad,
                            puedes acudir a nuestro Centro de Ayuda.
                        </p>
                    {% elif type == 1 %}
                        <p>
                            Términos y condiciones de uso de  Querétaro Lee (propiedad de
                            Faktor T México, S. A. de C. V.) .
                        </p>
                        <p>
                            Este contrato describe los términos y condiciones  (los "Términos
                            y Condiciones") aplicables al uso de los servicios ofrecidos por
                            Faktor T México, S.A. de C.V. dentro de los sitios www.qrolee.com,
                            www.queretarolee.com ("Faktor T México " o el "sitio") para su
                            producto " Querétaro Lee" ("el Servicio").
                        </p>
                        <p>
                            Los Términos y Condiciones de  Querétaro Lee son parte integrante
                            de los Términos y Condiciones Generales de Faktor T México, S.
                            A. de C. V.. Mediante la aceptación de los Términos y Condiciones
                            Generales en el momento del registro el Usuario acepta las políticas aquí contenidas.
                        </p>
                        <p>
                            CUALQUIER PERSONA QUE NO ACEPTE ESTOS TÉRMINOS Y CONDICIONES
                            GENERALES, LOS CUALES TIENEN UN CARÁCTER OBLIGATORIO Y VINCULANTE,
                            DEBERÁ ABSTENERSE DE UTILIZAR EL SITIO Y/O LOS SERVICIOS.
                        </p>
                        <p>
                            El Usuario debe leer, entender y aceptar todas las condiciones
                            establecidas en los Términos y Condiciones así como en los demás
                            documentos incorporados a los mismos por referencia, previo a la
                            de  Querétaro Lee.
                        </p>
                        <p>
                            1. Objeto
                        </p>
                        <p>
                            Querétaro Lee permite a los Usuarios publicar información a
                            través de la utilización de un software desarrollado y de
                            propiedad de Faktor T México,  difundir sus gustos y preferencias
                            sobre la lectura y difundir los eventos que el Usuario organice
                            para la promoción de la lectura.
                        </p>
                        <p>
                            2. Licencia de Software
                        </p>
                        <p>
                            Los Servicios que provee  Querétaro Lee así como todos los
                            derechos de propiedad intelectual inherentes al Software son
                            propiedad exclusiva de Faktor T México. Faktor T México, se
                            reserva todos los derechos sobre el Software que no se le
                            otorgan expresamente al Usuario por el presente.
                        </p>
                        <p>
                            El Usuario no podrá, directa o indirectamente, por sí o a
                            través de terceros, (a) modificar, adaptar, alterar o traducir
                            el Software o crear obras derivadas a partir del Software; o (b)
                            aplicar herramientas de ingeniería inversa para decodificar,
                            decompilar, desensamblar o intentar de cualquier otro modo descifrar
                            el código fuente del Software.
                        </p>
                        <p>
                            3. Responsabilidades
                        </p>
                        <p>
                            Faktor T México  prestará los Servicios en el estado en el que
                            se encuentran, sin prestar ninguna garantía expresa, implícita o
                            legal, incluidas las de disponibilidad, adecuación para usos o
                            sistemas determinados, ausencia de violaciones o errores. Faktor T
                            México  no garantiza el uso continuado e ininterrumpido de  Querétaro
                            Lee, por tal motivo los Usuarios NO podrán imputarle responsabilidad
                            alguna ni exigir pago por lucro cesante, en virtud de perjuicios
                            resultantes de dificultades técnicas o fallas en los sistemas o en
                            Internet o cualquier otro tipo de error.
                        </p>
                        <p>
                            El Usuario reconoce y acepta que las limitaciones de responsabilidad
                            convenidas en los presentes Términos y Condiciones constituyen un
                            elemento esencial del acuerdo y por lo tanto resultan razonables,
                            toda vez que constituyen un elemento esencial para mantener las
                            condiciones económicas del contrato.
                        </p>
                        <p>
                            4. Servicios Adicionales de  Querétaro Lee
                        </p>
                        <p>
                             Querétaro Lee podrá prestar todos o cualquiera de los siguientes
                            Servicios Adicionales que solicite el Usuario, previa aceptación de
                            los términos y condiciones aplicables y el pago de las tarifas, si
                            correspondiera, por parte del Usuario.
                        </p>
                        <p>
                             Querétaro Lee podrá ofrecer otros servicios compatibles y
                            relacionados. Si el Usuario se suscribe a estos servicios adicionales,
                            deberá leer y aceptar los Términos y Condiciones correspondientes a los mismos.
                        </p>
                        <p>
                            Querétaro Lee se reserva el derecho de modificar los Servicios
                            que presta por otros equivalentes o iguales, sin previo aviso.
                        </p>
                        <p>
                            5. Contenido
                        </p>
                        <p>
                            Faktor T México,  no brinda garantía alguna sobre el material
                            contenido o publicado en  Querétaro Lee atento que los mismos
                            son incorporados por terceros a través del Servicio, incluyendo
                            pero no limitado a que la información publicada sea exacta o
                            veraz, como así tampoco asegura que la información suministrada
                            por terceros proveedores de contenido o Usuarios, se encuentre
                            libre de errores o virus, imprecisiones técnicas, etc.
                        </p>
                        <p>
                            La utilización del material o de la información es de exclusiva
                            responsabilidad del Usuario y Faktor T México  no será responsable
                            por los daños o perjuicios de cualquier naturaleza producidos en
                            razón de tales irregularidades, defectos, errores, virus,
                            imprecisiones técnicas, etc.
                        </p>
                        <p>
                            La utilización del material o de la información es de exclusiva
                            responsabilidad del Usuario y Faktor T México  no será responsable
                            por los daños o perjuicios de cualquier naturaleza producidos en
                            razón de tales irregularidades, defectos, errores, virus,
                            imprecisiones técnicas, etc.
                        </p>
                        <p>
                            Faktor T México  no se responsabiliza por la existencia, actualidad,
                            veracidad, privacidad, funcionamiento, modificaciones, contenidos,
                            ofertas y legalidad de los sitios de terceros vinculados en virtud
                            del Servicio denominado  Querétaro Lee.
                        </p>
                        <p>
                            Faktor T México,  no será responsable por las transacciones
                            efectuadas entre Usuarios. El Usuario de  Querétaro Lee no
                            podrá volcar términos o utilizar expresiones injuriosas,
                            intimidatorias, calumniantes o contrarias a las buenas costumbres,
                            no podrá transmitir información o material que pueda, concreta
                            o eventualmente, violar derechos de un tercero o que contenga
                            virus o cualquier otro componente dañino. En todos los casos
                            Faktor T México,  se reserva el derecho de extraer y editar total
                            o parcialmente cualquiera de los contenidos del Sitio
                        </p>
                        <p>
                            El Usuario se obliga a mantener indemne a Faktor T México
                            de toda suma que sea condenada a pagar por daños resultantes
                            de cualquier acto o hecho ilícito imputable al Usuario o a un
                            tercero que utilice la cuenta del Usuario.
                        </p>
                        <p>
                            Querétaro Lee no está obligado a mantener un back-up de la
                            información relacionada con las operaciones del Sitio. El
                            Usuario deberá tomar las medidas que considere adecuadas para
                            mantener dicha información conforme a sus necesidades y exigencias.
                        </p>
                        <p>
                            El Usuario reconoce que, al permitirle publicar y distribuir productos
                            , servicios o Contenido propios o de terceros,  Querétaro Lee y su
                            Software actúan únicamente como canales pasivos para la distribución
                            y/o publicación de dichos bienes, servicios o Contenido. Faktor T México,
                            no revisa ni corrobora el Contenido del Usuario, o de los productos o
                            servicios que allí se ofrecen.
                        </p>
                        <p>
                            Si  Querétaro Lee considera que el Usuario o cualquier producto,
                            servicio, Contenido u otro material en el Sitio o en los Servidores
                            de  Querétaro Lee puede generar algún tipo de responsabilidad para
                            Faktor T México, podrá tomar todas las medidas que considere necesarias
                            en relación con el Contenido, o los materiales del Usuario a fin de
                            evitar cualquier responsabilidad que pudiera recaer sobre Faktor T México, .
                        </p>
                        <p>
                            El Usuario otorga a Faktor T México,  una licencia internacional,
                            irrevocable y gratuita, para la reproducción, distribución, creación
                            de obras derivadas, transmisión, ejecución en público, exhibición pública
                            o digital del Contenido del Usuario en el Sitio
                        </p>
                        <p>
                            Dicha licencia comprende una licencia con fines de acciones
                            de marketing.  Querétaro Lee podrá cargar el Contenido del
                            Sitio a servicios como Google, Yahoo!, Bing entre otros. Si
                            bien el Usuario otorga a  Querétaro Lee una licencia para subir
                            el Contenido  del Usuario en herramientas de Terceros,  Querétaro
                            Lee no está obligado a subir el Contenido.
                        </p>
                        <p>
                            6. Obligaciones del usuario
                        </p>
                        <p>
                            El Usuario reconoce y acepta que es el único responsable por
                            la configuración de su información y por la alimentación de
                            su contenido y su regular funcionamiento. Deberá efectuar
                            las alteraciones que sean necesarias a los fines de adecuar
                            su Contenido a las innovaciones técnicas o medidas de seguridad,
                            o cualquier otro tipo, y de optimización que determine Faktor T México.
                        </p>
                        <p>
                            7. Prohibiciones
                        </p>
                        <p>
                            Está prohibido a los Usuarios instalar, intentar instalar
                            o utilizar cualquier tipo de programa en el servidor, así
                            como realizar cualquier otra práctica que pueda ocasionar
                            algún perjuicio al regular funcionamiento del mismo.
                        </p>
                        <p>
                            Se encuentra prohibido almacenar material pornográfico,
                            racista o que atente contra la moral y las buenas costumbres
                            o que infrinja derechos de terceros así como también almacenar
                            archivos o cualquier otro tipo de contenido no relacionados con
                            comercio electrónico.
                        </p>
                        <p>
                            Se encuentra prohibido utilizar el Servicio para el envío
                            masivo de correo electrónico no solicitado o cualquier otro
                            tipo de correo electrónico que pueda ser considerado como Spam.
                        </p>
                        <p>
                            Se encuentra prohibido utilizar el Servicio para el envío masivo
                            de correo electrónico no solicitado o cualquier otro tipo de correo
                            electrónico que pueda ser considerado como Spam.
                        </p>
                        <p>
                            Está prohibido utilizar el Sitio para hospedar en forma
                            gratuita u onerosa contenido de terceros o sitios web de terceros.
                        </p>
                        <p>
                            Se encuentra prohibido superar o alterar por cualquier medio
                            las limitaciones técnicas del servicio.
                        </p>
                        <p>
                            Se encuentra prohibido llevar a cabo cualquier tipo de acto
                            tendiente a evitar los procedimientos de autenticación o seguridad,
                            componente de red o cuenta de Usuario con el fin de acceder a los datos,
                            cuentas o servidores a los cuales el Usuario no está expresamente
                            autorizado. Esta prohibición se aplica tanto en el caso que el intento
                            exitoso o como también en el caso que el mismo sea fallido, e incluye}
                            el uso no autorizado de scanners u otras herramientas con el fin de
                            lograr accesos no autorizados.
                        </p>
                        <p>
                            Se encuentra terminantemente prohibido el monitoreo no autorizado
                            de datos o de tráfico, así como también la utilización excesiva del
                            ancho de banda mediante la utilización de programas, scripts o
                            comandos para sobrecargar los sitios web de  Querétaro Lee, Faktor T México  o cualquier otro.
                        </p>
                        <p>
                            El Usuario tampoco podrá utilizar dichos servicios para almacenar
                            información que no esté relacionada con las operaciones de Querétaro Lee.
                        </p>
                        <p>
                            El incumplimiento de cualquiera de las disposiciones de los
                            presente Términos y Condiciones por parte del Usuario constituirá
                            una violación del presente y será causal de cancelación y/o extinción
                            inmediata de la relación con Faktor T México, .
                        </p>
                        <p>
                            8. Tarifas
                        </p>
                        <p>
                            No aplica
                        </p>
                        <p>
                            9.- Autorizaciones
                        </p>
                        <p>
                            El Usuario autoriza a Faktor T México,   a acceder a los contenidos
                            del Usuario y archivos adjuntos  siempre que fuera necesario o
                            conveniente para la adecuada prestación del Servicio.
                        </p>
                        <p>
                            Faktor T México  no tendrá obligación de informar a los Usuarios
                            respecto de la realización de interrupciones en el Servicio que fueran
                            necesarias a los fines de su optimización o mantenimiento.
                        </p>
                        <p>
                            Faktor T México  podrá instalar sin autorización de los
                            Usuarios programas de protección o seguridad contra ataques
                            externos, antivirus, firewall, upgrades de software y hardware.
                        </p>
                        <p>
                            10. Consecuencias de incumplimiento
                        </p>
                        <p>
                            En el caso de alguna violación a los Términos y Condiciones,
                            Faktor T México,  podrá - sin necesidad de previa notificación
                            suspender o finalizar algunos o todos los Servicios, bloquear
                            cualquier actividad abusiva y/o tomar cualquier acción que sea
                            considerada apropiada a su exclusivo criterio.
                        </p>
                        <p>
                            Faktor T México,  se reserva el derecho de denunciar tales
                            violaciones a las autoridades pertinentes y revelar cualquier
                            información con la finalidad de cumplir con las leyes, reglamentos
                            y/o a requerimiento de autoridad competente a los efectos de
                            cooperar con las mismas en su resolución.
                        </p>
                        <p>
                            11. Uso ilegal- Abuso
                        </p>
                        <p>
                            Faktor T México,  considerará uso abusivo del Servicio
                            cualquiera de las siguientes acciones que se enumeran en forma no taxativa:
                        </p>
                        <p>
                            1. Acciones que restrinjan o inhiban del uso a cualquier
                            persona del uso de los productos y servicios ofrecidos por Faktor T México, .
                        </p>
                        <p>
                            2. La introducción de programas dañinos o virus en la red o servidores.
                        </p>
                        <p>
                            3. El aprovechamiento de posibles vulnerabilidades presentes en
                            los sitios web de Faktor T México, .
                        <p>
                            4. El hostigamiento a terceros, a redes o servidores, a
                            través de lenguaje, frecuencia o tamaño de mensajes o archivos.
                        </p>
                        <p>
                            5. Fraguar los encabezados de los mensajes o la identidad del remitente
                            , o tomar cualquier otra acción similar con el fin de evitar restricciones
                            o limitaciones en el acceso a un servicio específico o cualquier otro fin.
                        </p>
                        <p>
                            6. Falsificar la identidad o información de contacto así como
                            proveer información falsa, incorrecta o fraudulenta.
                        </p>
                    {% endif %}
                    </div>
                    </div>
                    </div>
                {% elif type == 3 %}
                    <div class="grid-10 container_cuestions">
                        <span class="cuestion" >
                            <span class="title" style="border-top: 1px solid #cdb066;">¿Como me registro en Querétaro Lee?</span>
                            <span class="content">
                                <span>
                                    <p>
										Para registrarte en Querétaro Lee es muy sencillo, solamente
										tienes que oprimir el botón que dice "Únete" y te mostrará un 
										formulario que te pedirá tu información.
										Tambien puedes hacerlo a través de Facebook O Twitter.
                                    </p>
                                </span>
                            </span>
                        </span>
                        <span class="cuestion" >
                            <span class="title">¿Cómo registro mi organización en Querétaro Lee?</span>
                            <span class="content">
                                <span>
                                    <p>
                                        ¿Listo para crear una organización?
                                        Es importante que te inscribas al sitio. Existen
                                        dos formas, directamente introduciendo tu nombre
                                        y una contraseña o utilizando tu cuenta de Facebook.
                                        Ya que te encuentras registrado como usuario,
                                        puede dar de alta una organización.
                                    </p>
                                    <p>
                                        En la parte superior de la página, justo a un
                                        lado del logotipo de Querétaro Lee, se encuentra
                                        la sección “Organizaciones” ingresa a esa sección
                                        y llena el formulario.
                                    </p>
                                    <p>
                                        No olvides oprimir el botón “Guardar” para terminar el proceso
                                    </p>
                                </span>
                            </span>
                        </span>
                        <span class="cuestion" >
                            <span class="title">¿Cómo registro un lugar en Querétaro Lee?</span>
                            <span class="content">
                                <span>
                                    <p>
                                        ¿Listo para dar de alta un lugar?
                                    </p>
                                    <p>
                                        Es importante que te inscribas al sitio. Existen dos formas,
                                        directamente introduciendo tu nombre y una contraseña o utilizando tu cuenta de Facebook.
                                        Ya que te encuentras registrado como usuario, puede dar de alta un lugar.
                                    </p>
                                    <p>
                                        En la parte superior de la página, a la derecha del logotipo de Querétaro Lee,
                                        se encuentra los nombres de varias sección. Selecciona “Lugares” e ingresa los datos que ahí se solicitan.
                                    </p>
                                    <p>
                                        No olvides oprimir el botón “Guardar” para terminar el proceso
                                    </p>
                                </span>
                            </span>
                        </span>
                        <span class="cuestion" >
                            <span class="title">¿Cómo registro un grupo de lectura en Querétaro Lee?</span>
                            <span class="content">
                                <span>
                                    <p>
                                        ¿Tienes ya un grupo operando o quieres iniciar uno?
                                        Tal vez ahora ya estés registrado, así que ve directamente
                                        a la parte superior de esta página y selecciona “Lugares”.
                                        Por favor, ingresa los datos que te solicitan y no olvides
                                        oprimir el botón “Guardar”
                                    </p>
                                </span>
                            </span>
                        </span>
                    </div>
                {% elif type == 4 %}
                    <div class="grid-10 no-margin">
                        <p>
                            Querétaro Lee es una iniciativa de un grupo de personas e
                            instituciones cuya pasión es la lectura y su difusión.
                        </p>
                        <p>
                            Creemos que la lectura es un medio de desarrollo personal
                            y social; creemos que ayuda a la construcción de relaciones
                            sociales más sanas, duraderas y maduras que fortalecen la
                            estructura de la sociedad.
                            Querétaro Lee es un mecanismo articulador de esfuerzos de un
                            gran número de personas, grupos e instituciones que realizan
                            esfuerzos para lograr que Querétaro sea la Capital Mundial de la Lectura.
                        </p>
                    </div>
                {% endif %}
            </span>
        </div>
    </div>

{% endblock %}