{% extends 'base.html' %}
{% load staticfiles %}

{% block style %}
    <link rel="stylesheet" href="{% static "style/theme.css" %}"/>
    <link rel="stylesheet" href="{% static "style/course.css" %}"/>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "js/tiny.js" %}"></script>
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>
    <script type="text/javascript" src="{% static "js/ajax.js" %}"></script>
{% endblock %}


{% block head %}
    {% include 'header.html' %}
{% endblock %}

{% block main_site %}
<input type="hidden" class="object_type" value="C"/>
<input type="hidden" class="entity" value="{{ content.id }}"/>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) return;
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=476600992414046";
     fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div class="grid-16 courses view content">
        <div class="grid-15 load-margin">
        <div class="container_course grid-3 no-margin">
        <a href="/courses/course/{{ content.module_dm.course_dm.id }}"
           class="brown_btn fleft"><span>{{ content.module_dm.course_dm.name }}</span></a>
        <div class="module_act module">
            <span class="title grid-2 no-margin module_title">{{ content.module_dm.name }}</span>
        </div>
        {% for obj in contents %}
            <a href="/courses/content/{{ obj.id }}" class="module_act module {% if obj == content %} sele{% endif %}">
                <img src="/static/img/theme.png">
                <span class="title grid-2 no-margin subtitle">{{ obj.name }}</span>
            </a>
        {% endfor %}
        {% for obj in test %}
            <a href="/courses/test/{{ obj.id }}" class="module_act {% if forloop.last %}bbottom{% endif %} module">
                <img src="/static/img/star_test.png">
                <span class="title grid-2 no-margin subtitle">{{ obj.name }}</span>
            </a>
        {% endfor %}
        </div>
        <div class="grid-12 no-margin view_courser">
            <div class="container_text">
                <span class="grid-7 no-margin">
                    <span class="title">{{ content.name }}</span>
                </span>
            </div>
            <div class="content_text">
                {% autoescape off %}
                    {{ content.text }}
                {% endautoescape %}
            </div>

        <div class="coments grid-10 ">
            <h3 class="title">Comentarios</h3>
                    <span style="display:none;" class="discussion_response main grid-9 no-margin fleft">
                    <span class="respond main fleft">
                        <span class="wrapper no-margin fleft grid-1">
                            <img src="/static/img/create.png" alt=""/>
                        </span>
                        <!-- Gringue -->
                        <span class="grid-8 din-r answer fright no-margin">
                            <span class="name title"><span>Laura Rodríguez</span> <span class="gray_text">hace 3 semanas</span></span>
                            <p>Pellentesque habitant morbi tristique senectus et netus et
                            malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,
                            ultricies eget, tempor sit amet, ante. Donec eu libero sit
                            amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
                            Quisque sit amet est et sapien ullamcorper pharetra.
                            Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi.</p>
                            <span class="respond_btn btn">responder</span>
                            <input type="hidden" class="u_id" value="{{ user.id }}"/>
                            <span class="erase_btn btn">eliminar</span>
                        </span>
                    </span>
                    </span>
                    <div style="display: none;" class="grid-9  discuss no-margin main fright">
                    <span class="respond main fleft">
                        <span class="wrapper no-margin fleft grid-1">
                            <img src="/static/img/create.png" alt=""/>
                        </span>
                        <textarea class="grid-8 din-r no-brradius fright no-margin" style="background: white;">Escribe un comentario...</textarea>
                        <span class="respond_btn main btn">responder</span>
                    </span>
                    </div>
                    <input type="hidden" class="discussion_id" value="{{ discussions.id }}"/>

                    <div class="discussion fleft">
                        <div class="discussion_contents no-margin fleft"></div>
                    </div>
                </div>
        </div>
        </div>
    </div>
{% endblock %}