{% extends 'base.html' %}
{% load staticfiles %}

{% block style %}
    <link rel="stylesheet" href="{% static "style/theme.css" %}"/>
    <link rel="stylesheet" href="{% static "style/course.css" %}"/>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "js/tiny.js" %}"></script>
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>
    <script type="text/javascript" src="{% static "js/ajax.js" %}"></script>
{% endblock %}


{% block head %}
    {% include 'header.html' %}
{% endblock %}

{% block main_site %}
    <div class="grid-16 courses all categ_">
        <div class="grid-15 load-margin">
            <div class="grid-8 no-margin container_text home">
                <span class="gri-7 no-margin">
                    <span class="title">¡Aprende!</span>
                </span>
                <p class="grid-7 no-margin">
                    <img src="/static/img/cup.png" class="fleft" style="padding: 0px 38px;" >
                    Términos y condiciones de uso de Querétaro Lee (propiedad de
                    Faktor T México, S. A. de C. V.) .
                    Este contrato describe los términos y condiciones (los "Términos y
                    Condiciones") aplicables al uso de los servicios ofrecidos por Faktor
                    T México, S.A. de C.V. dentro de los sitios www.qrolee.com, www.queretarolee.com
                    ("Faktor T México " o el "sitio") para su producto " Querétaro Lee"
                    ("el Servicio").
                    Los Términos y Condiciones de Querétaro Lee son parte integrante de
                    los Términos y Condiciones Generales de Faktor T México, S. A. de C. V..
                    Mediante la aceptación de los Términos y Condiciones Generales en el
                    momento del registro el Usuario acepta las políticas aquí contenidas.
                </p>
                <a href="/courses/register_course/" class="brown_btn fleft">Crear nuevo curso</a>
            </div>
            <div class="container_course fright grid-7 no-margin">
                <span class="show_categories" style="display:none;">
                    <span>Ver categorías</span>
                    </span>
                <span class="title title_categ" style="display:none;">
                    <span>Categoria uno</span>
                </span>
                {% for k, v in categories.items %}
                     <span id="{{ k }}" class="item categ " {% if not forloop.last %}style="border-bottom: 0px;" {% endif %}>
                        <span class="container_item">
                            <span class="title grid-4 fleft">{{ v.category.name }}</span>

                            <span class="grid-2 no-margin fright number">
                                <img src="/static/img/course_icon.png" >
                                <span >{{ v.courses|length }}</span>
                            </span>
                            <p class="grid-6 no-margin">
                                {{ v.category.description|truncatechars:190 }}
                            </p>
                        </span>
                    </span>
                    {% for key, value in v.courses.items %}
                        <span id="{{ key }}" class="item item-cours "
                              style="display: none; {% if not forloop.last %}border-bottom: 0px; {% endif %}">
                            <input type="hidden" value="{{ k }}" >
                            {% if value.user_course %}
                                <span class="remove fright" style="display: none;">x</span>
                            {% endif %}
                            <a class="fleft" href="/courses/course/{{ key }}">
                                <span class="container_item">
                                    <span class="title grid-5 fleft">{{ value.course.name }}</span>

                                    <span class="no-margin fright number" style="margin-right: 15px;color: #454545;">
                                        <img  src="/static/img/starn_course.png" >
                                        <span >{{ value.rate }}</span>
                                        <img src="/static/img/modul.png" >
                                        <span >{{ value.count_module }}</span>
                                    </span>

                                    <p class="grid-5 no-margin">
                                        {{ value.course.description|truncatechars:220 }}
                                    </p>
                                </span>
                                </a>
                                {% if value.user_course %}
                                    <span class="edit_wrapper">
                                        <a class="green_btn" href="/courses/edit_course/{{ value.course.id }}"></a>
                                    </span>
                                {% endif %}
                        </span>
                    {% endfor %}
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}