{% extends 'base.html' %}
{% load staticfiles %}

{% block style %}
    <link rel="stylesheet" href="{% static "style/theme.css" %}"/>
    <link rel="stylesheet" href="{% static "style/course.css" %}"/>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "js/tiny.js" %}"></script>
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>
    <script type="text/javascript" src="{% static "js/ajax.js" %}"></script>
{% endblock %}


{% block head %}
    {% include 'header.html' %}
{% endblock %}

{% block main_site %}


    <div id="fb-root"></div>
    <script>(function(d, s, id) {
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) return;
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=476600992414046";
     fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div class="container-16 container_message published" >
        <div class="dialog-confirm"  >
            <div class="dialog_text grid-6 no-margin" >
                <span class="dialog_closet"></span>
                <span>
                    <p class="p_text_dialog">¿Estás seguro que deseas publicar este curso?</p>
                    <p class="p_text_mini">Autores Contemporáneos se mostrará públicamente</p>
                </span>
                <div class="dialog_container_btn">
                    <span class="dialog_btn_cancel dialog_btn">Cancelar</span>
                    <span class="dialog_btn green_btn">Publicar</span>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-16 courses view">
        <div class="grid-15 load-margin">
        <div class="grid-3 contain_course fleft no-margin">
            <a class="brown_btn fleft all_courses" href="/courses/">Ver todos los cursos <img src="" alt=""/></a>
            <div class="container_course grid-3 fleft no-margin">
                    {% for obj in courses %}
                        <a href="/courses/course/{{ obj.id }}" class="item {% if forloop.last %}bbottom{% endif %} {% if obj.id == course.id %} sele {% endif %}"
                             {% if not forloop.last %}style="border-bottom: 0px;" {% endif %}>
                            <div class="container_item">
                                <span class="title fleft">{{ obj.name }}</span>
                            </div>
                        </a>
                    {% endfor %}
            </div>
        </div>
            <div class="grid-12 fleft no-margin view_courser">
                <div class="container_text">
                    <span class="grid-7 no-margin">
                        <span class="title">{{ course.name }}</span>
                    </span>
                    <span class="grid-3 no-margin social_profile" style="cursor: auto;">
                        <span class="btn_fb_profile" >
                            <div class="fb-like" data-href="{{ site_url }}/courses/course/{{ course.id }}"
                                 data-layout="button_count" data-action="like" data-show-faces="true" data-share="false">
                            </div>
                        </span>
                         <span class="btn_fb_profile" >
                            <a href="https://twitter.com/share" class="twitter-share-button" data-text="{{ course.name }}" data-via="QroLee" data-lang="es">Tweet</a>
                            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                        </span>
                    </span>
                    <span class="grid-7 no-margin container_rate text_profile">
                          <span class="container_starts_rate fleft">
                        {% if my_grade == 0 %}
                                {% for x in 'xxxxx' %}
                                    <span class="rate">
                                        {% if forloop.counter <= count_rate %}
                                            <img src="/static/img/comunityStar.png" />
                                        {% else %}
                                            <img src="/static/img/backgroundStar.png" />
                                        {% endif %}
                                        <input class="grade" type="hidden" value="{{ forloop.counter0 }}"/>
                                        <input class="type" type="hidden" value="C"/>
                                        <input class="element_id" type="hidden" value="{{ course.id }}"/>
                                    </span>
                                {% endfor %}
                        {% else %}
                            {% for x in 'xxxxx' %}
                                <span class="rate">
                                    {% if forloop.counter <= count_rate %}
                                        <img src="/static/img/starUser.png" />
                                    {% else %}
                                        <img src="/static/img/backgroundStar.png" />
                                    {% endif %}
                                    <input class="grade" type="hidden" value="{{ forloop.counter0 }}"/>
                                    <input class="type" type="hidden" value="C"/>
                                    <input class="element_id" type="hidden" value="{{ course.id }}"/>
                                </span>
                            {% endfor %}
                        {% endif %}
                    </span>
                    <span class="container_text_rate">
                        <span class="text_rate border_right"> Total: {{ count_rate|floatformat:1 }} </span>
                        {% if count_vot == 0 %}
                            <span class="text_rate"> {{ count_vot }} votaciones </span>
                        {% else %}
                            <span class="text_rate border_right"> {{ count_vot }} votaciones </span>
                        {% endif %}
                            {% if my_grade >= 1 %}
                                <span class="text_rate"> mi voto: {{ my_vot }} </span>
                            {% endif %}
                        </span>
                    </span>
                    <span class="by fleft grid-5">
                        Por
                        {% if course.type == 'E' %}
                            <a href="/qro_lee/entity/organization/{{ course.type_pk }}" class="place_pink">{{ by }}</a>
                        {% else %}
                            <a href="/accounts/users/profile/{{ course.type_pk }}" class="place_pink">{{ by }}</a>
                        {% endif %}

                    </span>
                    <p class="grid-8 no-margin">
                        {{ course.description }}
                    </p>{{ course.ty }}

                    {% if course_owner == user.id %}
                        <span class="contai_btns">
                            {% if not course.published %}
                                <span class="accept fright green_btn_light">Publicar
                                <input type="hidden" value="{{ course.id }}"/>
                                </span>
                            {% endif %}
                            <a href="/courses/edit_course/{{ course.id }}"
                               class="brown_btn fright edit_" style="padding: 0px 9px!important;" >Editar</a>
                            {% if not course.published %}
                                <span class="text_published">Este curso no es público</span>
                            {% endif %}
                        <span>
                    {% endif %}
                </div>

                <ul class="fleft {% if owner %}sortable{% endif %} parent">
                    <input type="hidden" class="model_name" value="course.module"/>


                {% for value in list_modules %}
                    <li id="{{ value.key }}" class="grid-12 no-margin module {% if owner %}ui-state-default{% endif %}" {% if not forloop.last %}style="border-bottom: 0px;"{% endif %} >
                        <div class="grid-4 no-margin">
                            <span class="title">{{ value.module.name }}</span>
                            <p>
                                {{ value.module.text|truncatechars:177 }}
                            </p>
                        </div>
                        <ul style="width: 400px;" class="{% if owner %}sortable{% endif %} child fright">
                        <input type="hidden" class="model_name" value="course.content"/>
                        {% for obj in value.content %}
                            <li id="{{ obj.id }}" class="fleft">
                            <a href="/courses/content/{{ obj.id }}" class="fright">
                                <span class="grid-7 no-margin fright">
                                    <span class="title grid-6 no-margin subtitle"
                                          {% if forloop.last %}style="border-bottom: 0px;"{% endif %}
                                            >{{ obj.name }}</span>
                                    <img src="/static/img/theme.png" />
                                </span>
                            </a>
                            </li>
                        {% endfor %}
                        </ul>
                        <ul style="width: 400px;" class="{% if owner %}sortable{% endif %} child fright">
                        <input type="hidden" class="model_name" value="course.test"/>
                        {% for obj in value.test %}
                            <li id="{{ obj.id }}" class="fleft">
                            <span class="test" class="fright no-margin">
                            <a href="/courses/test/{{ obj.id }}" class="fright">
                                <span class="grid-7 no-margin fright">
                                    <span class="title grid-6 no-margin subtitle"
                                          {% if forloop.last %}style="border-bottom: 0px;"{% endif %}
                                            >{{ obj.name }}</span>
                                    <img src="/static/img/star_test.png" />
                                </span>
                            </a>
                            </span>
                            </li>
                        {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}