{% extends 'base.html' %}
{% load staticfiles %}

{% block style %}
    <link rel="stylesheet" href="{% static "style/register.css" %}"/>
    <link rel="stylesheet" href="{% static "style/theme.css" %}"/>
    <link rel="stylesheet" href="{% static "style/course.css" %}"/>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "js/validation.js" %}"></script>
    <script type="text/javascript" src="{% static "js/tiny.js" %}"></script>
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>
    <script type="text/javascript" src="{% static "js/ajax.js" %}"></script>
    <script src=" {% static "js/tinymce/tinymce.min.js" %}"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: ".textarea_tinymce",
            theme: "modern",
            language: 'es',
            plugins: [
                "advlist autolink lists link image charmap print preview hr anchor pagebreak",
                "searchreplace wordcount visualblocks visualchars code fullscreen",
                "insertdatetime media nonbreaking save table contextmenu directionality",
                "emoticons template paste textcolor "
            ],
            toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft" +
                    " aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
            toolbar2: "print preview media | forecolor backcolor emoticons",
            image_advtab: true,
            resize: false,
            templates: [
                {title: 'Test template 1', content: 'Test 1'},
                {title: 'Test template 2', content: 'Test 2'}
            ]
        });
    </script>
{% endblock %}


{% block head %}
    {% include 'header.html' %}
{% endblock %}

{% block main_site %}

    <div class="container-16 container_message create_module" >
        <div class="dialog-confirm"     style="display: none;" >
            <div class="dialog_text grid-6 no-margin" >
                <span class="dialog_closet"></span>
                <span>
                    <p class="p_text_dialog">Se eliminará La Sombra del Viento tus libros favoritos</p>
                </span>
                <div class="dialog_container_btn">
                    <span class="dialog_btn_cancel dialog_btn">Cancelar</span>
                    <span class="dialog_btn green_btn">Aceptar</span>
                </div>
            </div>
        </div>
        <div class="create-discussion-wrapper margin-50 grid-8 lightbox center" style="display: none;">
            <span class="close"></span>
            <span class="create-discussion grid-7 center">
                <p class="title center">Crea un nuevo módulo</p>
                <p class="fleft labelText">Título del módulo
                    <input type="text" name="name" class="fleft" autocomplete="off"></p>
                <p class="fleft labelText">Descripción del módulo
                    <textarea name="description" class="fleft"></textarea></p>
                <span class="accept green_btn fright">Guardar</span>
                <span class="remove fright">Cancelar</span>
            </span>
        </div>
        <div class="create_content grid-16 courses" style="display: none;">
            <div class="grid-14">
                <div class="heading">
                <h3 class="title title_page fleft">¿Listo para añadir un tema a Módulo 1 ?</h3>
            </div>
                <p>
                    Introduce el nombre de tu tema
                    <p>
                        <input type="text" class="name">
                    </p>
                <p>
                    Escribe el contenido de tu tema
                    <p>
                        <textarea name="text" class="textarea_tinymce textarea_page "></textarea>
                    </p>
                </p>
                <p>
                    <span class="container_btn">
                        <span class="btn_page d-pink_buttom fleft">Cancelar</span>
                        <span class="btn_page btn_save_pag fright">Guardar</span>
                    </span>
                </p>
            </div>
        </div>
   </div>
    <div class="grid-16 courses register_course edit_course">
        <div class="grid-14">
            <span class="grid-8 no-margin title">
                Editar {{ course.0.name }}
            </span>
            <form enctype="multipart/form-data" method="post" id="register_course"  action="/courses/create_object/">{% csrf_token %}
                <p class="grid-8 no-margin field">
                     <span class="attr">Nombre</span>
                        <input name="name" value="{{ course.0.name }}"  />
                </p>
                <p class="grid-8 no-margin field">
                     <span class="attr">Descripción</span>
                    <textarea name="Description"  >{{ course.0.description }}</textarea>
                </p>
                <span class="grid-8 no-margin discussion genre_sel">
                    <span class="fleft">Autor del curso</span>
                    <span class="select_wrapper grid-2 alpha">
                        <span class="grid-2 select sel_val no-margin" style="top: 0px;left: 0px;">
                            <span class="text">Autor del curso</span>
                            <span class="dropdown"></span>
                            <select class="change value" name="privacy">
                                {% for key, value in list_autor.items %}
                                    <option value="{{ value.name }}">
                                        {{ value.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </span>
                    </span>
                </span>
                <span class="grid-3 no-margin fright">
                    <input id="submit" class="accept fright" value="Guardar" type="submit">
                    <span class="remove fright">Cancelar</span>
                </span>
           </form>
            <div class="line_divide fleft"></div>
            <div class="seccion">
                <span class="title">
                    Sección de Módulos
                </span>
                <span class="brown_btn fright create_mod">Crear nuevo módulo</span>
                <div class="item-mod one" style="display: none;">
                    <input type="hidden" value="0" />
                    <div class="grid-7 no-margin part_l">
                        <span class="title grid-6 no-margin"></span>
                        <span class="description grid-6 no-margin">
                        </span>
                        <span class="grid-3 no-margin btns">
                            <span class="pink_btn size_btn_edit btn_delete">
                               <input type="hidden" class="name" value="modulo 1" />
                               <input class="message" type='hidden' value="1"/>
                            </span>
                            <span class="green_btn size_btn_edit del">
                            </span>
                       </span>
                    </div>
                    <div class="grid-7 no-margin part_r">
                        <span class="content">
                            <div class="item_content item_one" style="display: none;">
                                <input type="hidden" value="0">
                                <img src="/static/img/theme.png">
                                <span class="title"></span>
                                <span class="green_btn size_btn_edit del">
                                </span>
                                <span class="pink_btn size_btn_edit btn_delete">
                                    <input type="hidden" class="name" value="tema 1" />
                                    <input class="message" type='hidden' value="2"/>
                                </span>
                            </div>
                            <span class="place_pink">
                                Añadir nuevo tema
                            </span>
                        </span>
                        <span class="test">
                            <div class="item_test test_one" style="display: none;">
                                <input type="hidden" value="0">
                                <img src="/static/img/theme.png">
                                <span class="title"></span>
                            </div>
                            <span class="place_pink">
                                Añadir nueva prueba
                            </span>
                        </span>
                    </div>
                </div>
                {% for key, value in dict_mod.items %}
                    <div class="item-mod" >
                        <input type="hidden" value="0" />
                        <div class="grid-7 no-margin part_l">
                            <span class="title grid-6 no-margin">{{ value.module.name }}</span>
                            <span class="description grid-6 no-margin">{{ value.module.text }}
                            </span>
                            <span class="grid-3 no-margin btns">
                                <span class="pink_btn size_btn_edit btn_delete">
                                   <input type="hidden" class="name" value="modulo 1" />
                                   <input class="message" type='hidden' value="1"/>
                                </span>
                                <span class="green_btn size_btn_edit del">
                                </span>
                           </span>
                        </div>
                        <div class="grid-7 no-margin part_r">
                            <span class="content">
                                <div class="item_content item_one" style="display: none;">
                                    <input type="hidden" value="0">
                                    <img src="/static/img/theme.png">
                                    <span class="title"></span>
                                    <span class="green_btn size_btn_edit del">
                                    </span>
                                    <span class="pink_btn size_btn_edit btn_delete">
                                        <input type="hidden" class="name" value="tema 1" />
                                        <input class="message" type='hidden' value="2"/>
                                    </span>
                                </div>
                                {% for obj in value.content %}
                                    <div class="item_content ">
                                        <input type="hidden" value="0">
                                        <img src="/static/img/theme.png">
                                        <span class="title">{{ obj.name }}</span>
                                        <span class="green_btn size_btn_edit del">
                                        </span>
                                        <span class="pink_btn size_btn_edit btn_delete">
                                            <input type="hidden" class="name" value="tema 1" />
                                            <input class="message" type='hidden' value="2"/>
                                        </span>
                                    </div>
                                {% endfor %}
                                <span class="place_pink">
                                    Añadir nuevo tema
                                </span>
                            </span>
                            <span class="test">
                                <div class="item_test test_one" style="display: none;">
                                    <input type="hidden" value="0">
                                    <img src="/static/img/theme.png">
                                    <span class="title"></span>
                                </div>
                                <span class="place_pink">
                                    Añadir nueva prueba
                                </span>
                            </span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){

            $('#register_course').submit(function(e){
                var valid = true;
                var name = $(this).find('input[name=name]').val();
                var desc = $(this).find('textarea[name=Description]').val();
                course_json['name'] = name;
                course_json['description'] = desc;
                console.log(course_json);
                if(valid){

                    $.ajax({
                        type: "POST",
                        url: $(this).attr('action'),
                        data: {
                            'data': JSON.stringify(course_json),
                            'csrfmiddlewaretoken': csrf_global
                        },
                        dataType: 'json'
                    }).done(function(data) {

                            });
                }

                return false;

            });
        });
    </script>
{% endblock %}