{% extends 'base.html' %}
{% load staticfiles %}
{% load registry_tags %}

{% block style %}
    <link rel="stylesheet" href="{% static "style/register.css" %}"/>
    <link rel="stylesheet" href="{% static "style/registry.css" %}"/>
    <link rel="stylesheet" href="{% static "style/theme.css" %}"/>


{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "js/tiny.js" %}"></script>
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>
    <script type="text/javascript" src="{% static "js/ajax.js" %}"></script>
{% endblock %}

{% block head %}
   {% include 'header.html' %}
{% endblock %}

{% block main_site %}
    <div class="grid-16">
        <div class="grid-16 entity no-margin profile_book">
            <span class="wrapper fleft borde_author borde_title">
                {% if not book.picture %}
                    <img class="img_size_all" src="/static/img/create.png" alt="{{ book.title }}"/>
                {% else %}
                    <img class="img_size_all" src="{{ book.picture }}"
                         alt="{{ book.picture }}"/>
                {% endif %}
            </span>
                <span class="general-info no-margin grid-7">
                <h3 class="title d-title_profile" >
                    {{ book.title|title }}
                </h3>
                <p class="text_profile">
                    {% if name_author != 'autor anonimo' %}
                        <a href="/qro_lee/profile/author/{{ id_author }}"
                           class="title_author name_author" >
                            {{ name_author|truncatechars:19 }}
                        </a>
                    {% else %}
                        <a class="title_author name_author" >
                            {{ name_author|truncatechars:19 }}
                        </a>
                    {% endif %}
                </p>
                <span class="grid-9 no-margin ">
                    <p class="text_profile">
                        Autor: {{ book.author }}
                    </p>
                </span>
                <span class="grid-9 no-margin ">
                    <p class="text_profile">
                       Género: {{ book.genre }}
                    </p>
                </span>
                <span class="grid-9 no-margin ">
                    <p class="text_profile">
                        Creado por:
                        <span class="title_author">
                            {{ book.user.username }}
                        </span>
                        {% if create_user %}
                            {{ create_user.0.address }}
                        {% endif %}
                    </p>
                </span>

                <span class="grid-9 no-margin ">
                    <p class="text_profile">
                        {% if not count_user %}
                            nadie se ha encontrado este libro
                        {% endif %}
                        {% if count_user and count_user|length == 1 %}
                            una persona se ha encontrado este libro
                        {% endif %}
                        {% if count_user and count_user|length > 1  %}
                            {{ count_user|length }}
                            personas han encontrado este libro
                        {% endif %}
                    </p>
                </span>
            </span>
            <span class="grid-6 no-margin fright">
                    {% if status_book.status %}
                        <span style="background: url(/static/img/book_free.png) no-repeat 0px 0px;
                         height: 100px;width: 100px;float: left;"></span>
                        <span class="title grid-4" style="margin-top: 20px;margin-left: 10px;">Este libro está vagando</span>
                    {% elif not status_book.status %}
                        <span style="background: url(/static/img/book_user.png) no-repeat 0px 0px;
                        height: 100px;width: 100px;float: left;"></span>
                        <span class="title grid-4" style="margin-top: 20px;margin-left: 10px;">Este libro lo encontró {{ find_user.name }}</span>
                        <span class="text_by grid-4"></span>

                    {% endif %}
                </span>
            <div class="grid-16 content book_cro single no-margin">
                <div class="grid-15 no-margin">
                    <input type="hidden" value="{{ book.code }}" class="code_book"/>
                    <input type="hidden" value="2" class="type_"/>
                    <div class="grid-15 no-margin no-pandding book_register">
                        {% if cheking %}
                            {% if user.is_active %}
                                <div class="grid-5 no-margin">
                                    <span class="title grid-5 no-margin title_uno">Selecciona una opcion</span>
                                    <input type="hidden" class="address" value="" />
                                    <span class="value_option" >
                                        {% if status_book.status %}
                                            <input type="hidden" value="1" />
                                            <span class="grid-5 no-margin btn_ra find">
                                                <img src="/static/img/radioOn.png" class="radio_btn radio_buttom fleft">
                                                <span class="fleft">Encontré este libro y lo estoy leyendo</span>
                                            </span>
                                            <span class="grid-5 no-margin btn_ra lib">
                                                <img src="/static/img/radioOff.png" class="radio_btn fleft radio_buttom">
                                                <span class="fleft">Deseo liberar este libro</span>
                                            </span>
                                        {% else %}
                                            <input type="hidden" value="0" />
                                            <span class="grid-5 no-margin find">
                                                <img src="/static/img/radioOff.png" class="radio_btn radio_buttom fleft">
                                                <span class="fleft">Encontré este libro y lo estoy leyendo</span>
                                            </span>
                                            <span class="grid-5 no-margin lib">
                                                <img src="/static/img/radioOn.png" class="radio_btn fleft radio_buttom">
                                                <span class="fleft">Deseo liberar este libro</span>
                                            </span>
                                        {% endif %}
                                    </span>
                                    <span class="title grid-5 text_1 no-margin">¿ Dónde encontraste este libro ?</span>
                                    <span class="grid-5 no-margin discussion selec_reg">
                                        <span class="select_wrapper grid-5 alpha">
                                            <span class="grid-3 select sel_val no-margin">
                                                <span class="text">Pais</span>
                                                <span class="dropdown"></span>
                                                <select class="change value" name="privacy">
                                                    <option value="Mexico">México</option>
                                                    <option value="España">España</option>
                                                </select>
                                            </span>
                                        </span>
                                        <span class="select_wrapper grid-5 alpha">
                                            <span class="grid-3 select sel_val no-margin">
                                                <span class="text">Estado</span>
                                                <span class="dropdown"></span>
                                                <select class="change value" name="privacy">
                                                    <option value="Guanajuato">Guanajuato</option>
                                                    <option value="Queretaro">Queretaro</option>
                                                </select>
                                            </span>
                                        </span>
                                        <span class="select_wrapper grid-5 alpha">
                                            <span class="grid-3 select sel_val no-margin">
                                                <span class="text">Ciudad</span>
                                                <span class="dropdown"></span>
                                                <select class="change value" name="privacy">
                                                    <option value="moroleon">Moroleon</option>
                                                    <option value="uriangato">Uriangato</option>
                                                    <option value="Queretaro">Queretaro</option>
                                                </select>
                                            </span>
                                        </span>
                                    </span>
                                    <span class="title grid-5 text_2 no-margin">
                                        Más información de donde encontraste el libro
                                    </span>
                                    <span class="grid-5 no-margin">
                                        <input type="text"
                                               placeholder="en el café, en el restaurante, en la plaza"
                                               class="meta" />
                                    </span>
                                    <span class="title grid-5 no-margin">
                                        Comentario del libro
                                    </span>
                                    <span class="grid-5 no-margin">
                                        <textarea class="text_descrip grid-5 no-margin"></textarea>
                                    </span>
                                </div>
                                <div class="grid-10 no-margin map_book_reg">
                                    <input type="hidden" value="20.0000,-100.090909" class="lat_long" />
                                    <div id="reg_map" class="grid-10 no-margin map_crossing"></div>
                                     <span class="pixeles grid-10 recomendation" style="left:30px;" >
                                        Arrastra el ping para poner más precisa tu ubicación
                                    </span>
                                    <span class="grid-6 fright no-margin">
                                        <span class="btn_reg fleft">Registrar</span>
                                    </span>
                                </div>
                        {% else %}
                            <div class="grid-15 no-margin no-pandding ">
                                <span class="container_tab" >
                                    <span class="grid-7 tab_1 container_pop no-margin center">
                                        <input type="hidden" class="address" value="" />
                                        <span class="title grid-7 no-margin">
                                            Ingresa tu encuentro con este Libro Vagabungo
                                        </span>
                                        <form id="form_login" method="post" class="login grid-3 no-margin"
                                              action="/registry/login/" style="display: block;">
                                            {% csrf_token %}
                                            <p>
                                                <span class="text_field">Usuario</span>
                                                <input name="username" class="required" type="text">
                                            </p>
                                            <p>
                                                <span class="text_field">Contraseña</span>
                                                <input name="password" class="required" type="password">
                                            </p>
                                            <p>
                                                <input value="Ingresar" class="int_btn" type="submit">
                                            </p>
                                        </form>
                                        <span class="title log grid-3 no-margin">
                                            Ingresa con
                                        </span>
                                        <a class="social fleft" href="">
                                            <span style="background: url('/static/img/social_login.png') no-repeat 0px 0px" class="fb_btn"></span>
                                        </a>
                                        <a class="social fleft" href="">
                                            <span style="background: url('/static/img/social_login.png') no-repeat 0px -20px" class="twitter_btn"></span>
                                        </a>
                                        <span class="grid-3 text_log no-margin">
                                            ¿no tienes cuenta?
                                            <span class="title_author btn_fr t_1 cursor_p">
                                                ingresa aquí
                                           Ingresar como usuario anónimo
                                            </span>
                                        </span>
                                        <img class="shadow" src="/static/img/form_shadow.png" alt="">
                                    </span>
                                    <span class="tab_2" style="display: none;height: 250px;">
                                        <div class="grid-5 no-margin">
                                    <span class="title grid-5 no-margin title_uno">
                                        Registrarse como usuario anómino
                                    </span>
                                    <span class="title grid-5 no-margin">
                                        Nombre
                                    </span>
                                    <span class="grid-5 no-margin">
                                        <input type="text" value="" class="name_ext" />
                                    </span>
                                    <span class="title grid-5 no-margin ">
                                        Email
                                    </span>
                                    <span class="grid-5 no-margin">
                                        <input type="text" value="" class="email_ext" />
                                    </span>
                                    <span class="title grid-5 no-margin ">Selecciona una opcion</span>
                                    <span class="value_option" >
                                        {% if status_book.status %}
                                            <input type="hidden" value="1" />
                                            <span class="grid-5 no-margin btn_ra find">
                                                <img src="/static/img/radioOn.png" class="radio_btn radio_buttom fleft">
                                                <span class="fleft">Encontré este libro y lo estoy leyendo</span>
                                            </span>
                                            <span class="grid-5 no-margin btn_ra lib">
                                                <img src="/static/img/radioOff.png" class="radio_btn fleft radio_buttom">
                                                <span class="fleft">Deseo liberar este libro</span>
                                            </span>
                                        {% else %}
                                            <input type="hidden" value="0" />
                                            <span class="grid-5 no-margin find">
                                                <img src="/static/img/radioOff.png" class="radio_btn radio_buttom fleft">
                                                <span class="fleft">Encontré este libro y lo estoy leyendo</span>
                                            </span>
                                            <span class="grid-5 no-margin lib">
                                                <img src="/static/img/radioOn.png" class="radio_btn fleft radio_buttom">
                                                <span class="fleft">Deseo liberar este libro</span>
                                            </span>
                                        {% endif %}
                                    </span>
                                    <span class="title grid-5 text_1 no-margin">¿ Dónde encontraste este libro ?</span>
                                    <span class="grid-5 no-margin discussion selec_reg">
                                        <span class="select_wrapper grid-5 alpha">
                                            <span class="grid-3 select sel_val no-margin">
                                                <span class="text">Pais</span>
                                                <span class="dropdown"></span>
                                                <select class="change value" name="privacy">
                                                    <option value="Mexico">México</option>
                                                    <option value="España">España</option>
                                                </select>
                                            </span>
                                        </span>
                                        <span class="select_wrapper grid-5 alpha">
                                            <span class="grid-3 select sel_val no-margin">
                                                <span class="text">Estado</span>
                                                <span class="dropdown"></span>
                                                <select class="change value" name="privacy">
                                                    <option value="Guanajuato">Guanajuato</option>
                                                    <option value="Queretaro">Queretaro</option>
                                                </select>
                                            </span>
                                        </span>
                                        <span class="select_wrapper grid-5 alpha">
                                            <span class="grid-3 select sel_val no-margin">
                                                <span class="text">Ciudad</span>
                                                <span class="dropdown"></span>
                                                <select class="change value" name="privacy">
                                                    <option value="moroleon">Moroleon</option>
                                                    <option value="uriangato">Uriangato</option>
                                                    <option value="Queretaro">Queretaro</option>
                                                </select>
                                            </span>
                                        </span>
                                    </span>
                                    <span class="title grid-5 text_2 no-margin">
                                        Más información de donde encontraste el libro
                                    </span>
                                    <span class="grid-5 no-margin">
                                        <input type="text"
                                               placeholder="en el café, en el restaurante, en la plaza"
                                               class="meta" />
                                    </span>
                                    <span class="title grid-5 no-margin">
                                        Comentario del libro
                                    </span>
                                    <span class="grid-5 no-margin">
                                        <textarea class="text_descrip grid-5 no-margin"></textarea>
                                    </span>
                                </div>
                                <div class="grid-10 no-margin map_book_reg">
                                    <input type="hidden" value="20.0000,-100.090909" class="lat_long" />
                                    <div id="reg_map" class="grid-10 no-margin map_crossing"></div>
                                    <span class="grid-6 fright no-margin">
                                        <span class="btn_reg fleft">Registrar</span>
                                    </span>
                                </div>

                                    </span>

                                </span>
                            </div>
                        {% endif %}
                        {% endif %}
                    </div>
                    <div class="grid-15 no-margin no-pandding">
                        <div class="grid-7 no-margin ">
                            <span class="title grid-6 no-margin title_part_2">
                                {% if count_user|length == 0  and count_user %}
                                    nadie se ha encontrado este libro
                                {% endif %}
                                {% if count_user|length == 1  and count_user %}
                                    una persona se ha encontrado este libro
                                {% endif %}
                                {% if count_user|length > 1 and count_user  %}
                                    {{ count_user|length }}
                                    personas han encontrado este libro
                                {% endif %}
                            </span>
                            {% for obj, value in list_users.items %}

                                <div class="discussion disc_book">
                                    <div class="grid-7 discuss fleft">
                                    </div>
                                    <span class="discussion_response fleft">
                                        <span class="respond main fleft">
                                        <span class="wrapper no-margin fleft grid-1">
                                            {% if value.picture %}
                                                <img src="/static/media/users/{{ value.travel.user }}/profile/{{ value.picture }}" alt=""/>
                                            {% else %}
                                                <img src="/static/img/create.png" alt=""/>
                                            {% endif %}
                                        </span>
                                        <span class="grid-6 din-r answer fright no-margin">
                                            <span class="name title grid-6 no-margin ">
                                                {{ value.user }}
                                            </span>
                                            <span class="gray_text grid-6 no-margin " >
                                                {% if not value.travel.status %}
                                                    encontrado
                                                {% else %}
                                                    liberado
                                                {% endif %}
                                                 el {{ value.travel.date }} en
                                                {{ value.travel.meta }}, {{ value.travel.address }}
                                            </span>
                                            <p>
                                                {{ value.travel.description}}
                                            </p>
                                            </span>
                                        </span>
                                    </span>
                                    <span class="grid-7 no-margin line_divide"></span>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="grid-8 no-margin book_travel">
                            <span class="title grid-6 no-margin title_part_2">
                                Esta libro ha viajado por
                            </span>
                            <div id="map" class="grid-8 no-margin map_crossing"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}