{% extends 'base.html' %}
{% load staticfiles %}
{% load registry_tags %}

{% block style %}
    <link rel="stylesheet" href="{% static "style/register.css" %}"
          xmlns="http://www.w3.org/1999/html"/>
    <link rel="stylesheet" href="{% static "style/theme.css" %}"
          xmlns="http://www.w3.org/1999/html"/>

{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "js/tiny.js" %}"></script>
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>
    <script type="text/javascript" src="{% static "js/ajax.js" %}"></script>
{% endblock %}

{% block head %}
    {% if user.is_active %}
        {% include 'header.html' %}
    {% endif %}
{% endblock %}

{% block main_site %}
    <div class="grid-16 book_crossing">
        <div class="tag t_1 act_tag">
            <div class="grid-14 wallpaper ">
                <span class="title title_cross grid-5">Libros vagabundos</span>
                <span class="icon grid-13 container_icons" >
                    <span class="icon_1"
                          style='background-image: url("/static/img/welcome_icons_set1.png");'>
                    </span>
                    <span class="icon_flet"></span>
                    <span class="icon_1"
                          style='background: url("/static/img/welcome_icons_set1.png") no-repeat -17px -170px'>
                    </span>
                    <span class="icon_flet"></span>
                    <span class="icon_2"
                          style='background: url("/static/img/welcome_icons_set2.png") no-repeat -42px -11px;'>
                    </span>
                </span>
                <span class="icons_center">
                    <span class="grid-10 title text_descrip pos_center">
                        Los libros vagabundos son libros que han ido dejando las
                        <br>personas alrededor de Querétaro y el mundo,
                        <br>es muy sencillo encontrar libros y compartirlos con los demás
                    </span>
                </span>
                <span class="icons_center icons_arrows">
                    <span class="grid-6 pos_center">
                        <span class="btn_step tag_btn t_2">Encontre un libro</span>
                        <span class="icon_arrow"></span>
                        <span class="btn_step tag_btn t_3">Libera un libro</span>
                    </span>
               </span>
               <div id="map" class="grid-14 map_crossing no-margin"></div>
            </div>
            <div class="grid-15">
                <span class="grid-7 no-margin mar_rig ">
                    <span class="title grid-4">Últimos libros liberados</span>
                        <div class="viewport container_crossing">
                            {% for obj in books_1 %}
                                <span class="grid-7 no-margin container_mini_crossing">
                                    <span class="grid-3 wrapper_mini_crossing borde_author">
                                        {% if not obj.book.picture %}
                                            <img class="img_size_all" src="/static/img/create.png" />
                                        {% else %}
                                            <img class="img_size_all"
                                                 src="{{ obj.book.picture }}" />
                                        {% endif %}
                                    </span>
                                    <span class="title titles_mini_crossing grid-4 no-margin ">
                                        {{ obj.book.title }}
                                    </span>
                                    <span class="grid-4 no-margin text_top title_author">J.K Rowling</span>
                                    <span class="grid-3 no-margin text_top">Liberado por
                                        <span class="place_pink">{{ obj.user.username }}</span>
                                    </span>
                                    <span class="grid-2 text_since no-margin d-text_opacity text_top">
                                        hace {{ obj.book.date|member_since }}
                                    </span>
                                </span>
                            {% endfor %}
                        </div>
                    {% if books_1 and books_1|length > 3 %}
                        <span class="grid-3 no-margin place_pink show_t">
                            <span>Ver todos</span>
                            <input type="hidden" value="1"/>
                        </span>
                    {% endif %}
                </span>
                <span class="grid-7 no-margin border_left">
                    <div class="right_marg">
                        <span class="title grid-4">Últimos libros encontrados</span>
                            <div class="viewport container_crossing">
                                {% for obj in books_2 %}
                                    <span class="grid-7 no-margin container_mini_crossing">
                                        <span class="grid-3 wrapper_mini_crossing borde_author">
                                            {% if not obj.book.picture %}
                                                <img class="img_size_all" src="/static/img/create.png" />
                                            {% else %}
                                                <img class="img_size_all"
                                                     src="{{ obj.book.picture }}" />
                                            {% endif %}
                                        </span>
                                        <span class="title titles_mini_crossing grid-4 no-margin ">
                                            {{ obj.book.title }}
                                        </span>
                                        <span class="grid-4 no-margin text_top title_author">J.K Rowling</span>
                                        <span class="grid-3 no-margin text_top">Encontrado por
                                            <span class="place_pink">{{ obj.user.username }}</span>
                                        </span>
                                        <span class="grid-2 no-margin text_since d-text_opacity text_top">
                                            hace {{ obj.book.date|member_since }}
                                        </span>
                                    </span>
                                {% endfor %}
                            </div>
                        {% if books_2 and books_2|length > 3 %}
                            <span class="grid-3 no-margin place_pink show_t">
                                <span>Ver todos</span>
                                <input type="hidden" value="1"/>
                            </span>
                        {% endif %}
                    </div>
                </span>

            </div>
        </div>
        <div class="tag t_2 ">
            <div class="grid-14 wallpaper ">
                <span class="title title_cross grid-5">Libros vagabundos</span>
                <span class="text_search" >
                    Introduce el codigo del libro Vagabundo para entrar al perfíl
                    del libro que encontraste
                </span>
                <div class="form-container center form_bottom" style="display: block
                ;margin-top: 80px">
                    <p class="title"><span>Codigo Libro Vagabundo</span>
                        <a class="close right tag_btn t_1" ></a>
                    </p>
                    <form id="form_search" method="post" class="login grid-4 center" style="display: block;">
                        {% csrf_token %}
                        <span class="banner"></span>
                        <p>
                            <span class="text_field">Inserta aquí tu codigo</span>
                            <input name="codec" class="required value_field" type="text">
                        </p>
                        <p>
                            <input value="Buscar" class="int_btn" type="submit">
                        </p>
                    </form>
                    <img class="shadow" src="/static/img/form_shadow.png" alt="">
                </div>
            </div>
        </div>
        <div class="tag t_3 ">
        <div class="grid-14 wallpaper ">
            <span class="title title_cross grid-5">¿Deseas donar un libro al mundo?</span>
            <span class="text_search" >
                Ingresa el ISBN del libro que deseas liberar
            </span>
            <div class="form-container center form_bottom" style="display: block
            ;margin-top: 80px">
                <p class="title"><span>Codigo ISBN</span>
                    <a class="close right tag_btn t_1" ></a>
                </p>
                <form id="form_isbn" method="post" class="login grid-4 center isbn"
                      style="display: block;" action="/registry/register_book/">
                    {% csrf_token %}
                    <span class="banner"></span>
                    <p>
                        <span class="text_field">Inserta aquí tu código</span>
                        <input name="isbn" class="required value_field" type="text">
                    </p>
                    <p>
                        <input type="hidden" class="api_type" name="api_type" value="google_api"/>
                        <input value="Buscar" class="int_btn" type="submit">
                    </p>
                </form>
                <img class="shadow" src="/static/img/form_shadow.png" alt="">
            </div>
        </div>
    </div>
    </div>
{% endblock %}
