{% extends 'base.html' %}
{% load staticfiles %}
{% load registry_tags %}

{% block style %}
    <link rel="stylesheet" href="{% static "style/theme.css" %}"/>
    <link rel="stylesheet" href="{% static "style/registry.css" %}"/>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "js/tiny.js" %}"></script>
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>
    <script type="text/javascript" src="{% static "js/ajax.js" %}"></script>
    <script type="text/javascript" src="{% static "js/validation.js" %}"></script>

{% endblock %}

{% block head %}
    {% include 'header.html' %}
{% endblock %}

{% block main_site %}
    <div class="wrapper_message">
        <div class="container-16 container_message">
            <div class="alert-message gray">{% csrf_token %}
                <p>Para poder ser miembro, tu solicitud será enviada al
                    administrador del group</p>
                <form class="no_ajax fleft" action="/qro_lee/entity/{{ entity_type.1 }}/{{ entity.id }}/" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="follow_private" value="1"/>
                    <input type="submit" class="accept green_btn" value="Acceptar">
                </form>
                <span class="reject fleft">Rechazar</span>
                <input class="user" type="hidden"/>
                <input class="entity" value="{{ entity.id }}" type="hidden"/>
            </div>
            {% if entity_type.1 ==  'group' and member %}
                <div style="display:none;" class="create-discussion-wrapper margin-50 grid-8 lightbox center">
                    <span class="close"></span>
                <span class="create-discussion grid-7 center">
                    <p class="title center">Crea una nueva discusión</p>
                    <p class="fleft">Titulo de la discusión
                        <input type="text" name="name" class="fleft"/></p>
                    <p class="fleft">Contenido de la discusión
                        <textarea name="content" class="fleft" ></textarea></p>
                    <span class="remove fright">Rechazar</span>
                    <span class="accept green_btn fright">Guardar</span>
                </span>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="wrapper_message " >
        <div class="container-16 container_message_2">
            <div class="dialog-confirm" >
            </div>
        </div>
    </div>
    <div class="grid-16 {{ entity.type.name }}">
    <input type="hidden" class="d-entity_id" value="{{ entity.id }}"/>
    <input type="hidden" class="d-name_ent" value="{{ entity.name }}"/>
    <input type="hidden" class="type" value="{{ entity.type }}"/>
    <input type="hidden" class="lat" value="{{ entity.lat }}"/>
    <input type="hidden" class="long" value="{{ entity.long }}"/>
    <div class="grid-16 entity no-margin">
    {% if owner.id != user.id %}

        {% if entity_type.1 == 'group' or entity_type.1 == 'spot' %}
            <span class="member grid-3">
                <span class="grid-3 no-margin fright">
                    {% if member and entity.privacy == 0 %}
                        <form id="form_member" class="no_ajax fleft" action="/qro_lee/entity/{{ entity_type.1 }}/{{ entity.id }}/" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="membership" value="-1"/>
                            <input type="submit" class="btn " value="Eres seguidor">
                        </form>

                    {% elif member and entity.privacy != 0 %}

                        <form class="no_ajax fleft" action="/qro_lee/entity/{{ entity_type.1 }}/{{ entity.id }}/" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="follow_private" value="-1"/>
                            <input type="submit" class="btn" value="Eres seguidor">
                        </form>

                    {% else %}

                        {% if entity.privacy == 1 %}
                            {% if request_sent %}
                            <span style="width: 100px;left: -30px;position: relative;" class="btn no-action no-ajax fleft">Solicitud enviada</span>
                            <p class="private-icon fright">
                                <img src="/static/img/private_icon.png" alt=""/><span class="fright">Organizacion <br> Privada</span>
                            </p>
                            {% else %}
                            <span class="btn no-ajax fleft">Seguir</span>
                            <p class="din-r followers fleft">{{ followers|total_members }} miembros</p>
                            <p class="private-icon fright">
                                <img src="/static/img/private_icon.png" alt=""/>
                                <span class="fright">{{ entity_type.1 }} <br>
                                    {% if entity_type.1 == 'group' %}
                                        Privado
                                    {% else %}
                                        Privada
                                    {% endif %}
                                </span>
                            </p>
                            {% endif %}
                        {% else %}
                            <form class="no_ajax fleft" action="/qro_lee/entity/{{ entity_type.1 }}/{{ entity.id }}/" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="membership" value="1"/>
                                <input type="submit" class="btn " value="Seguir">
                            </form>

                        {% endif %}
                    {% endif %}
                </span>
                </span>
        {% endif %}

        {% if entity_type.1 == 'organization' %}
            <span class="member grid-6 no-margin">
                <span class="grid-3 no-margin fright">

                {% if member and entity.privacy == 0 %}
                    <form class="no_ajax fright" action="/qro_lee/entity/{{ entity_type.1 }}/{{ entity.id }}/" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="membership" value="-1"/>
                        <input type="submit" class="btn " value="Eres seguidor">
                    </form>
                {% elif member and entity.privacy != 0 %}

                    <form id="form_member" class="no_ajax fright" action="/qro_lee/entity/{{ entity_type.1 }}/{{ entity.id }}/" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="follow_private" value="-1"/>
                        <input type="submit" class="btn" value="Eres seguidor">
                    </form>
                {% else %}

                    {% if entity.privacy != 0 and not request_sent %}
                        <span class="btn no-ajax fright">Seguir</span>
                            <p class="private-icon fright">
                                <img src="/static/img/private_icon.png" alt=""/><span class="fright">Organizacion <br> Privada</span>
                            </p>
                    {% else %}
                        {% if request_sent %}
                            <span style="width: 100px;left: -30px;position: relative;" class="btn no-action no-ajax fleft">Solicitud enviada</span>
                            <p class="private-icon fright">
                                <img src="/static/img/private_icon.png" alt=""/><span class="fright">Organizacion <br> Privada</span>
                            </p>
                        {% else %}
                            <form class="no_ajax fright" action="/qro_lee/entity/{{ entity_type.1 }}/{{ entity.id }}/" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="membership" value="1"/>
                                <input type="submit" class="btn " value="Seguir">
                            </form>
                        {% endif %}
                    {% endif %}

                {% endif %}

                </span>
            </span>
        {% endif %}
    {% else %}
        {% block entity_menu %}
            {% include 'blocks/entity_menu.html' %}
        {% endblock %}
    {% endif %}
    <span class="wrapper fleft">
            {% if entity.picture == '' %}
                <img src="/static/img/create.png" class="img_size_all" alt="{{ entity.name }}"/>
            {% else %}
                {% if owner.id == user.id %}
                    <a href="/registry/edit/{{ entity.id }}">
                        <span class="brown_btn edit edit_entity" style="background: url('/static/img/btn_edit.png')no-repeat 8px 8px;" >
                        </span>
                    </a>
                {% endif %}
                <img class="img_size_all" src="/static/media/users/{{ owner.id }}/entity/{{ entity.picture }}" alt="{{ entity.name }}"/>
            {% endif %}
        </span>
        <span class="general-info no-margin grid-7">
            <h3 class="title {{ entity.type.name }}">{{ entity.name|capfirst }}</h3>
            <span class="social grid-7 no-margin">
                {% if entity.fb != '' %}
                    <a href="https://facebook.com/{{ entity.fb }}" target="_blank">
                        {% if entity_type.1 == 'group' %}
                            <img src="/static/img/single_fb.png" alt=""/>
                        {% elif entity_type.1 == 'spot' %}
                            <img src="/static/img/ssingle_fb.png" alt=""/>
                        {% else %}
                            <img src="/static/img/gsingle_fb.png" alt=""/>
                        {% endif %}
                    </a> <img src="{% static "img/social_divider.png" %}" alt=""/>
                {% endif %}
                {% if entity.twitter != '' %}
                    <a href="http://twitter.com/{{ entity.twitter }}" target="_blank">
                        {% if entity_type.1 == 'group' %}
                            <img src="/static/img/single_twitter.png" alt=""/>
                        {% elif entity_type.1 == 'spot' %}
                            <img src="/static/img/ssingle_twitter.png" alt=""/>
                        {% else %}
                            <img src="/static/img/gsingle_twitter.png" alt=""/>
                        {% endif %}
                    </a> <img src="{% static "img/social_divider.png" %}" alt=""/>
                {% endif %}
                {% if entity.website != '' %}
                    <a href="{{ entity.website }}" target="_blank">
                        {% if entity_type.1 == 'group' %}
                            <img src="/static/img/single_world.png" alt=""/>
                        {% elif entity_type.1 == 'spot' %}
                            <img src="/static/img/ssingle_world.png" alt=""/>
                        {% else %}
                            <img src="/static/img/gsingle_world.png" alt=""/>
                        {% endif %}
                    </a>
                {% endif %}
            </span>
            {% if entity_type.1 != 'group' %}
                <span class="grid-7 no-margin container_rate">
                    <span class="container_starts_rate fleft">
                        {% if my_grade == 0 %}
                            {% for x in range %}
                                <span class="rate">
                                    {% if x < count_rate %}
                                        <img src="/static/img/comunityStar.png" />
                                    {% else %}
                                        <img src="/static/img/backgroundStar.png" />
                                    {% endif %}
                                    <input class="grade" type="hidden" value="{{ x }}"/>
                                    <input class="type" type="hidden" value="E"/>
                                    <input class="element_id" type="hidden" value="{{ entity.id }}"/>
                                </span>
                            {% endfor %}
                        {% else %}
                            {% for x in range %}
                                <span class="rate">
                                    {% if x < count_rate %}
                                        <img src="/static/img/starUser.png" />
                                    {% else %}
                                        <img src="/static/img/backgroundStar.png" />
                                    {% endif %}
                                    <input class="grade" type="hidden" value="{{ x }}"/>
                                    <input class="type" type="hidden" value="E"/>
                                    <input class="element_id" type="hidden" value="{{ entity.id }}"/>
                                </span>
                            {% endfor %}
                        {% endif %}
                    </span>
                    <span class="container_text_rate">
                    <span class="text_rate border_right"> Total: {{ count_rate|floatformat:1 }} </span>
                    <span class="text_rate border_right"> {{ count_vot }} votaciones </span>
                        {% if my_grade >= 1 %}
                            <span class="text_rate"> mi voto: {{ my_vot }} </span>
                        {% endif %}
                    </span>
               </span>
            {% endif %}
            {% if entity_type.1 == 'group' %}
                <input type="hidden" class="id_group_red" value="{{ entity.id }}" />
                <p class="din-r grid-6 alpha omega desc_group">
                    {{ entity.description|truncatewords:30 }}
                </p>
            {% else %}
                <p class="din-r grid-6 alpha omega">
                    {{ entity.description|truncatewords:30 }}
                </p>
            {% endif %}
        </span>
        <span class="nav {{ entity_type.1 }} grid-9 no-margin">
            <span class="btn">Actividad</span>
            <span class="btn">Información General</span>
            <span class="btn">Eventos</span>
            {% if entity_type.1  == 'group' %}
                <span class="btn">Miembros</span>
            {% endif %}
            {% if entity_type.1  == 'group' %}
                <span class="btn">Discusiones</span>
            {% endif %}
        </span>

    </div>

    <div class="grid-16 content single no-margin">
    <div class="grid-16 news-feed load no-margin" style="display: block">
        {% if entity.privacy == 0 or member or owner.id == user.id %}

        <div class="grid-9 load-margin left">
            <h3 class="title">Actividad reciente</h3>
            {% if activity  %}
            <div style="margin:0px;" id="scrollbar1" class="fleft">
                <div class="scrollbar" ><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                <div class="viewport">
                    <div class="overview">
                        {% for news_feed in activity %}
                            {% autoescape off %}
                                {{ news_feed.id|feed_type }}
                            {% endautoescape %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% else %}
                <p>No hay actividad reciente</p>
            {% endif %}
        </div>
            <div class="coments load-margin grid-10 no-margin">
                {% load disqus_tags %}
                {% set_disqus_identifier entity_type entity.id %}
                {% disqus_show_comments %}
                <div class="titles_author grid-5 border_left">
                    {% if type == 'author' %}
                        <div class="container_titles grid-5 no-margin border_bottom">
                            <h3 class="title my_titles">
                                Titulos de este autor
                            </h3>
                            {% for title in list_titles %}
                                <span class="item_title grid-5 no-margin">
                                <a href="/qro_lee/profile/title/title_{{ title.id }}">
                                    <span class="wrapper_title borde_author ">
                                        <img src="/static/media/author/create.png" />
                                    </span>
                                </a>
                                <a href="/qro_lee/profile/title/{{ title.title|cut:" " }}_{{ title.id }}">
                                    <h3 class="title grid-3 title_mini">
                                        {{ title.title|truncatechars:25 }}
                                    </h3>
                                </a>
                            </span>
                            {% endfor %}
                            <span class="place_pink link_all fright all_book">ver todos</span>
                        </div>
                        <div class="container_titles grid-5 no-margin ">
                            <h3 class="title my_titles">
                                Lista que contiene este autor
                            </h3>
                            {% for obj in list %}
                                <span class="item_title grid-5 no-margin">
                                <span class="wrapper_title borde_author ">
                                    <img src="/static/media/author/create.png" />
                                </span>
                                <h3 class="title grid-3 title_mini">
                                    {{ obj.list.name|truncatechars:25 }}
                                </h3>
                                <p class="grid-3 p_text_mini text_list">Lista creada por
                                    <span class="d-pink">{{ obj.list.user.first_name }} </span>
                                </p>
                            </span>
                            {% endfor %}
                            <span class="place_pink link_all fright all_book">ver todos</span>
                        </div>
                    {% endif %}
                    {% if type == 'title' %}
                        <div class="container_titles grid-5 no-margin border_bottom">
                            <h3 class="title my_titles">
                                Personas que han leído este libro
                            </h3>
                            {% for obj in list_user %}
                                <span class="item_title grid-5 no-margin">
                                <span class="wrapper_title borde_author ">
                                    <img src="/static/media/users/{{ obj.list.user.id }}/profile/create.jpg" />
                                </span>
                                <h3 class="title grid-3 title_mini text_name_user">
                                    {{ obj.list.user.first_name|truncatechars:12 }} {{ obj.list.user.last_name|truncatechars:12 }}
                                </h3>
                            </span>
                            {% endfor %}
                            <span class="place_pink link_all fright all_book">ver todos</span>
                        </div>
                        <div class="container_titles grid-5 no-margin ">
                            <h3 class="title my_titles">
                                Lista que contienen este libro
                            </h3>
                            {% for obj in list %}
                                <span class="item_title grid-5 no-margin">
                                <span class="wrapper_title borde_author ">
                                    <img src="/static/media/author/create.png" />
                                </span>
                                <h3 class="title grid-3 title_mini">
                                    {{ obj.list.name|truncatechars:25 }}
                                </h3>
                                <p class="grid-3 p_text_mini text_list">Lista creada por
                                    <span class="d-pink">{{ obj.list.user.first_name }} </span>
                                </p>
                            </span>
                            {% endfor %}
                            <span class="place_pink link_all fright all_book">ver todos</span>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <p class="private-message margin-50 center">Este grupo es privado,
                <br> para ver la información solicitada
                <br>necesitas ser miembro</p>
        {% endif %}
    </div>

    {% if entity_type.1 == 'spot' %}
    <div class="grid-16 spot load no-margin">
    {% else %}
    <div class="grid-16 load no-margin">
    {% endif %}
    {% if entity.privacy == 0 or member or owner.id == user.id %}
        <div class="sidebar-a grid-11 {{ entity_type.1 }}">
            <h3 class="title main">Información General</h3>
            <span class="cover-picture wrapper">
                {% if entity_type.1 == 'group' %}
                    {% if not entity.cover_picture %}
                        <img src="/static/img/default_c.png" alt="{{ entity.name }}"/>
                    {% else %}
                        <img src="/static/media/users/{{ owner.id }}/entity/{{ entity.cover_picture }}" alt="{{ entity.name }}"/>
                    {% endif %}
                {% endif %}
                {% if entity_type.1 == 'organization' or entity_type.1 == 'spot' %}
                    <span id="map" {% ifequal entity_type.1 "spot"%}class='spot'{% endifequal %}>

                    </span>
                {% endif %}
            </span>

            {% if entity_type.1 == 'spot' %}
                <div class="grid-3 contact omega">
                    <span style="right:-15px;" class="ruler"></span>
                    <span class="contact">
                        <h3 class="title main">Ubicacion</h3>
                        <p>
                            {% if entity.address.0 != '' %}
                                {{ entity.address.0 }} <br>
                                {{ entity.address.1 }}
                            {% else %}
                                Querétaro
                            {% endif %}
                        </p>
                        <h3 style="margin-top: 20px" class="title main fleft contac">Contacto</h3>
                        <p>{{ profile.phone }}</p>
                    </span>
                </div>
            {% endif %}
            {% if entity_type.1 == 'organization' or entity_type.1 == 'group' %}
                <div class="grid-7 no-margin">
                <span class="ruler"></span>
            {% endif %}

            {% if entity_type.1 == 'spot' %}
                <div style="padding: 0px 40px 0px 40px;" class="overvieww no-margin fright grid-7 content">
                    <span class="ruler"></span>
                    <p >{{ entity.description}}</p>
                </div>
            {% else %}
                <div class="overvieww content">
                    <span class="text_" >
                        <p style="width:90%;margin:0 auto !important;" >
                            {{ entity.description }}
                        </p>
                    </span>
                    {% if entity.description|length > 679 %}
                        <span class="place_pink fright show_text" style="margin-top: 5px;margin-right: 30px;" >
                            <span>Ver más</span>
                            <input type="hidden" value="1" />
                        </span>
                    {% endif %}
                </div>
            {% endif %}

            {% if entity_type.1 == 'organization' or entity_type.1 == 'group' %}
                </div>
            {% endif %}

            {% if entity_type.1 == 'organization'%}
                <div class="grid-4 contact fright no-margin">
                    <span class="ruler"></span>
                    <span class="contact">
                        <h3 class="title main">Contacto</h3>
                        <p>
                            <a class="link_"  href="/{{ owner.email }}/">{{ owner.email }}</a>
                        </p>
                        <p>
                            <a class="link_" href="/{{ entity.website }}/" >{{ entity.website }}</a>
                        </p>
                        <p>{{ profile.phone }}</p>
                        <h3 style="margin-top: 20px;" class="title fleft main">Ubicación</h3>
                        <p class="p_addres">{{ entity.address.0 }} <br>
                            <span>{{ entity.address.1 }}</span></p>
                    </span>
                </div>
            {% endif %}

            {% if entity_type.1 == 'group' %}
                <div class="grid-4 contact fright no-margin">
                    <span class="ruler"></span>
                    <span class="contact">
                        <h3 class="title main fleft">Contacto</h3>
                        <p>
                            <a class="link_ spot"  href="/{{ owner.email }}/">{{ owner.email }}</a>
                        </p>
                        <h3 class="title main fleft">Miembros</h3>
                        <p>{{ followers|total_members }}</p>
                        <h3 class="title main fleft">Administrador/es</h3>
                        {% for admin in admins %}
                                {% if admin.first_name == '' %}
                                    <p>{{ admin.username }}</p>
                                {% else %}
                                    <p>{{ admin.first_name }}</p>
                                {% endif %}
                            {% endfor %}
                    </span>
                </div>
            {% endif %}
        </div>
        <div class="grid-4 sidebar-b entity_scro">
            <h3 class="title grid-4">{{ entity_type.0|capfirst }} similares</h3>
            <div id="scrollbar1">
                <div style="width: 5px;" class="scrollbar"><div class="track"><div class="thumb" style="width: 5px;"><div class="end"></div></div></div></div>
                <div class="viewport" style="height:360px;!important">
                    <div class="overview" style="border:none;height:auto;">
                        {% for similar_entity, followers in similar_entities %}
                            <span class="wrapper">
                            <span class="fleft">
                                {% if similar_entity.picture == '' %}
                                    <img src="/static/img/create.png" alt="{{ similar_entity.name }}"/>
                                {% else %}
                                    <img src="/static/media/users/{{ similar_entity.user_id }}/entity/{{ similar_entity.picture }}" alt="{{ entity.name }}"/>
                                {% endif %}
                            </span>
                            <a href="/qro_lee/entity/{{ entity_type.1 }}/{{ similar_entity.id }}">
                                <h3 class="title fleft">{{ similar_entity.name|truncatechars:17 }}
                                    {% if entity_type.1 == 'spot' %}
                                        <span class="view">Ver lugar</span>
                                    {% else %}

                                        <span> {{ followers }} miembro{{ followers|pluralize }}</span>
                                    {% endif %}
                                </h3>
                            </a>
                        </span>
                        {% endfor %}
                    </div>
            </div>
        </div>
    </div>
    {% else %}
        <p class="private-message margin-50 center">Este grupo es privado,
            <br> para ver la información solicitada
            <br>necesitas ser miembro</p>
    {% endif %}
    </div>

    <div class="grid-16 load tags_events no-margin">
        {% if entity.privacy == 0 or member or owner.id == user.id %}
            <div class="sidebar-a grid-10">
                <h3 class="title main">Próximos eventos</h3>
                <span class="month">Septiembre</span>
                <div id="scrollbar1" class="scroll_events entities">
                    <div  class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                    <div class="viewport error">
                        <div class="overview d-width-container-event">
                            <span class="item">
                                <span class="no-margin grid-6">
                                    <span class="date fright din-m"></span>
                                    <span class="ruler grid-4 fright"></span>

                                </span>
                                <span class="wrapper fleft">
                                    <img class="profile-picture img_size_all" src="" alt=""/>
                                </span>
                                <span class="general-info fleft">
                                    <h3 class="title"></h3>
                                    <p>
                                        <span class="info grid-7 alpha"></span>

                                    </p>
                                    <span class="time fleft"></span>
                                    <span class="location fright">
                                        <p>
                                            <span class="place"></span><br>
                                            <span></span>
                                        </p>
                                        <span class="apply fright">asistir</span>
                                    </span>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-4 sidebar-b d-margin_calendar fleft">
                <h3 class="title">Calendario</h3>
                <input class="entity" type="hidden" value="{{ entity.id }}"/>{% csrf_token %}
                <div class="overview">
                    {% autoescape off %}
                        {{ calendar }}
                    {% endautoescape %}
                </div>
                <div class="border_bottom grid-4 no-margin fleft"></div>
                <div class="controller center">
                    <span class="prev fleft"></span>
                    <span class="next fright"></span>
                </div>
            </div>

        {% else %}
            <p class="private-message margin-50 center">Este grupo es privado,
                <br> para ver la información solicitada
                <br>necesitas ser miembro</p>
        {% endif %}
    </div>

    {% if entity_type.1 == 'group' %}
        <div class="grid-16 members load no-margin">
        <div class="grid-15 sidebar-a fleft">
        <h3 class="title main">Miembros del grupo</h3>
        {% if entity.privacy == 0 or member or owner.id == user.id %}
            <div id="scrollbar1">
                <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                <div class="viewport">
                    <div class="overview">
                        {% for follower, profile in followers %}
                            <span class="wrapper item_member grid-5 no-margin">
                                    <span class="fleft wrapper_member">
                                        {% if not profile or profile == '' %}
                                            <img class="img_size_all" src="/static/img/create.png" alt=""/>
                                        {% else %}
                                            <img class="img_size_all" src="/static/media/users/{{ follower.id }}/profile/{{ profile }}" alt=""/>
                                        {% endif %}
                                    </span>
                                    <h3 class="title container_txt fleft">
                                        {% if follower.first_name != '' %}
                                            {{ follower.first_name }} {{ follower.last_name }}
                                        {% else %}
                                            {{ follower.username }}
                                        {% endif %}
                                        <span class="fleft">Se unió
                                            {{ follower.date_joined|member_since }}
                                        </span>
                                        <a class="fleft place_pink" href="/accounts/users/profile/{{ follower.id }}">Ver perfil</a>
                                    </h3>
                            </span>
                        {% endfor %}
                    </div>
                </div>
            </div>

        {% else %}
            <p class="private-message margin-50 center">Este grupo es privado,
                <br> para ver la información solicitada
                <br>necesitas ser miembro</p>
        {% endif %}
        </div>
        </div>
    {% endif %}
    <!-- Disucssion -->
    {% if entity_type.1 == 'group' %}
        <div class="grid-16 discussion load no-margin">
        <div class="grid-15 center">
        {% if entity.privacy == 0 or member or owner.id == user.id %}
            {% if member %}
            <span style="background-image: none;" class="brown_btn fright discuss">Crear nueva discusión</span>
            {% endif %}
            <div class="grid-5 fleft alpha">
            <span class="ruler"></span>
            <h3 class="title main">Discusiones
                <span class="select_wrapper grid-2 alpha fright">
               <!-- <span class="grid-2 select no-margin">
                            <span class="text">Publica</span>
                            <span class="dropdown"></span>
                            <select class="change value" name="privacy">
                                <option value="publica">Publica</option>
                                <option value="privada">Privada</option>
                            </select>
                </span>-->
                </span>
            </h3>
            <div class="heading">
                <span class="search advanced_filter center alpha grid-4">{% csrf_token %}
                    <input type="hidden" class="model" value="auth.user"/>
                    <input class="search search_entities" type="text"/>
                    <span class="top search_btn dark_yello_btn"></span>
                </span>
            </div>
                <div id="scrollbar1">
                    <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                    <div class="viewport" style="height:460px;">
                        <div class="overview">
                        {% if discussions %}
                            {% for discussion in discussions %}
                                <span class="item">
                                    <a href="#" id="{{ discussion.id }}" style="margin-top: 5px;" class="title no-margin">{{  discussion.name }}</a>
                                    <p class="no-margin">Por <a class="spot category" href="#">{{ discussion.user.username }}</a></p>
                                    <p style="margin-top:5px;" class="no-margin gray_text">{{ discussion.id|get_num_comments }} comentarios</p>
                                </span>
                            {% endfor %}
                        {% else %}
                            <p class="center">Este grupos no cuenta con discusiones.</p>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <span style="display:none;" class="discussion_response main grid-9 no-margin fleft">
                    <span class="respond main fleft">
                        <span class="wrapper no-margin fleft grid-1">
                            <img src="/static/img/create.png" alt=""/>
                        </span>
                        <!-- Gringue -->
                        <span class="grid-8 din-r answer fright no-margin">
                            <span class="name title">Laura Rodríguez <span class="gray_text">hace 3 semanas</span></span>
                            <p>Pellentesque habitant morbi tristique senectus et netus et
                            malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,
                            ultricies eget, tempor sit amet, ante. Donec eu libero sit
                            amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
                            Quisque sit amet est et sapien ullamcorper pharetra.
                            Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi.</p>
                            <span class="respond_btn btn">responder</span>
                            <input type="hidden" class="u_id" value="{{ user.id }}"/>
                            <span class="erase_btn btn">eliminar</span>
                        </span>

                    </span>
            </span>
            <div style="display: none;" class="grid-9 discuss main fright">
                <h3 class="title no-margin">Title</h3>
                <p class="no-margin fleft gray_text">Por <a class="spot category" href="#">Alguien</a></p>
                <p class="gray_text no-margin fright date">20 de oct de 2013</p>
                <p style="margin-bottom: 20px; width:100%;" class="main_content fleft">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>

                <span class="respond main fleft">
                    <span class="wrapper no-margin fleft grid-1">
                        <img src="/static/img/create.png" alt=""/>
                    </span>
                    <textarea class="grid-8 din-r no-brradius fright no-margin">Escribe un comentario...</textarea>
                    <span class="respond_btn main btn">responder</span>
                </span>
            </div>
            <div class="discussion_contents">

            </div>
        {% else %}
            <p class="private-message margin-50 center">Este grupo es privado,
                <br> para ver la información solicitada
                <br>necesitas ser miembro</p>
        {% endif %}
        </div>
        </div>
    {% endif %}
    </div>
    </div>
{% endblock %}