{% extends 'base.html' %}
{% load staticfiles %}
{% load registry_tags %}

{% block style %}
    <link rel="stylesheet" href="{% static "style/theme.css" %}"/>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "js/tiny.js" %}"></script>
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>
    <script type="text/javascript" src="{% static "js/ajax.js" %}"></script>
{% endblock %}

{% block head %}
    {% include 'header.html' %}
{% endblock %}
{% block main_site %}
    <div class="grid-16 entities {{ entity_type.1 }}">
        <div class="grid-14">
            <div class="heading fleft">
                <h3 class="title grid-4 fleft">{{ entity_type.0|capfirst }}</h3>
                <span class="search fright grid-4 no-margin">{% csrf_token %}
                    <input class="type" type="hidden" value="{{ entity_type.1 }}"/>
                    <input class="id_user" type="hidden" value="{{ user.id }}"/>
                    <input type="text" class="search_entities search_ent_field"/>
                    <span class="top search_btn dark_yello_btn"></span>
                </span>
            </div>
            <p class="content grid-9">{{ content }}</p>
            <a href="/registry/register_entity/{{ entity_type.1 }}">
                <span style="background-image: none;padding-right: 9px;margin-top: 40px;" class="brown_btn fright">Crear {{ entity_type.0 }}</span>
            </a>
            <div id="scrollbar1" {{ classspot }} >
            <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
            <div class="viewport error">
                <div class="overview">
                {% for obj, entity in user_entities.items %}
                {% if entity_type.1 == 'spot' %}
                <div class="grid-7 omega d-spot">

                {% else %}
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="grid-7 alpha">
                        {% else %}
                            <div class="grid-7 alpha">
                        {% endif %}
                {% endif %}

                    <span class="wrapper {{ classimage }}">
                    <a href="/qro_lee/entity/{{ entity_type.1 }}/{{ entity.id }}/">
                        {% if not entity.picture %}
                            <img class="img_size_all" src="/static/img/create.png" alt="{{ entity.name }}"/>
                        {% else %}
                            <img class="img_size_all" src="/static/media/users/{{ entity.user }}/entity/{{ entity.picture }}" alt="{{ entity.name }}"/>
                        {% endif %}
                    </a>
                    <a class="green_btn" href="/registry/edit/{{ entity.id }}/">Editar</a>
                    </span>
                {% if entity_type.1 == 'spot' %}
                    <a title="{{ entity.name }}" href="/qro_lee/entity/{{ entity_type.1 }}/{{ entity.id }}/" class="title alpha grid-4 d-title_spot">
                        <img src="/static/img/markers/marker{{ forloop.counter }}.png" class="d-icon_m ap" /> {{ entity.name|capfirst|truncatechars:20 }}</a>
                    <div class="d-text_spot ">
                    <p>
                        {% for pos in entity.address|split:'#' %}
                            {{ pos }}
                        {% endfor %}
                    </p>
                    {% for key, tag in entity.tags.items %}
                        <a class="d-pink" >{{ tag.name }}</a>
                    {% endfor %}
                    </div>
                {% else %}
                    <a title="{{ entity.name }}" href="/qro_lee/entity/{{ entity_type.1 }}/{{ entity.id }}/"
                       class="title alpha grid-4">{{ entity.name|capfirst|truncatechars:20 }}</a>
                    <p class="grid-4 no-margin">
                        {{ entity.description|truncatechars:150 }}
                    </p>
                    {% if entity_type.1 == 'group' %}
                        <p class="grid-3 no-margin" style="margin-top: 10px">
                            {{ entity.members }} usuarios inscritos
                        </p>
                    {% endif %}
                {% endif %}
                </div>
            {% endfor %}
            {% for obj, entity in entities.items %}
                {% if entity_type.1 == 'spot' %}

                <div class="grid-7 omega d-spot">

                {% else %}
                        {% if forloop.counter0|divisibleby:2 %}
                            <div class="grid-7 alpha">
                        {% else %}
                            <div class="grid-7 alpha">
                        {% endif %}
                {% endif %}
                    <a href="/qro_lee/entity/{{ entity_type.1 }}/{{ entity.id }}/">
                        <span class="wrapper {{ classimage }}">
                            {% if not entity.picture %}
                                <img class="img_size_all" src="/static/img/create.png" alt="{{ entity.name }}"/>
                            {% else %}
                                <img class="img_size_all" src="/static/media/users/{{ entity.user }}/entity/{{ entity.picture }}" alt="{{ entity.name }}"/>
                            {% endif %}
                        </span>
                    </a>

                {% if entity_type.1 == 'spot' %}
                    <a title="{{ entity.name }}" href="/qro_lee/entity/{{ entity_type.1 }}/{{ entity.id }}/" class="title alpha grid-4 d-title_spot">
                        <img src="/static/img/markers/marker{{ forloop.counter }}.png" class="d-icon_m ap" /> {{ entity.name|capfirst|truncatechars:20 }}</a>
                    <div class="d-text_spot ">
                    <p>
                        {% for pos in entity.address|split:'#' %}
                            {{ pos }}
                        {% endfor %}
                    </p>
                    {% for key, tag in entity.tags.items %}
                        <a class="d-pink" >{{ tag.name }}</a>
                    {% endfor %}
                    </div>
                {% else %}
                    <a title="{{ entity.name }}" href="/qro_lee/entity/{{ entity_type.1 }}/{{ entity.id }}/" class="title alpha grid-4">{{ entity.name|capfirst|truncatechars:20 }}</a>
                    <p class="grid-4 no-margin">
                        {{ entity.description|truncatechars:150 }}
                    </p>
                    {% if entity_type.1 == 'group' %}
                        <p class="grid-3 no-margin" style="margin-top: 10px">
                            {{ entity.members }} usuarios inscritos
                        </p>
                    {% endif %}
                {% endif %}
                </div>
            {% endfor %}
            </div></div></div>
            {% if entity_type.1 == 'spot' %}
            <input type="hidden" class="d-latlon" value="20.598401,-100.39444" />
            <div class="d-container_map">
                <div id="d-map" class="d-map_spot"></div>

            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}