{% extends 'base.html' %}
{% load staticfiles %}
{% load registry_tags %}

{% block style %}
    <link rel="stylesheet" href="{% static "style/theme.css" %}"/>
    <link rel="stylesheet" href="{% static "style/style_event.css" %}"/>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "js/tiny.js" %}"></script>
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>
    <script type="text/javascript" src="{% static "js/ajax.js" %}"></script>
{% endblock %}


{% block head %}
    {% include 'header.html' %}
{% endblock %}

{% block main_site %}
<div class="erase"></div>
<div class="grid-16 entities">
    <div class="grid-14 container_event">
        <div class="d-container-1 border_bottom">

            <div class="d-container-name"  >

                <div class="d-image" >
                    {% if event.cover_picture %}
                        <img src="/static/media/users/{{ event.owner.id }}/event/{{ event.cover_picture }}" class="d-image-event" />
                    {% else %}
                        <img src="/static/img/create.png" class="d-image-event" />
                    {% endif %}
                </div>

                <div class="d-name-event">
                    <b>
                        {{ event.name }}
                    </b>
                </div>

                <div class="d-by grid-5 no-margin">
                    Organizado por
                    <a class="place_pink" href="/accounts/users/profile/{{ event.owner.id }}/">
                        {{ event.owner }}
                    </a>
                    <input type="hidden" class="d-latlon" value="{{ event.lat }},{{ event.long }}" />
                </div>
                {% if event.privacy_type %}
                    <span class="grid-2">
                        <img class="mini_priv" src="/static/img/private_icon.png"/>
                        Evento Privado
                    </span>
                {% endif %}
                <div class="offset-7">
                    <div class="d-buttoms">
                    <input type="button" id="d-btn-facebook" value="facebook" />
                    <input type="button" id="d-btn-attend" value="Asistir" />
                    </div>
                </div>
                <div class="d-line"></div>

                <div class="d-data1">
                    <div class="d-description" >
                        <p>
                            {{ event.description }}
                        </p>
                    </div>
                    <div class="d-map" id="map" >
                    </div>
                </div>

                <div class="grid-2">
                    <div class="d-date">
                        <p><b>Fecha</b></p>
                        <p>{{ date.weekday }} {{ date.day }}
                            <br/>{{ date.month }} {{ date.year }}</p>
                    </div>
                    <div class="d-address">
                        <p><b>Lugar</b></p>
                        {% if event.place_spot %}
                            <a class="place_pink" href="/qro_lee/entity/spot/{{ spot.0.id }}">
                                {{ event.location_name|replace:'#' }}
                            </a>
                            <p class="location_name">{{ address.0 }} {{ address.1 }}</p>
                        {% else %}
                            <p>{{ event.location_name|replace:'#' }}</p>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
        <div class="d-container-2">
            <div class="d-container_events" >
                <div class="d-title_events">
                    Eventos similares
                </div>

                <div class="d-list_events" >

                    {%  for event in list_event %}

                    <div class="d-event">
                        <div class="d-image-mini">
                            <a href="/qro_lee/events/{{ event.id }}/" >
                                {% if event.picture %}
                                    <img src="/static/media/users/{{ event.owner.id }}/event/{{ event.picture }}"
                                         class="d-image-event" />
                                {% else %}
                                    <img src="/static/img/create.png" class="d-image-event" />
                                {% endif %}
                            </a>
                        </div>
                        <div class="d-text_event">
                            <a href="/qro_lee/events/{{ event.id }}/" >
                                <b class="d-name-event-mini">{{ event.name }}</b>
                            </a>
                            <br>
                            <b class="d-data-event">
                            {{ event.start_time }} hrs
                            </b>
                        </div>

                    </div>

                    {% endfor %}

                </div>

            </div>
        </div>
        <div class="coments grid-10 no-margin">
                {% load disqus_tags %}
                {% set_disqus_identifier "event" event.id %}
                {% disqus_show_comments %}
            </div>
    </div>

</div>

{% endblock %}