{% extends 'base.html' %}
{% load staticfiles %}
{% load registry_tags %}

{% block style %}
    <link rel="stylesheet" href="{% static "style/theme.css" %}"/>
    <link rel="stylesheet" href="{% static "style/style_event.css" %}"/>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "js/tiny.js" %}"></script>
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>
    <script type="text/javascript" src="{% static "js/ajax.js" %}"></script>
{% endblock %}


{% block head %}
    {% include 'header.html' %}
{% endblock %}

{% block main_site %}
    <div class="wrapper_message">
        <div class="container-16 container_message">
            <div class="fb-accept alert-message gray">{% csrf_token %}
                <p>Tu solicitud sera aceptada por medio de facebook</p>
                <span class="accept green_btn fleft">Aceptar</span>
                <span style="margin-left: 5px;" class="reject fleft">Rechazar</span>
            </div>
        </div>
    </div>


<div class="grid-16 entity event_view no-margin">
        <div class="grid-15 fleft event-content no-margin">
        <div class="grid-10 no-margin fleft border_bottom">

            <div class="d-container-name"  >

                <div class="d-image" >
                    {% if event.cover_picture %}
                        <img src="/static/media/users/{{ event.owner.id }}/event/{{ event.cover_picture }}" class="d-image-event" />
                    {% else %}
                        <img src="/static/img/default_c.png" class="d-image-event" />
                    {% endif %}
                </div>

                <div class="d-name-event grid-6 no-margin">
                    <span class="title" >
                        {{ event.name }}
                    </span>
                </div>
                <div class="d-by grid-5 no-margin">
                    <span class="title">Organizado por</span>
                    <a class="place_pink" href="/accounts/users/profile/{{ event.owner.id }}/">
                        {{ event.owner }}
                    </a>
                    <input type="hidden" class="d-latlon" value="{{ event.lat }},{{ event.long }}" />
                </div>
                {% if event.privacy_type %}
                    <span class="grid-2 private_event">
                        <img class="mini_priv" src="/static/img/private_icon.png"/>
                        <span>Evento Privado</span>
                    </span>
                {% endif %}
                <div class="grid-3 no-margin fright">
                    <div class="d-buttoms fb-session-required">
                    {% if event.fb_id and not is_attending %}
                        <span  id="d-btn-attend" class="btn_social" >Asistir</span>
                    {% endif %}
                    <span id="d-btn-facebook" class="btn_social">facebook</span>
                    </div>
                </div>
                <div class="d-line grid-7 no-margin"></div>

                <div class="grid-7 no-margin fleft">
                    <div class="d-description" >
                        <p>
                            {{ event.description }}
                        </p>
                    </div>
                    <div class="d-map" id="map" >
                    </div>
                </div>

                <div class="grid-3 no-margin fright sub_title">
                    <input type="hidden" class="fb_event_id" {% if event.fb_id %} value="{{ event.fb_id }}" {% else %} value="-1" {% endif %}/>
                    <input type="hidden" class="event_id" value="{{ event.id }}"/>
                    <div class="d-date">
                        <span class="title">Fecha</span>
                        <p >
                            {{ date.weekday }} {{ date.day }}
                            {{ date.month }} {{ date.year }}
                        </p>
                    </div>
                    <div class="d-address">
                        <span class="title">Lugar</span>
                        {% if event.place_spot %}
                            <a class="place_pink" href="/qro_lee/entity/spot/{{ spot.0.id }}">
                                {{ event.location_name|replace:'#' }}
                            </a>
                            <p class="location_name">{{ address.0 }} {{ address.1 }}</p>
                        {% else %}
                            <p>{{ event.location_name|replace:'#' }}</p>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
        <div class="d-container-2">
            <div class="d-container_events" >
                <div class="d-title_events">
                    Eventos similares
                </div>

                <div class="d-list_events" >

                    {%  for event in list_event %}

                    <div class="d-event">
                        <div class="d-image-mini">
                            <a href="/qro_lee/events/{{ event.id }}/" >
                                {% if event.picture %}
                                    <img src="/static/media/users/{{ event.owner.id }}/event/{{ event.picture }}"
                                         class="d-image-event" />
                                {% else %}
                                    <img src="/static/img/create.png" class="d-image-event" />
                                {% endif %}
                            </a>
                        </div>
                        <div class="d-text_event">
                            <a href="/qro_lee/events/{{ event.id }}/"
                               title="{{ event.name }}" class="d-name-event-mini title fleft">
                                {{ event.name|truncatechars:13 }}
                            </a>
                            <span class="d-data-event fleft">
                            {{ event.start_time|date:" d M Y H:i"  }} hrs
                            </span>
                        </div>

                    </div>

                    {% endfor %}

                </div>

            </div>
        </div>
        <div class="coments grid-10 no-margin">
                {% load disqus_tags %}
                {% set_disqus_identifier "event" event.id %}
                {% disqus_show_comments %}
            </div>
    </div>

</div>

{% endblock %}