{% extends 'base.html' %}
{% load staticfiles %}
{% load registry_tags %}

{% block style %}
    <link rel="stylesheet" href="{% static "style/theme.css" %}"/>
{% endblock %}

{% block js %}
   <script type="text/javascript" src="{% static "js/tiny.js" %}"></script>
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>
    <script type="text/javascript" src="/static/js/ajax.js"></script>
{% endblock %}

{% block head %}
    {% include 'header.html' %}
{% endblock %}

{% block main_site %}
    <div class="grid-16 news-feed ">
    <div class="grid-15 fright no-margin">
        <div class="grid-4 fleft no-margin">
            <span class="user fleft">
                <span class="wrapper fleft">
                    {% if profile.picture %}
                        <img src="/static/media/users/{{ user.id }}/profile/{{ profile.picture }}" alt=""/>
                    {% else %}
                        <img src="/static/img/create.png" alt=""/>
                    {% endif %}
                </span>
                 <h3 class="title fleft"><a href="/accounts/users/profile/{{ user.id }}">
                     {% if user.first_name != '' %}
                         {{ user.first_name }} {{ user.last_name }}
                     {% else %}
                         {{ user.username }}
                     {% endif %}
                 </a></h3>
            </span>
            <h3 class="title fleft din-r">
                <span class="fleft" style="width: 20px;display:block; height: 20px; overflow: hidden;">
                <img src="/static/img/filter_sprite.png" style="position: relative; top:-134px;" alt=""/></span>Próximos eventos</h3>
            <span class="element">
            <span class="viewport">
                <span class="overview">
                {% if events %}
                    {% for event in events %}
                        <span class="item">
                        <p class="main title no-margin"><a href="/qro_lee/events/{{ event.id }}">{{ event.name }}</a></p>
                        <a class="category spot din-r" href="{% ifequal event.place_spot 1%}/qro_lee/entity/spot/{{ event.location_id }}{% endifequal %}">{{ event.location_name|truncatechars:40|lower }}</a>
                        </span>
                    {% endfor %}
                {% else %}
                    <p>Aún no tienes eventos, crea una
                        <a class="organization" href="/registry/register_entity/organization/">organización</a> ,
                        <a class="group" href="/registry/register_entity/group/">grupo</a> o
                        <a class="spot" href="/registry/register_entity/spot/">spot</a> para crear un evento </p>
                {% endif %}
                </span>
            </span>
            {% if events|length > 2 %}
                <span class="spot more bold fright">ver todos</span>
            {% endif %}
            </span>

            <h3 class="title din-r"><span class="fleft" style="width: 20px;display:block; height: 20px; overflow: hidden;">
                <img src="/static/img/filter_sprite.png" style="position: relative; top:-65px;" alt=""/></span>Mis grupos</h3>
            <span class="element">
            <span class="viewport">
                <span class="overview">
                {% if groups %}
                    {% for group in groups %}
                        <span class="item">
                            <p class="main title no-margin"><a href="/qro_lee/entity/group/{{ group.id }}">{{ group.name }}</a></p>
                            <p class="no-margin gray_text"><span>{{ group|get_num_followers }}</span> miembros</p>
                        </span>
                    {% endfor %}
                {% else %}
                    <p>Aún no tienes grupos <a class="group" href="/registry/register_entity/group/">crea</a> uno </p>
                {% endif %}
                </span>
            </span>
            {% if groups|length > 2 %}
            <span class="spot bold more fright">ver todos</span>
            {% endif %}
            </span>

            <h3 class="title din-r"><span class="fleft" style="width: 20px;display:block; height: 20px; overflow: hidden;">
                <img src="/static/img/filter_sprite.png" style="position: relative; top:-65px;" alt=""/></span>Mis organizaciones</h3>
            <span class="element">
            <span class="viewport">
                <span class="overview">
                    {% if organizations %}
                    {% for organization in organizations %}
                        <span class="item">
                            <p class="main title no-margin"><a href="/qro_lee/entity/organization/{{ organization.id }}">{{ organization.name }}</a></p>
                            <p class="no-margin gray_text"><span>{{ organization|get_num_followers }}</span> miembros</p>
                        </span>
                    {% endfor %}
                    {% else %}
                        <p>Aún no tienes organizaciones <a class="organization" href="/registry/register_entity/organization/">crea</a> una </p>
                    {% endif %}
                </span>
            </span>
            {% if organizations|length > 2 %}
                <span class="spot bold more fright">ver todos</span>
            {% endif %}
            </span>

            <h3 class="title din-r"><span class="fleft" style="width: 20px;display:block; height: 20px; overflow: hidden;">
                <img src="/static/img/filter_sprite.png" style="position: relative; top:-166px;" alt=""/></span>Mis páginas</h3>
            <span style="padding-bottom: 50px;" class="element">
            <span class="viewport" style="margin-bottom: 20px;">
                <span class="overview">
                    {% for page in pages %}
                        <span class="item">
                            <p class="main title "><a href="/qro_lee/user/{{ page.user_id }}/page/{{ page.id }}">{{ page.name }}</a></p>
                        </span>
                    {% endfor %}
                </span>
            </span>
            {% if pages|length > 2 %}
            <span class="spot bold more fright">ver todos</span>
            {% endif %}
            <a href="/accounts/users/registry_page/">
                <span style="clear:both;background-image: none;" class="brown_btn fleft">
                    Crear página
                </span>
            </a>
            </span>

        </div>

        <div class="divider grid-1 fleft">
            <span></span>
        </div>

        <div class="grid-9 left">
            {% if activity  %}
            <h3 style="margin-top: 30px;" class="title">Actividad receinte</h3>
            <div id="scrollbar1">
                <div class="scrollbar" style="right: -35px;"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                <div class="viewport">
                    <div class="overview">
                        {% for news_feed in activity %}
                            {% autoescape off %}
                                {{ news_feed.id|feed_type }}
                            {% endautoescape %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% else %}
                <p class="center margin-50 place_pink no_title">No hay actividad reciente</p>
            {% endif %}
        </div>

    </div>
    </div>
{% endblock %}



