{% extends 'base.html' %}
{% load staticfiles %}
{% load registry_tags %}

{% block style %}
    <link rel="stylesheet" href="{% static "style/theme.css" %}"/>
{% endblock %}

{% block js %}
   <script type="text/javascript" src="{% static "js/tiny.js" %}"></script>
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>
    <script type="text/javascript" src="/static/js/ajax.js"></script>
{% endblock %}

{% block head %}
    {% include 'header.html' %}
{% endblock %}

{% block main_site %}
    <div class="grid-16 news-feed ">
    <div class="grid-15 fright no-margin">
        <div class="grid-4 fleft no-margin">
            <span class="user fleft">
                <span class="wrapper fleft">
                    <img src="" alt=""/>
                </span>
                 <h3 class="title">Fernando Avalos</h3>
            </span>
            <h3 class="title din-r"><img src="" alt=""/>Próximos eventos</h3>
            <span class="element">
            <span class="viewport">
                <span class="overview">
                    {% for i in 'xxxxxxxxxx' %}
                        <span class="item">
                        <p class="main title no-margin">Festival de Lectura estatal</p>
                        <a class="category spot din-r" href="#">Biblioteca Gómez Morín</a>
                        </span>
                    {% endfor %}
                </span>
            </span>
                <span class="spot bold fright">ver todos</span>
            </span>

            <h3 class="title din-r"><img src="" alt=""/>Mis grupos</h3>
            <span class="element">
            <span class="viewport">
                <span class="overview">
                    {% for i in 'xxxxxxxxxx' %}
                        <span class="item">
                            <p class="main title no-margin">Festival de Lectura estatal</p>
                            <p class="no-margin gray_text"><span>24</span> miembros</p>
                        </span>
                    {% endfor %}
                </span>
            </span>
            <span class="spot bold fright">ver todos</span>
            </span>

            <h3 class="title din-r"><img src="" alt=""/>Mis organizaciones</h3>
            <span class="element">
            <span class="viewport">
                <span class="overview">
                    {% for i in 'xxxxxxxxxx' %}
                        <span class="item">
                            <p class="main title no-margin">Festival de Lectura estatal</p>
                            <p class="no-margin gray_text"><span>24</span> miembros</p>
                        </span>
                    {% endfor %}
                </span>
            </span>
            <span class="spot bold fright">ver todos</span>
            </span>

            <h3 class="title din-r"><img src="" alt=""/>Mis páginas</h3>
            <span class="element">
            <span class="viewport">
                <span class="overview">
                    {% for i in 'xxxxxxxxxx' %}
                        <span class="item">
                            <p class="main title no-margin">Festival de Lectura estatal</p>
                        </span>
                    {% endfor %}
                </span>
            </span>
            <span class="spot bold fright">ver todos</span>
            <span style="clear:both;" class="brown_btn fleft">Crear página</span>
            </span>

        </div>

        <div class="divider grid-1 fleft">
            <span></span>
        </div>

        <div class="grid-8 left">
            {% if activity  %}
            <h3 style="margin-top: 30px;" class="title">Actividad receinte</h3>
            <div id="scrollbar1">
                <div class="scrollbar" style="right: -35px;"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                <div class="viewport">
                    <div class="overview">
                        {% for news_feed in activity %}
                            {% autoescape off %}
                                {{ news_feed.id|feed_type }}
                            {% endautoescape %}
                        {% endfor %}

                        <span class="create feed">
                            <span class="wrapper fleft">
                                <img src="" alt=""/>
                            </span>
                            <span class="grid-6 content no-margin fleft">
                                    <span class="trigger din-b">Laura Rodirguez</span>
                                    <span class="verb din-r">accion de </span>
                                    <span class="verb din-b">Cear</span>
                                <span class="action grid-5 no-margin">
                                    <span class="wrapper fleft">
                                        <img src="" alt=""/>
                                    </span>
                                    <span class="wrap fleft">
                                        <span class="din-m fleft">Reunión Anual Gandhi</span>
                                    <p class="gray_text no-margin fleft">
                                        <span class="entry">Biblioteca Gómez Morin Santiago de Querétaro, Qro.</span>
                                        <span class="time">15:00 hrs</span></p>
                                    </span>
                                    <p class="gray_text no-margin fleft">hace 2 horas</p>
                                </span>
                            </span>

                        </span>
                        <span class="create feed">
                            <span class="wrapper fleft">
                                <img src="" alt=""/>
                            </span>
                            <span class="grid-6 content no-margin fleft">
                                    <span class="trigger din-b">Laura Rodirguez</span>
                                    <span class="verb din-r">accion de </span>
                                    <span class="verb din-b">Cear</span>
                                <span class="action grid-5 no-margin">
                                    <span class="wrapper fleft">
                                        <img src="" alt=""/>
                                    </span>
                                    <span class="wrap fleft">
                                        <span class="din-m fleft">Reunión Anual Gandhi</span>
                                    <p class="gray_text no-margin fleft">
                                        <span class="entry">
                                            <span class="rate rated"></span><span class="rate rated"></span><span
                                                class="rate unrated"></span><span class="rate unrated"></span><span
                                                class="rate unrated"></span>
                                        </span>
                                        <span class="time"></span></p>
                                    </span>
                                    <p class="gray_text no-margin fleft">hace 2 horas</p>
                                </span>
                            </span>

                        </span>
                    </div>
                </div>
            </div>
            {% else %}
                <p class="center margin-50">No hay actividad reciente</p>
            {% endif %}
        </div>

    </div>
    </div>
{% endblock %}



