{% extends 'base.html' %}
{% load staticfiles %}

{% block style %}
    <link rel="stylesheet" href="{% static "style/theme.css" %}"
          xmlns="http://www.w3.org/1999/html"/>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "js/tiny.js" %}"></script>
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>
    <script type="text/javascript" src="{% static "js/ajax.js" %}"></script>
{% endblock %}


{% block head %}
    {% include 'header.html' %}
{% endblock %}
{% block main_site %}
    <div class="erase"></div>
    <div class="grid-16 pages">
        <div class="grid-15">
            <div class="grid-4 no-margin">
                <span class="grid-4 no-margin title">
                    Más páginas del autor
                </span>
                {% for obj in list_pages %}
                <span class="item_page grid-4 no-margin">
                    <a href="/qro_lee/user/{{ obj.id_user.id }}/page/{{ obj.id }}">
                        <span class="wrapper_page">
                            <img src="/static/img/create.png" class="img_size_all"/>
                        </span>
                    </a>
                    <a href="/qro_lee/user/{{ obj.id_user.id }}/page/{{ obj.id }}">
                        <span title="{{ obj.name }}" class="title title_pages grid-2 no-margin">
                            {{ obj.name|truncatechars:16 }}
                        </span>
                    </a>
                </span>
                {% empty %}
                    <span class="tex_pink grid-4 no-margin place_pink">
                        No hay más paginas para mostrar
                    </span>
                {% endfor %}
                {% if user.id == page.id_user.id %}
                    <div class="grid-3 btn_edit_biew">
                        <a href="/accounts/users/registry_page/">
                            <span class="d-pink_buttom d-brown-btn ">
                                Crear nueva página
                            </span>
                        </a>
                    </div>
                {% endif %}
                <span class="grid-4 no-margin line_div_pg" ></span>
                <span class="grid-4 no-margin  title">
                    Páginas relacionadas
                </span>
            </div>
            <div class="grid-11 border_left no-margin">
                <span class="grid-10 no-margin container_pag">
                    <span class="title grid-6 no-margin">{{ page.name }}</span>
                    <span class="btn_pag_tw fleft">
                        <span style="background: url('/static/img/social_login.png') no-repeat 0px -20px" class="twitter_btn"></span>
                        </span>
                    <span class="btn_pag_fb fleft">
                        <span style="background: url('/static/img/social_login.png')
                            no-repeat 0px 0px" class="fb_btn"></span>
                        </span>
                    {% if user.id == page.id_user.id %}
                        <a href="/accounts/users/update_page/{{ page.id }}">
                            <span class="fleft green_btn btn_edit_pg">
                                Editar
                            </span>
                        </a>
                    {% endif %}
                    <span class="grid-10 user_p no-margin">
                        <span class="pag_user_name">Por
                            <a class="place_pink" href="/accounts/users/profile/{{ profile.user.id }}/">
                                {{ profile.user.username }}
                            </a>
                        </span>
                    </span>
                    <span class="grid-10 no-margin">

                    </span>
                    <span class="grid-10 no-margin content_pag">
                        {% autoescape off %}
                            {{ page.coment }}
                        {% endautoescape %}
                    </span>
                    <span class=" grid-10 no-margin coments_pag">
                        {% load disqus_tags %}
                        {% set_disqus_identifier type page.id %}
                        {% disqus_show_comments %}
                    </span>

                </span>
            </div>
        </div>
    </div>
{% endblock %}