{% extends 'base.html' %}
{% load staticfiles %}
{% load registry_tags %}

{% block style %}
    <link rel="stylesheet" href="{% static "style/theme.css" %}"
          xmlns="http://www.w3.org/1999/html"/>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "js/tiny.js" %}"></script>
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>
    <script type="text/javascript" src="{% static "js/ajax.js" %}"></script>
{% endblock %}


{% block head %}
    {% include 'header.html' %}
{% endblock %}
{% block main_site %}

<input type="hidden" class="object_type" value="P"/>
<input type="hidden" class="entity" value="{{ page.id }}"/>
    <div class="grid-16 pages">
        <div class="grid-15">
            <div class="grid-4 no-margin">
                <span class="grid-4 no-margin title">
                    Más páginas del autor
                </span>
                {% for obj in list_pages %}
                <span class="item_page grid-4 no-margin">
                    <a href="/qro_lee/user/{{ obj.user.id }}/page/{{ obj.id }}">
                        <span class="wrapper_page">
                            {% if not obj.coment|img_autoescape %}
                                <img src="/static/img/create.png" class="img_size_all"/>
                            {% else %}
                                <img src="{{ obj.coment|img_autoescape }}" class="img_size_all"/>
                            {% endif %}
                        </span>
                    </a>
                    <a href="/qro_lee/user/{{ obj.user.id }}/page/{{ obj.id }}">
                        <span title="{{ obj.name }}" class="title title_pages grid-2 no-margin">
                            {{ obj.name|truncatechars:16 }}
                        </span>
                    </a>
                </span>
                {% empty %}
                    <span class="tex_pink grid-4 no-margin place_pink">
                        No hay más paginas para mostrar
                    </span>
                {% endfor %}
                {% if user.id == page.user.id %}
                    <div class="grid-3 btn_edit_biew">
                        <a href="/accounts/users/registry_page/">
                            <span class="d-pink_buttom d-brown-btn ">
                                Crear nueva página
                            </span>
                        </a>
                    </div>
                {% endif %}
                <span class="grid-4 no-margin line_div_pg" ></span>
                <span class="grid-4 no-margin  title">
                    Páginas relacionadas
                </span>
            </div>
            <div class="grid-11 border_left no-margin">
                <span class="grid-10 no-margin container_pag">
                    <span class="title grid-6 no-margin">{{ page.name }}</span>
                    <span class="btn_pag_tw fleft">
                        <span style="background: url('/static/img/social_login.png') no-repeat 0px -20px" class="twitter_btn"></span>
                        </span>
                    <span class="btn_pag_fb fleft">
                        <span style="background: url('/static/img/social_login.png')
                            no-repeat 0px 0px" class="fb_btn"></span>
                        </span>
                    {% if user.id == page.user.id %}
                        <a href="/accounts/users/update_page/{{ page.id }}">
                            <span class="fleft green_btn btn_edit_pg">
                                Editar
                            </span>
                        </a>
                    {% endif %}
                    <span class="grid-10 user_p no-margin">
                        <span class="pag_user_name">Por
                            <a class="place_pink" href="/accounts/users/profile/{{ profile.user.id }}/">
                                {{ profile.user.username }}
                            </a>
                        </span>
                    </span>
                    <span class="grid-10 no-margin">

                    </span>
                    <span class="grid-10 no-margin content_pag">
                        {% autoescape off %}
                            {{ page.coment }}
                        {% endautoescape %}
                    </span>
                    <div class="coments grid-10 no-margin">
                    <span style="display:none;" class="discussion_response main grid-9 no-margin fleft">
                    <span class="respond main fleft">
                        <span class="wrapper no-margin fleft grid-1">
                            <img src="/static/img/create.png" alt=""/>
                        </span>
                        <!-- Gringue -->
                        <span class="grid-8 din-r answer fright no-margin">
                            <span class="name title"><span>Laura Rodríguez</span> <span class="gray_text">hace 3 semanas</span></span>
                            <p>Pellentesque habitant morbi tristique senectus et netus et
                            malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,
                            ultricies eget, tempor sit amet, ante. Donec eu libero sit
                            amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
                            Quisque sit amet est et sapien ullamcorper pharetra.
                            Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi.</p>
                            <span class="respond_btn btn">responder</span>
                            <input type="hidden" class="u_id" value="{{ user.id }}"/>
                            <span class="erase_btn btn">eliminar</span>
                        </span>
                    </span>
                    </span>
                    <div style="display: none;" class="grid-9  discuss main no-margin fright">
                    <span class="respond main fleft">
                        <span class="wrapper no-margin fleft grid-1">
                            <img src="/static/img/create.png" alt=""/>
                        </span>
                        <textarea class="grid-8 din-r no-brradius fright no-margin" style="background: white;">Escribe un comentario...</textarea>
                        <span class="respond_btn main btn">responder</span>
                    </span>
                    </div>
                    <input type="hidden" class="discussion_id" value="{{ discussions.id }}"/>

                    <div class="discussion fleft">
                        <div class="discussion_contents no-margin fleft"></div>
                    </div>
                </div>

                </span>
            </div>
        </div>
    </div>
{% endblock %}