{% extends 'base.html' %}
{% load staticfiles %}

{% block style %}
    <link rel="stylesheet" href="{% static "style/theme.css" %}"/>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "js/tiny.js" %}"></script>
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>
    <script type="text/javascript" src="{% static "js/ajax.js" %}"></script>
    <script type="text/javascript" src="{% static "js/validation.js" %}"></script>
{% endblock %}


{% block head %}
    {% include 'header.html' %}
{% endblock %}

{% block main_site %}
<div class="wrapper_message " >
    <div class="container-16 container_message">
        <div class="dialog-confirm" ></div>
    </div>
</div>
<div class="grid-16">
    <div class="grid-16 entity no-margin">
    {% csrf_token %}
        {% if type == 'author' %}
            <span class="wrapper fleft borde_author">
                {% if not profile.picture %}
                    <img class="img_size_all" src="/static/img/create.png" alt="{{ profile.name }}"/>
                {% else %}
                    <img class="img_size_all" src="{{ profile.picture }}"
                         alt="{{ profile.picture }}"/>
                {% endif %}
            </span>
            <span class="general-info no-margin grid-9">
                <h3 class="title d-title_profile">
                        {{ profile.name|title }}
                </h3>
                <span class="grid-9 no-margin container_rate">
                      <span class="container_starts_rate fleft">
                          {% if my_grade == 0 %}
                                {% for x in range %}
                                    <span class="rate">
                                        {% if x < count_rate %}
                                            <img src="/static/img/comunityStar.png" />
                                        {% else %}
                                            <img src="/static/img/backgroundStar.png" />
                                        {% endif %}
                                        <input class="grade" type="hidden" value="{{ x }}"/>
                                        <input class="type" type="hidden" value="A"/>
                                        <input class="element_id" type="hidden" value="{{ profile.id }}"/>
                                    </span>
                                {% endfor %}
                        {% else %}
                            {% for x in range %}
                                <span class="rate">
                                    {% if x < count_rate %}
                                        <img src="/static/img/starUser.png" />
                                    {% else %}
                                        <img src="/static/img/backgroundStar.png" />
                                    {% endif %}
                                    <input class="grade" type="hidden" value="{{ x }}"/>
                                    <input class="type" type="hidden" value="A"/>
                                    <input class="element_id" type="hidden" value="{{ profile.id }}"/>
                                </span>
                            {% endfor %}
                        {% endif %}
                </span>
                <span class="container_text_rate">
                    <span class="text_rate border_right"> Total: {{ count_rate|floatformat:1 }} </span>
                    <span class="text_rate border_right"> {{ count_vot }} votaciones </span>
                        {% if my_grade >= 1 %}
                            <span class="text_rate"> mi voto: {{ my_vot }} </span>
                        {% endif %}
                    </span>
                </span>
                <span class="grid-9 no-margin">
                    <p >
                        {% if count == 0 %}
                            no tiene títulos
                        {% endif %}
                        {% if count >= 2 %}
                            {{ count }} Títulos
                        {% endif %}
                        {% if count == 1 %}
                            {{ count }} Título
                        {% endif %}
                    </p>
                </span>
                <p >
                    {{ profile.biography|truncatechars:330 }}
                </p>
            </span>
        {% endif %}
        {% if type == 'title' %}
            <span class="wrapper fleft borde_author borde_title">
                {% if not profile.picture %}
                    <img class="img_size_all" src="/static/img/create.png" alt="{{ profile.title }}"/>
                {% else %}
                    <img class="img_size_all" src="{{ profile.cover }}"
                         alt="{{ profile.cover }}"/>
                {% endif %}
            </span>
            <span class="general-info no-margin grid-9">
                <h3 class="title d-title_profile">
                        {{ profile.title|title|truncatechars:25 }}
                </h3>
                <p class="text_profile">
                    {% if name_author != 'autor anonimo' %}
                        <a href="/qro_lee/profile/author/{{ id_author }}"
                                class="title_author name_author" >
                            {{ name_author|truncatechars:19 }}
                        </a>
                    {% else %}
                        <a class="title_author name_author" >
                            {{ name_author|truncatechars:19 }}
                        </a>
                    {% endif %}
                </p>
                <span class="grid-9 no-margin container_rate text_profile">
                      <span class="container_starts_rate fleft">
                    {% if my_grade == 0 %}
                            {% for x in range %}
                                <span class="rate">
                                    {% if x < count_rate %}
                                        <img src="/static/img/comunityStar.png" />
                                    {% else %}
                                        <img src="/static/img/backgroundStar.png" />
                                    {% endif %}
                                    <input class="grade" type="hidden" value="{{ x }}"/>
                                    <input class="type" type="hidden" value="T"/>
                                    <input class="element_id" type="hidden" value="{{ profile.id }}"/>
                                </span>
                            {% endfor %}
                    {% else %}
                        {% for x in range %}
                            <span class="rate">
                                {% if x < count_rate %}
                                    <img src="/static/img/starUser.png" />
                                {% else %}
                                    <img src="/static/img/backgroundStar.png" />
                                {% endif %}
                                <input class="grade" type="hidden" value="{{ x }}"/>
                                <input class="type" type="hidden" value="T"/>
                                <input class="element_id" type="hidden" value="{{ profile.id }}"/>
                            </span>
                        {% endfor %}
                    {% endif %}
                </span>
                <span class="container_text_rate">
                    <span class="text_rate border_right"> Total: {{ count_rate|floatformat:1 }} </span>
                    <span class="text_rate border_right"> {{ count_vot }} votaciones </span>
                        {% if my_grade >= 1 %}
                            <span class="text_rate"> mi voto: {{ my_vot }} </span>
                        {% endif %}
                    </span>
                </span>
                <span class="grid-9 no-margin ">
                    <p class="text_profile">
                        {% if count == 0 %}
                            nadie está
                        {% endif %}
                        {% if count >= 2 %}
                            {{ count }} personas están
                        {% endif %}
                        {% if count == 1 %}
                             una persona está
                        {% endif %}
                        leyendo este libro
                    </p>
                </span>
                <span class="grid-9 no-margin ">
                    <p class="text_profile">
                        {{ profile.description|truncatechars:420 }}
                    </p>
                </span>
            </span>
        {% endif %}
        {% if type == 'list' %}
            <span class="wrapper fleft borde_author borde_title">
                {% if not profile.picture %}
                    <img class="img_size_all" src="/static/img/create.png" alt="{{ profile.name }}"/>
                {% else %}
                    <img class="img_size_all" src="/static/media/users/{{ profile.user.id }}/{{ type }}/{{ profile.picture }}"
                         alt="{{ profile.picture }}"/>
                {% endif %}
            </span>
            <span class="general-info no-margin grid-9">
                <h3 class="title d-title_profile">
                        {{ profile.name|title }}
                </h3>
                <p class="text_by" >
                    Lista creada por
                    <a href="/accounts/users/profile/{{ profile.user.id }}"
                            class="user_list">
                        <span class="d-pink">
                            {{ profile.user.username }}
                        </span>
                    </a>
                </p>
                <span class="grid-9 no-margin container_rate">
                    <span class="container_starts_rate fleft">
                        {% if my_grade == 0 %}
                            {% for x in range %}
                                <span class="rate">
                                    {% if x < count_rate %}
                                        <img src="/static/img/comunityStar.png" />
                                    {% else %}
                                        <img src="/static/img/backgroundStar.png" />
                                    {% endif %}
                                    <input class="grade" type="hidden" value="{{ x }}"/>
                                    <input class="type" type="hidden" value="L"/>
                                    <input class="element_id" type="hidden" value="{{ profile.id }}"/>
                                </span>
                            {% endfor %}
                        {% else %}
                            {% for x in range %}
                                <span class="rate">
                                    {% if x < count_rate %}
                                        <img src="/static/img/starUser.png" />
                                    {% else %}
                                        <img src="/static/img/backgroundStar.png" />
                                    {% endif %}
                                    <input class="grade" type="hidden" value="{{ x }}"/>
                                    <input class="type" type="hidden" value="L"/>
                                    <input class="element_id" type="hidden" value="{{ profile.id }}"/>
                                </span>
                            {% endfor %}
                        {% endif %}
                </span>
                <span class="container_text_rate">
                    <span class="text_rate border_right"> Total: {{ count_rate|floatformat:1 }} </span>
                    <span class="text_rate border_right"> {{ count_vot }} votaciones </span>
                        {% if my_grade >= 1 %}
                            <span class="text_rate"> mi voto: {{ my_vot }} </span>
                        {% endif %}
                    </span>
                </span>
                <p class="descrip_list">
                    {{ profile.description|truncatechars:420 }}
                </p>
            </span>
        {% endif %}
        <span class="grid-3 no-margin social_profile">
            <span class="icon_social btn_fb_profile">
                <img src="/static/img/icon_fb_foll.png"/>
            </span>
            <span class="icon_social">
                <img src="/static/img/icon_twitter_foll.png"/>
            </span>
            </span>
    </div>

    <div class="grid-16 content single no-margin">
        <div class="grid-16 no-margin">

            {% if type == 'list' %}
                <div class="coments grid-10 no-margin">
                    <div class="container_titles grid-9 no-margin border_bottom over_items">
                        {% for key, value in titles.items %}
                            <span class="item_title item_height grid-9 no-margin">
                                <a href="/qro_lee/profile/title/{{ key }}">
                                    <span class="wrapper_title wrapper_title_list borde_author ">
                                        <img class="img_size_all" src="{{ value.picture }}" />
                                    </span>
                                </a>
                                <a href="/qro_lee/profile/title/{{ key }}">
                                    <h3 class="title grid-6 text_tit margin_left">
                                        {{ value.title|truncatechars:25 }}
                                    </h3>
                                </a>
                                <p class="grid-6 p_text_mini margin_left title_author text_tit">
                                    {{ value.author }}
                                </p>
                                <p class="grid-6 p_text_mini margin_left text_tit">
                                    {% for k in value.genre %}
                                        {% if forloop.counter <= 4 %}
                                            <span class="title_author">{{ k }}</span>
                                        {% endif %}
                                    {% endfor %}
                                </p>
                                <p class="grid-6 p_text_mini margin_left text_tit">
                                    <span >
                                        {% for x in 'xxxxx' %}
                                            {% if forloop.counter <= value.grade and value.grade > 0 %}
                                                <img src="/static/img/comunityStar.png" />
                                            {% else %}
                                                <img src="/static/img/backgroundStar.png" />
                                            {% endif %}
                                        {% endfor %}
                                    </span>
                                </p>
                            </span>
                        {% endfor %}
                        {% for key, value in authors.items %}
                            <span class="item_title item_height grid-9 no-margin">
                                <a href="/qro_lee/profile/author/{{ key }}">
                                    <span class="wrapper_title wrapper_title_list borde_author ">
                                        <img class="img_size_all" src="{{ value.picture }}" />
                                    </span>
                                </a>
                                <a href="/qro_lee/profile/author/{{ key }}">
                                    <h3 class="title grid-6 margin_left">
                                        {{ value.name|truncatechars:25 }}
                                    </h3>
                                </a>
                                <span class="grid-6 margin_left height_tit_list">
                                    {{ value.biography|truncatechars:200 }}
                                </span>
                                <span class="grid-6 margin_left title_author">
                                    {% if value.count == 0 %}
                                        no tiene Títulos
                                    {% else %}
                                        {{ value.count }} Títulos
                                    {% endif %}
                                </span>
                            </span>
                        {% endfor %}
                    </div>
                    <span class="container_titles grid-9 no-margin">
                        {% if titles|length > 3 or authors|length > 3 %}
                            <span class="place_pink link_all fright all_items">
                                <span class="span_text">ver todos</span>
                                <input type="hidden" value="0">
                            </span>
                        {% endif %}
                    </span>
            </div>
            {% endif %}
            {% if type != 'list' %}
                <div class="coments grid-10 no-margin">
                {% load disqus_tags %}
                {% set_disqus_identifier type profile.id %}
                {% disqus_show_comments %}
            </div>
            {% endif %}
            <div class="titles_author grid-5 border_left">
                {% if type == 'author' %}
                    <span>
                        <div class="container_titles grid-5 no-margin border_bottom">
                            <h3 class="title my_titles">
                                Titulos de este autor
                            </h3>
                            {% for key, value in list_titles.items %}
                                <span class="item_title grid-5 no-margin">
                                <a href="/qro_lee/profile/title/{{ key }}">
                                    <span class="wrapper_title borde_author ">
                                        {% if not value.picture or value.picture == 'None' %}
                                            <img class="img_size_all"
                                                 src="/static/img/create.png" />
                                        {% else %}
                                            <img class="img_size_all"
                                                 src="{{ value.picture }}" />
                                        {% endif %}
                                    </span>
                                </a>
                                <a href="/qro_lee/profile/title/{{ key }}">
                                    <h3 class="title grid-3 title_mini">
                                        {{ value.title|truncatechars:25 }}
                                    </h3>
                                </a>
                                <span class="grid-3">
                                    {% for x in 'xxxxx' %}
                                        {% if forloop.counter < value.grade %}
                                            <img class="starts_mini" src="/static/img/comunityStar.png" />
                                        {% else %}
                                            <img class="starts_mini" src="/static/img/backgroundStar.png" />
                                        {% endif %}
                                    {% endfor %}
                                </span>
                            </span>
                            {% endfor %}
                        </div>
                        {% if list_titles.items and list_titles.items|length > 3 %}
                            <span class="place_pink link_all fright all_list">
                                <span>ver todos</span>
                                <input type="hidden" value="0">
                            </span>
                        {% endif %}
                    </span>
                    <span>
                        <div class="container_titles grid-5 no-margin ">
                            <h3 class="title my_titles title_coLista qntai_aut">
                                Lista que contiene este autor
                            </h3>
                            {% for obj in list %}
                                <span class="item_title grid-5 no-margin">
                                <a href="/qro_lee/profile/list/{{ obj.list.id }}">
                                    <span class="wrapper_title borde_author ">
                                        {% if not obj.list.picture or obj.list.picture == 'None' %}
                                            <img class="img_size_all"
                                                 src="/static/img/create.png"/>
                                        {% else %}
                                            <img src="/static/media/users/{{ obj.list.user.id }}/list/{{ obj.list.picture }}"
                                                 class="img_size_all"   />
                                        {% endif %}
                                    </span>
                                </a>
                                <a href="/qro_lee/profile/list/{{ obj.list.id }}">
                                    <h3 class="title grid-3 title_mini">
                                        {{ obj.list.name|truncatechars:25 }}
                                    </h3>
                                </a>
                                <p class="grid-3 p_text_mini text_list">Lista creada por
                                    <a href="/accounts/users/profile/{{ obj.list.user.id }}"
                                       class="d-pink">
                                        {{ obj.list.user.username }}
                                    </a>
                                </p>
                            </span>
                            {% endfor %}
                        </div>
                        {% if list and list|length > 3 %}
                            <span class="place_pink link_all fright all_list">
                                <span>ver todos</span>
                                <input type="hidden" value="0">
                            </span>
                        {% endif %}
                    </span>
                {% endif %}
                {% if type == 'title' %}
                    <span>
                        <div class="container_titles grid-5 no-margin border_bottom">
                            <h3 class="title my_titles">
                                Personas que han leído este libro
                            </h3>
                            {% for key, value in list_user.items %}
                                <span class="item_title grid-5 no-margin">
                                    <a href="/accounts/users/profile/{{ key }}">
                                        <span class="wrapper_title borde_author ">
                                            {% if value.picture %}
                                                <img class="img_size_all"
                                                    src="/static/media/users/{{ key }}/profile/{{ value.picture }}" />
                                            {% else %}
                                                <img src="/static/img/create.png"
                                                     class="img_size_all" />
                                            {% endif %}
                                        </span>
                                    </a>
                                    <a href="/accounts/users/profile/{{ key }}">
                                        <h3 class="title grid-3 title_mini text_name_user">
                                           {{ value.user.username|truncatechars:12 }}
                                        </h3>
                                    </a>
                                </span>
                            {% endfor %}
                        </div>
                        {% if list_user.items and list_user.items|length > 3 %}
                            <span class="place_pink link_all fright all_list">
                                <span>ver todos</span>
                                <input type="hidden" value="0">
                            </span>
                        {% endif %}
                    </span>
                    <span>
                        <div class="container_titles grid-5 no-margin ">
                            <h3 class="title my_titles title_contai_aut">
                                Lista que contienen este libro
                            </h3>
                            {% for obj in list %}
                                <span class="item_title grid-5 no-margin">
                                    <a href="/qro_lee/profile/list/{{ obj.list.id }}">
                                        <span class="wrapper_title borde_author ">
                                            {% if not obj.list.picture %}
                                                <img class="img_size_all" src="/static/img/create.png" />
                                            {% else %}
                                                <img class="img_size_all"
                                                     src="/static/media/users/{{ obj.list.user.id }}/list/{{ obj.list.picture }}" />
                                            {% endif %}
                                        </span>
                                    </a>
                                    <a href="/qro_lee/profile/list/{{ obj.list.id }}">
                                        <h3 class="title grid-3 title_mini">
                                            {{ obj.list.name|truncatechars:25 }}
                                        </h3>
                                    </a>
                                    <p class="grid-3 p_text_mini text_list">Lista creada por
                                        <a href="/accounts/users/profile/{{ obj.list.user.id }}" class="d-pink ">
                                            {{ obj.list.user.username }}
                                        </a>
                                    </p>
                                </span>
                            {% endfor %}
                        </div>
                        {% if list and list|length > 3 %}
                            <span class="place_pink link_all fright all_list">
                                <span>ver todos</span>
                                <input type="hidden" value="0">
                            </span>
                        {% endif %}
                    </span>
                {% endif %}
                {% if type == 'list' %}
                    <span>
                        <div class="container_titles grid-5 no-margin ">
                        <h3 class="title my_titles text_list">
                            Listas similares
                        </h3>
                        {% for key, value in list.items %}
                            <span class="item_title grid-5 no-margin">
                                <a href="/qro_lee/profile/list/{{ key }}">
                                    <span class="wrapper_title borde_author ">
                                        {% if not value.picture %}
                                            <img src="/static/img/create.png" class="img_size_all" />
                                        {% else %}
                                            <img class="img_size_all" src="/static/media/users/{{value.user.id }}/list/{{ value.picture }}" />
                                        {% endif %}
                                    </span>
                                </a>
                                <a href="/qro_lee/profile/list/{{ key }}">
                                    <h3 class="title grid-3 title_mini">
                                        {{ value.name|truncatechars:25 }}
                                    </h3>
                                </a>
                                <p class="grid-3 p_text_mini text_list">Lista creada por
                                        {% if type != 'list' %}
                                            <a href="/accounts/users/profile/{{ value.list.user.id }}" class="d-pink">
                                                {{ value.list.user.username }}
                                            </a>
                                        {% else %}
                                            <a href="/accounts/users/profile/{{ value.user.id }}" class="d-pink">
                                                {{ value.user.username }}
                                            </a>
                                        {% endif %}
                                </p>
                            </span>
                        {% endfor %}
                    </div>
                    {% if list.items and list.items|length > 3 %}
                        <span class="place_pink link_all fright all_list">
                            <span>ver todos</span>
                            <input type="hidden" value="0">
                        </span>
                    {% endif %}
                    </span>
                {% endif %}
            </div>
            {% if type == 'list' %}
                <div class="coments grid-10 no-margin">
                {% load disqus_tags %}
                {% set_disqus_identifier type profile.id %}
                {% disqus_show_comments %}
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}