{% extends 'base.html' %}
{% load staticfiles %}
{% load registry_tags %}

{% block style %}
    <link rel="stylesheet" href="{% static "style/register.css" %}"/>
    <link rel="stylesheet" href="{% static "style/theme.css" %}"/>

{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "js/tiny.js" %}"></script>
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>
    <script type="text/javascript" src="{% static "js/ajax.js" %}"></script>
{% endblock %}

{% block head %}
    {% include 'header.html' %}
{% endblock %}
{% block main_site %}
    <div class="grid-16 qr-div">
    <div class="grid-16 news-feed no-margin" style="display: block">

        <div class="grid-9 center margin-30 qr-wrapper">
            <div class="qr-content center">
                <h3 class="title center">
                    <b>Hola</b>, soy un libro <br>
                    vagabundo
                </h3>
                <p style="margin-bottom: 10px;font-size: 14px;" class="center din-r">Lee mi historia y compárteme con los <br>
                demás, entra a <span class="din-b">qrolee.com</span> y observa <br>
                por dónde he caminado e intercambia <br>
                tus ideas de la lectura</p>
                <span class="qr grid-3 no-margin fleft">
                    <img src="/static/qr/{{ code }}.png" alt=""/>

                </span>
                <p class="center ral">http://qrolee.com/qro_lee/book/{{ code }}</p>
                <p class="center"><b>Código :</b> {{ code }}</p>
                <a href="/qro_lee/qr_to_pdf/{{ code }}" target="_blank" class="view-pdf spot center">Imprimir</a>
            </div>
            <div class="legend center qr-content">
                    <p style="width: 200px;text-align: center;" class="grid-4 no-margin fleft">Querétaro Lee es un proyecto enfocado a la
                        creación de momentos de aprendizaje en torno a la lectura en la ciudad de Querétaro.</p>

                <a class="grid-1 omega logo" href="/">
                    <span></span>
                </a>
                </div>
        </div>
        </div>
    </div>
{% endblock %}