{% extends 'base.html' %}
{% load staticfiles %}
{% load registry_tags %}

{% block style %}
    <link rel="stylesheet" href="{% static "style/register.css" %}"/>
    <link rel="stylesheet" href="{% static "style/theme.css" %}"/>

{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "js/tiny.js" %}"></script>
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>
    <script type="text/javascript" src="{% static "js/ajax.js" %}"></script>
{% endblock %}

{% block head %}
    {% include 'header.html' %}
{% endblock %}
{% block main_site %}
    <div class="grid-16">
        <h3 class="title center">¡Listo!</h3>
        <h4 class="title center">Imprime, recorta y pega esta etiqueta en la contra parte de tu libro</h4>
        <div class="grid-10 center margin-50 qr-wrapper">
            <div class="grid-9 center">
                <span class="qr grid-4 no-margin fleft">
                    <img src="/static/qr/{{ code }}.png" alt=""/>
                </span>
                <span style="height: 220px;" class="grid-5 no-margin fright">
                    <h3 class="main no-margin title">Hola, este libro no está perdido.
                    Se encuentra viajando por el mundo</h3>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                        Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
                        Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.
                        Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra.
                        Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. </p>
                </span>
                <a class="qr-link fleft" href="/qro_lee/book/{{ code }}">{{ url }}</a>
                <p class="grid-2 view-pdf category fright">Ver pdf</p>
            </div>
        </div>
    </div>
{% endblock %}