.btn_fb_profile span, .btn_fb_profile div, .btn_fb_profile iframe{
    height: 100%;
    width: 100%;
    display: block;
}
.courses{
    margin: 20px 10px 30px 10px;
    display: block;
}

.courses{
    min-height: 640px;
    background: #fffcf5;
    display: block;
    padding-bottom: 80px;
}

.courses .container_text{
    float: left;
    background: #edd9af;
}

.container_text .title{
    margin-left: 25px;
    margin-top: 20px;
    float: left;
}
.container_text p{
    margin-left: 25px!important;
    margin-top: 10px!important;
}

.container_text .brown_btn{
    background-image: none;
    padding-right: 9px;
    margin-top: 20px;
    margin-left: 25px;
    margin-bottom: 20px;
}
.all .container_course{
    width: 360px!important;
}
.all .brown_btn{
    width: auto !important;
    padding: 4px 9px !important;
}
.container_course{
    overflow: hidden;
}
.container_course .item{
    position: relative;
    border: 1px solid #C4C4C4;
    float: left;
    height: auto;
    transition: all ease-in 0.3s;
    padding-bottom: 25px;
}
    .container_course .item .remove{
        position: relative;
        right: 0px;
        top: 0px;
        margin: 0px;
        text-align: center;
        text-indent: 0px;
    }
.container_course .item:hover{
    background: #f8edd5;
    cursor: pointer;
}
.edit_wrapper{
    width: 34px;
    height: 34px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.container_item{
    margin-left: 20px;
    margin-top: 15px;
    float: left;
}
.container_item .title{
    font-size: 16px;
}
.container_item p{
    font-size: 11px;
    margin-top: 10px!important;
}
.courses .brown_btn{
    width: 100%;
    text-align: center;
    padding-left:0px;
    padding-right:0px;
    position: relative;
}
.container_course .number span{
    padding: 0px 3px;
    float: right;
}

.container_course .number img{
    padding: 3px 0px;
    height: 10px;
    float: right;
}
.container_course .green_btn{
    top: 0px!important;
}

.container_course .sele{
    background: #edd9af;
}

.view .item{
    width: 100%!important;
}

.view .container_item{
    padding: 5px 15px;
    margin-top: 0px!important;
    margin-left: 0px;
}

.view .btn_fb{
    float: right;
    background: #003cb3;
    height: 20px;
    width: 80px;
    margin-right: 20px;
    margin-top: 25px;
}

.view .container_rate{
    margin-left: 25px;
}

.view .container_text{
    background: #f8edd5;
    width: 100%!important;
}
.view .item{
    border-right: 0px;
}
.view .by{
    margin-left: 25px;
    font-size:  14px;
    font-family: 'Conv_fontscore.com_d-dinproregular';
}
.view .by span{
    font-family: 'Conv_fontscore.com_d-dinproregular';
}

.view .container_text p{
    margin-bottom: 20px;
}

.view_courser .container_text{
    border-left:  1px solid #C4C4C4;
}
.module{
    border: 1px solid #c4c4c4;
    border-right: 0px;
}

.module .title{
    padding: 10px 20px;
    float: left;
    margin-bottom: 0;
    font-size: 16px;
}

.module .subtitle {
    font-size: 14px;
    padding: 5px 10px;
    font-family: 'Conv_fontscore.com_d-dinproregular';
    border-bottom: 1px solid #c4c4c4;
    float: right;
}

.module_act .subtitle{
    margin-bottom: 0px!important;
    border-bottom: 0px;
    float: left;
    font-family: 'Conv_fontscore.com_d-dinproregular';
}
.module_act .module_title{
    margin-bottom: 0px!important;
    border-bottom: 0px;
    float: left;
    font-family: 'Raleway';
}
.module_act img{
    float: left!important;
    margin-left: 15px;
}

.module img {
    float: right;
    padding: 8px 0px;
}
.module p{
    margin-left: 20px;
}
.module .grid-7{
    transition: all ease-in 0.3s;
    cursor: pointer;
}
.module .grid-7:hover,.module_act:hover,.module_act .sele{
    background: #edd9af;
}

.view .social_profile{
    float: right;
    margin-right: 25px;
    padding-top: 20px
}

.content .title{
    margin-bottom: 20px;
}
.content .view_courser p{
    padding-right: 25px;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content_text{
    float: left;
    margin: 20px 0px 0px 35px;
}

.content .brown_btn{
    font-size: 14px;
    font-family: 'Raleway';
}
.module_act{
    transition: all ease-in 0.3s;
}

.content .module_act{
    float: left;
    border-top: 0px;
    width: 100%;
    padding: 0px 0px;
}

.coments.grid-10{
    margin-left: 35px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    background: #fffcf5;
}
ul.parent li{
    border: 1px solid #c4c4c4;
    border-right: none;
}
ul.child li{
    border: none;
}
.sortable li:hover, .sortable .grid-7:hover{
    cursor: url("https://maps.gstatic.com/mapfiles/openhand_8_8.cur"), default;
}
.activeHover{
    border: 1px dashed #c4c4c4;
}
.nonActive{
    opacity: 0.5;
}
.​openHand​{
    cursor: url(https://mail.google.com/mail/images/2/openhand.cur), default !important;
}

.closeHand {
    cursor: url(https://mail.google.com/mail/images/2/closedhand.cur), default !important;
}​
.sortable.parent li:hover{
    border: 1px dashed #c4c4c4 !important;
}

    .register_course .text{
        font-size: 14px!important;
    }

    .register_course .field input ,.register_course .field textarea{
        width: 280px;
        float: right;
        text-indent:5px;
        border: 1px solid #e4e4e4;
        background: #fff;
        padding: 0px 0px;
    }
    .register_course .field{
        padding: 4px 0px;
    }
    .register_course .field .attr, .register_course .discussion .fleft{
        padding: 5px 0px;
        float: left;
        font-size: 13px;
        font-weight: 500!important;
        font-family: 'Raleway'!important;
    }

    .register_course .select_wrapper{
        left: 83px!important;
    }

    .register_course .line_divide{
        width: 100%;
        margin-top: 10px;
    }

    .register_course .seccion{
        width: 100%;
        float: left;
        margin-top: 20px;
    }
.item-mod{
    width: 100%;
    float: left;
    border-bottom: 1px solid #C4C4C4;

}
    .item-mod .title{
        margin-top: 20px;
        font-size:  16px;
    }
    .item-mod .description{
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .item-mod .part_l{
        border-right: 1px solid #C4C4C4;
    }
    .item-mod .content{
        float: left;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 5px;
        border-bottom: 1px solid #c4c4c4;
    }

    .item-mod .test{
        float: left;
        padding-top: 10px;
    }

    .item-mod .item_content, .item-mod .item_test{
        width: 100%!important;
        float: left;
        padding-bottom: 10px;
    }

    .item-mod .content img,.item-mod .test img{
        float: left;
        padding:  0px 10px;
    }
    .item-mod .content span,.item-mod .test span{
        float: left;
        width: 200px;
        margin-bottom: 0px;
        margin-top: 0px;
        font-size: 12px!important;
    }
    .item-mod .content .place_pink ,.item-mod .test .place_pink{
        padding: 0px 10px;
        padding-bottom: 10px;
        float: left;
        margin-left: 20px;
    }

#register_course .remove{
    padding: 4px 9px 4px 9px!important;
    font-size: 12px;
}
#register_course{
    width: 100%;
    float: left;

}
.item-mod .btns{
    margin-bottom: 25px;
}
.item-mod .btn_delete{
    float: left;
}

.item-mod .del{
    height: 21px!important;
    width: 21px!important;
    float: left;
    border: 1px solid #a77340 !important;
    top: 0px!important;
    background: #C69263 url("http://localhost:8000/static/img/btn_edit.png") no-repeat center !important;
    background-size: 16px 14px!important;
}
.create_content .container_btn{
    float: right;
}

.create_content .btn_save_pag{
    height: auto!important;
    padding: 3px 9px!important;
}

.item_content .btn_delete{
    height: 13px;
    width: 13px!important;
    float: right!important;
    margin-right: 0px;
}

.register_course .create_mod{
    width: auto!important;
    padding: 4px 9px;
}

.test .subtitle{
    border-top: 1px solid #c4c4c4 !important;
}

.test-wrap{
    width: 100%;
    height: 350px;
    border: 1px solid #c4c4c4;
    border-right: none;
    position: relative;
}
#test{
    height: 100%;
}
#test .finish{
    width: 100% !important;
}
#test .option-set{
    margin-top: 30px;
    width: 100%;
}

#test .option-set li{
    float: left;
    width: 50%;
}
    #test .option-set li .text_rad{
        margin-top: 0px;
    }
.finish{
    width: 100%;
    display: none;
    margin-top: 30px;
}
.view_courser .container_text .test{
    margin-top: 10px;
}
.view_courser .container_text  span.options-counter{
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px !important;
    margin-right: 30px !important;
}
.curr,.total{
    font-size: inherit;
    font-weight: inherit;
}
.view_courser .container_text .gray_text{
    margin: 15px 5px 0px 0px !important;
}
.controller{
    width: 50px;
    height: 25px;
    position: absolute;
    right: 0px;
    top: 20px;
    z-index: 99999;
}
#next, #prev,#next_, #prev_{
    width: 20px;
    height: 100%;
    cursor: pointer;
    background-position: center !important;
}

.grade-ajax #prev_, .grade-ajax #next_{
    top: -25px;
}

.test-wrap .accept{
    display: none;
    top: -45px !important;
}

.correct-wrap{
    float: left;
    width: 100%;
}
.correct-wrap .answer{
    width: 30px;
    height: 30px;
    float: left;
    overflow: hidden;
}
    .correct-wrap .answer img{
        position: relative;
    }

    .error{
        display: none;
        position: absolute;
        bottom: 40px;
        left: 60px;
        color: #e35e47;
    }