.registry.entities{
    height: auto;
}
.registry.entities  .registry{
    height: auto;
    padding-bottom: 50px;
}
#registry{
    padding: 0px;
}
    #registry p{
        font-size: 13px;
        font-family: 'Raleway' sans-serif;
        height: 27px;
        font-weight: 400;
        line-height: 27px;
        float: left;
        width: 100%;
        display: inline-block;
        position: relative;
        margin-top: 0px;

    }
    #registry .invalid{
        top: -35px !important;
        right: -65px !important;
    }
    #registry .textarea{
        height: 100px;
    }
    .textarea textarea.fix{
        height:90px !important;
    }
        .textarea textarea{
            padding: 10px 0px 0px 0px !important;
            height: 50px;
            text-transform: none !important;

        }
        #registry p span select{
            opacity: 0;
            width: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
        }
        #registry .select{
            padding: 0px;
            height: 27px;
        }
            #registry .select .text{
                text-transform: capitalize;
                width: 100%;
                height: 100%;
                display: block;
                color: #424242;
                font-family: Arial, sans-serif;
            }
            #registry .select .dropdown{
                position: absolute;
                right: 0px;
                top: 0px;
                width: 15px;
                height: 100%;
                display: block;
                border-left: 1px solid #e4e4e4;
                background: url('../img/dropdown.png') no-repeat 4px 7px;
            }
        .select,#registry p input:not([type='submit']),#registry p textarea{
            color: #424242;
            height: 100%;
            text-indent: 5px;
            outline: none;
            display: block;
            border:1px solid #e4e4e4;
            margin:0px !important;
            background: #fff;
            font-family: Arial, sans-serif;
        }
        #registry p textarea{
            text-indent: 0px!important;
        }
        .multi_select{
            height: 100%;
            background: #fff;
            display: block;
            border:1px solid #e4e4e4;
            overflow-y: scroll;
        }
            .multi_select span{
                width: 100%;
                height: 20px;
                line-height: 20px;
                text-align: left;
                display: block;
                margin-top: 5px;
                cursor: pointer;
                font-size: 13px;
                text-indent: 7px;
                font-family: 'Conv_fontscore.com_d-dinproregular';
            }
            .multi_select .active{
                background: #cccc66;
            }
        #registry input[type='submit']{
            background: #cccc66;
            padding: 3px 10px 3px 10px;
            font-family: 'Raleway' sans-serif;
        }
        .green_btn{
            padding: 2px 8px 2px 8px;
        }
        .filename{
            font-family: Arial, sans-serif;
            line-height: 26px;
        }
        input.picture{
            opacity: 0;
            position: absolute;
            left: 0px;
            top: 0px;
            cursor: pointer;
            width: 80px;
            border: none;
        }

#registry .map{
    height: 100%;
    display: block;
}
#registry #map{
    width: 100%;
    height: 100%;
    display: block;
    left: 0px;
}
form p .invalid{
            background: #fff;
            font-weight: normal;
            padding: 3px 10px 3px 10px;
            position: absolute;
            right: -85px;
            top: -20px;
            box-shadow: 2px 3px 3px rgba(0,0,0,0.3);
            display: none;
        }

    .preview,.dz-message{
        height: 180px;
        font-family: 'Raleway' sans-serif;
        text-align: center;
        color: #000;
        float: right;
        width: 280px;
        border: 2px dashed #777;
        border-radius: 10px;
        margin-bottom: 50px;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .dz-message{
        line-height: 180px;
    }

    .dz-filename,.dz-size,.dz-success-mark,.dz-error-mark{
        display: none;
    }
    .dz-remove{
        color: #ed8571;
        font-family: 'Raleway' sans-serif;
        font-size: 10px;
    }


.message{
    display: none;
    font-family: 'Raleway' sans-serif;
    font-size: 12px;

}
.message.success{
    color: #cccc66;
}
.message.fail{
    color: #e35e47;
}

#picture{
    height: 180px;
    width: 282px;
    position: relative;
}
#cover{
    height: 180px;
    width: 282px;
    position: relative;
    margin-top: 40px;
}


textarea{
    resize: none;
}