.header .grid-3{
    height: 100%;
}
    .grid-3 .main_btn{
        margin: 40px 0px 0px 10px;
        font-family: "Raleway" sans-serif;


    }
.welcome_banner{
   height: 40px;
}
    .welcome_banner span{
        width: 100%;
        display: block;
        background: url('../img/welcome_banner.png') no-repeat 50% -55px;
        height: 113px;
    }

.instructions{
    min-height: 350px;
    position: relative;
    margin-bottom: 40px !important;
    margin-top: 20px !important;
}
    .instructions .icon{
        height: 120px;
        width: 1px;
        display: block;
        position: absolute;
    }
        .icon span{
            height: 150px;
            display: block;
            position: relative;
        }
        .icon.top,.icon.bottom{
            left: 50%;
        }
        .icon.left,.icon.right{
            top: 120px;
        }
        .icon.right span,.icon.bottom span{
            width: 270px;
            height: 230px;
        }
        .icon.top span, .icon.left span{
            left: -100px;
            width: 200px;
        }
        .icon.right span{
            top: -50px;
            left: -135px;
        }
        .icon.bottom span{
            left: -125px;
        }

    .instructions p{
        width: 100%;
        position: absolute;
        top: 145px;
        font-size: 25px;
        line-height: 25px;
        font-family: "Raleway" sans-serif;
    }

.caption{
    margin-bottom: 20px !important;
    height: 115px;
}
.caption .c{
    text-align: center;
    font-size: 15px;
    position: relative;
    font-family:  "Lucida Bright";
    padding-top: 20px;
    font-style: italic;
}
    .caption span{
        font-size: 12px;
        font-family: inherit;
        margin-top: 5px;
        display: block;
        font-style: normal;
        font-family: 'Raleway';
    }
    .caption .left, .caption .right{
        width: 20px;
        height: 100px;
        display: block;
        position: absolute;
    }
    .caption .left{
        background: url('../img/detail_left.png') no-repeat 0px 0px;
        left: -20px;
    }
    .caption .right{
        background: url('../img/detail_right.png') no-repeat 0px 0px;
        right: -20px;
    }
    .caption .bottom{
        display: block;
        position: absolute;
        width:333px;
        height: 5px;
        left: -55px;
        background: url('../img/detail_ruler.png') no-repeat 0px 0px;
    }

.mission{
    font-size: 14px;
    position: relative;
    height: 100px;
    font-family:  "Lucida Bright";
    line-height: 20px;
}
    .mission .bottom{
        position: absolute;
        width: 100%;
        left:0px;
        height: 20px;
        display: block;
        background: url('../img/detail_bottom.png') no-repeat 50% 0px;
    }


.container{
    padding-bottom: 60px;
}

.container-16 .form-container{
    width: 260px;
    display: none;
    margin-top: 50px;
    background: url('../img/register_form_bg.png');
    padding: 10px 30px 10px 30px;
    font-family: 'Raleway', sans-serif;
    position: relative;
	background-repeat: repeat !important;
}
    .form-container .shadow{
        position: absolute;
        left: 14px;
        bottom: -19px;
    }
    .form-container .title{
        color:#F4E5C9;
        font-size: 15px;
        text-align: left;
        text-indent: 15px;
        font-family: inherit;
        font-weight: 400;
        margin-bottom: 30px;
        background: #C29E78;
        height: 30px;
        line-height: 30px;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        margin-top: 0px;

    }
        .title .close{
            width: 12px;
            height: 12px;
            display: block;
            background: url('../img/light_close.png') no-repeat 50% 50%;
            position: absolute;
            top: 8px;
            right: 8px;
        }

form.center.grid-4{
    display: none;
}

.part_3 .btn_sub{
    width: 100px;
}

.part_1{
    margin-right: 20px!important;
}

form.register{
    padding-bottom: 30px;
}
    .banner{
        display: block;
        margin: 30px 0px 20px 0px;
        width: 100%;
        font-size: 13px;
        text-align: left;
        font-weight: 400;
        font-family: sans-serif;
    }
    .banner.fail{
        color: #EE795F;
        font-size: 11px;
        font-family: 'Raleway';
    }
    .banner.success{
        color: #6DA278;
        font-size: 11px;
        font-family: 'Raleway';
    }
    .banner .login{
    color: #f26e51;
    }
        .banner span{
            cursor: pointer;
            text-decoration: underline;
            font-family: inherit;
        }

    form p{
        position: relative;
        font-size: 12px;
        display: block;
        min-height: 30px;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;

    }
        form p input:not([type='submit']){
            background: #f4e5c8;
            text-indent:5px;
            border: 1px solid #c2baab;
            font-family: inherit;
        }
        form p .invalid{
            background: #fff;
            font-weight: normal;
            padding: 3px 10px 3px 10px;
            position: absolute;
            right: -85px;
            top: -2px;
            box-shadow: 2px 3px 3px rgba(0,0,0,0.1);
            display: none;
            font-size: 11px;
            font-family: sans-serif;

        }
        .banner.error{
            color: #EE7960;
        }
        form p .icon{
            width: 25px;
            height: 25px;
            display: inline-block;
            float: left;
            marbtn_subgin-right: 5px;
            position: relative;

        }
        form p input[type='submit'], form p input.submit{
            background: #f2e28e !important;
            border: 1px solid #ce8d51;
            padding:7px 15px;
            float: right;
            font-family: 'Raleway', sans-serif;
            transition: all .5s;
            -webkit-transition: all .5s; /* Safari */
            width: auto !important;
        }
        form p input[type='submit']:hover{
            border-color: #d1a574;
        }
        form p .reset{
            float: left;
            text-decoration: underline;
            font-size: 11px;
            cursor: pointer;
            font-family: 'Conv_fontscore.com_d-dinproregular';
        }
        .social-login{
            line-height: 30px;
            font-size: 11px;
            font-family: 'Conv_fontscore.com_d-dinproregular';
        }
        .register .social-login{
            display: block !important;

        }
        .register .line_divide{
            border-color: #777;
        }
            .social-login a{
                width: 68px;
                height: 20px;
                display: block;
                margin:6px 0px 0px 10px;
                float: right;

            }
            .register .social-login a{
                float: left !important;
            }
            .register .social-login .fb{

            }
.cont_reg{
    height: 305px;
}

.arrow{

    background-image: url('../img/arrow.png');
    width: 349px !important;
    height: 247px !important;
    top: 63px;
    left: 119px;

}

.left{
    left: 78px;
}
.right{
    right: 68px;
}
.top{
    top:8px;
}

.logo{

    left: 118px;

}
.header{
    height: 100px;
}

.checkbox{
    min-height: 30px;
    display: block;
    width: 8px;
    float: left;
    margin-right: 14px;
}
.checkbox span{
    width: 100%;
    height: 8px;
    display: block;
    float: left;
    margin-right: 5px;
    position: relative;
    top: 1px;
    border: 1px solid #9d9c97;
    font-size: 13px;
    line-height: 8px;
    text-align: center;
    color: #454545;
    cursor: pointer;
}

.create{
    width: 100% !important;
    height: 0px;
    overflow: hidden;
}

.select{
    background: #fbf6ea;
    padding: 0px 0px 0px 5px;
    height: 20px;
    border: 1px solid #c2baab;
    position: relative;
    margin: 0px auto !important;
    display: block;
    float: none;
    top: 7px;
    left: 0px;

}
 .select .dropdown{
     position: absolute;
    right: 0px;
    top: 0px;
    width: 15px;
    height: 100%;
    display: block;
    border-left: 1px solid #e4e4e4;
    background: url('../img/dropdown.png') no-repeat 4px 7px;
}
.select .text{
    text-transform: capitalize;
    width: 100%;
    height: 100%;
    display: block;
    color: #454545;
    font-family: 'Conv_fontscore.com_d-dinproregular';
    line-height: 20px;
}

select{
    opacity: 0;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
.fix-left{
    position: relative;
    left: -16px;
}
