.d-container .center{
    margin:0 auto;
    float: none;
    display: block;
}

.d-container{
    background-color: #ffffff;
    height: 600pt;
    margin-top: 10pt;
}

.d-container-name{
    width: 100%;

}

.d-image{
    width: 100%;
    height: 125pt;
    background-size: 100% 100%;
    overflow: hidden;
}

.d-container-1{

    width: 75%;
    float: left;
}

.d-container-2{
    width: 25%;
    float: right;
}

.d-by .title,.d-by .place_pink{
    font-weight: 400!important;
    font-size: 14px!important;
    padding-right: 2px;
    font-family: 'Conv_fontscore.com_d-dinproregular'!important;

}

.d-btn_event{

    width: 40%;
    margin-left: 349pt;
    margin-bottom: 10pt;

}

.btn_social{
    padding: 4px 9px;
    cursor: pointer;
    font-size: 12px;
    height: 17px;
    line-height: 17px;
    font-weight: 500;
    float: right;
    color: #000;
    font-family: 'Raleway';
}

#d-btn-facebook {
    border: 1px solid #354c8c;
    background: #4c69ba;
    color: #fff;
}

#d-btn-attend{

    text-align: center;
    color: #ffffff;
    font-family: 'Raleway';
    margin-left: 4px;
    background: #f89883;
    border: 1px solid #EC6243;

}

p,b{

    color: #000000;

}

.d-description{
    padding:4pt 0pt 4pt 0pt;
    border-bottom: 1px solid #999999;
    width: 95%;
    font-size: 10pt;
}
.sub_title p{
    margin-top: 3px!important;
}
.sub_title{
    width: 130px!important;
    margin-top: 10px;
}
.sub_title .title{
    font-size: 16px!important;
}
.d-map{

    margin-top: 18pt;
    height: 150pt;
    width: 95%;
    margin-bottom: 25px;
}

.d-date{

    padding:4pt 0pt 4pt 0pt;
    font-size: 10pt;
    color: #222222;
}

.d-address{

    padding:4pt 0pt 4pt 0pt;
    font-size: 10pt;
    color: #222222;
}

.d-container_events{

    width: 85%;
    padding-left: 24pt;
}

.d-title_events{
    width: 100%;
    color: #000;
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 500;
    padding: 0pt 0pt 8pt 0pt;
    border-bottom: 1pt solid #999999;
}

.d-list_events{
    width: 100%;
}


.d-line{
    border-bottom: 1px solid #999999;
    padding: 5pt 0pt 5pt 0pt;
    width: 100%!important;
}

.d-container-data{

    width: 100%;
}

.d-data1{
    width: 75%;
    float: left;
}

.d-data2{
    float: left;
    width: 25%;

}

.d-image-event{
    max-height: 100%;
    margin: 0 auto;
    display: block;

}

.d-image_mini_event{
    width:70px;
    height:70px;

}

.d-image-mini{
    width: 40%;
    float: left;
}

.d-text_event{
    width: 50%;
    height: 100%;
    float: left;
    margin-left: 10px;

}

.mini_priv{
    padding-right: 5px;
    float: left;
}
.private_event{
    font-family: Raleway;
    font-weight: 500;
    margin-left: 60px;
    margin-top: 6px;
}
.private_event span{
    margin-top: -1px;
    float: left;
}
.d-data-event{
    font-size: 11px;
    color: #777;
    font-family: 'Conv_fontscore.com_d-dinproregular';
}
.d-name-event-mini{
    margin-top: 13px!important;
    font-size: 14px!important;
}
.d-name-event{
    margin-top: 10px!important;
}
.d-buttoms{
    margin-top: 82px;
}

.d-event{
    width: 100%;
    height: 56pt;
    padding: 10pt 0pt 0pt 0pt;

}