{% extends 'base.html' %}
{% load staticfiles %}

{% block style %}
    <link rel="stylesheet" href="{% static "style/theme.css" %}"/>
    <link rel="stylesheet" href="{% static "style/registry.css" %}"/>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "js/tiny.js" %}"></script>
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>
    <script type="text/javascript" src="{% static "js/ajax.js" %}"></script>

{% endblock %}

{% block head %}
    {% include 'header.html' %}
{% endblock %}

{% block main_site %}
    <div class="wrapper_message " >
        <div class="container-16 container_message">
            <div class="alert-message">{% csrf_token %}
                <span class="message-header">Administración</span>
                <p>Estas apunto de eliminar a <span class="name"></span> <br>
                    como administrador</p>
                <span class="accept relative green_btn">Acceptar</span>
                <span class="reject">Rechazar</span>
                <input class="user" type="hidden"/>
                <input class="entity" value="{{ entity.id }}" type="hidden"/>
            </div>
        </div>
    </div>

    <div class="grid-16 entity edit">
    <div class="grid-15 center">
        <input type="hidden" class="users entity" value="{{ entity.id }}"/>{% csrf_token %}
        <span class="title main">Administradores de
            <a href="/qro_lee/entity/{{ entity_type.1 }}/{{ entity.id }}/" class="{{ entity_type.1 }}">{{ entity.name|capfirst }}</a>
             {% block entity_menu %}
                {% include 'blocks/entity_menu.html' %}
            {% endblock %}
        </span>

        <span style="border:none;" class="data grid-15 center">
            <span class="nav admin_nav {{ entity_type.1 }} grid-9 no-margin">
                <span class="btn">Administradores</span>
                <span class="btn">Nuevo administrador</span>
                {% if requests %}
                  <span class="btn">Solicitudes</span>
                {% endif %}
            </span>
            <span class="heading fright">
                <span class="search fright no-margin grid-4">{% csrf_token %}

                    <input class="search" type="text"/>
                    <span class="top right search_btn dark_yello_btn">Buscar</span>
                </span>
            </span>
        </span>
        <div class="grid-15 clear admin load members center">

            <span class="grid-5 affiliate no-margin">
                <input type="hidden" class="user-id" value=""/>
                    <span class="wrapper fleft">
                        <img src="" alt=""/>
                    </span>
                    <span class="title grid-3 no-margin">
                        <span class="name"></span>
                        <span class="since"></span>
                        <span class="remove fleft">-</span>
                    </span>
                </span>
        </div>
        <div class="grid-15 clear load add members center">
                <span class="grid-5 affiliate add no-margin">
                <input type="hidden" class="user-id" value=""/>
                    <span class="wrapper fleft">
                        <img src="" alt=""/>
                    </span>
                    <span class="title grid-3 no-margin">
                        <span class="name"></span>
                        <span class="green_btn relative fleft">Nuevo administrador</span>
                        <span class="remove add relative fleft">Administrador</span>
                    </span>
                </span>

        </div>
        <div class="grid-15 clear request load members center">
            <span class="grid-5 affiliate no-margin">
                <input type="hidden" class="user-id" value=""/>
                    <span class="wrapper fleft">
                        <img src="" alt=""/>
                    </span>
                    <span class="title grid-3 no-margin">
                        <span class="name"></span>
                        <span class="remove relative fleft">-</span>
                        <span class="green_btn relative fleft">Aceptar</span>
                    </span>
                </span>
        </div>
    </div>
    </div>
{% endblock %}