{% extends 'base.html' %}
{% load staticfiles %}
{% load registry_tags %}

{% block style %}
    <link rel="stylesheet" href="{% static "style/theme.css" %}"/>
    <link rel="stylesheet" href="{% static "style/registry.css" %}"/>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "js/tiny.js" %}"></script>
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>
    <script type="text/javascript" src="{% static "js/ajax.js" %}"></script>
    <script type="text/javascript" src="{% static "js/dropzone.js" %}"></script>
{% endblock %}

{% block head %}
    {% include 'header.html' %}
{% endblock %}

{% block main_site %}
    <div class="grid-16 edit">
        <div class="grid-14 center">
            <input type="hidden" value="event" class="type" />
            <input type="hidden" class="id_object" value="{{ entity.id }}" />
            <input type="hidden" class="entity" value="{{ entity.id }}"/>{% csrf_token %}
        <span class="title main">Editar evento
            <a href="/qro_lee/events/{{ entity.id }}/" class="{{ entity_type.1 }}">{{ entity.name|capfirst }}</a>
            {% block entity_menu %}
                {% include 'blocks/entity_menu.html' %}
            {% endblock %}
        </span>


        <span class="data grid-9 fleft no-margin">

            <p>Nombre
                <span class="controllers_wrapper">
                    <span class="green_btn fright">Editar</span>
                    <span class="yellow_btn fright">Guardar</span>
                </span>
                <span class="close right"></span>
                <input name="name" type="text" value="{{ entity.name }}" class="grid-5 alpha fright value"/>
                <span class="value grid-5 alpha fright">{{ entity.name }}</span>
            </p>
            <p class="description">Descripción
                <span class="controllers_wrapper">
                    <span class="green_btn fright">Editar</span>
                    <span class="yellow_btn fright">Guardar</span>
                </span>
                <span class="close right"></span>
                <textarea name="description" class="grid-5 alpha fright value">{{ entity.description }}</textarea>
                <span class="value area grid-5 alpha fright">{{ entity.description|truncatewords:30 }}</span>
            </p>

            <p>Tipo de evento
                <span class="controllers_wrapper">
                    <span class="green_btn fright">Editar</span>
                    <span class="yellow_btn fright">Guardar</span>
                </span>
                <span class="close right"></span>
                <span class="value grid-5 alpha fright">
                    {% if entity.privacy_type == 0 %}
                        Públic
                    {% else %}
                        Privado
                    {% endif %}

                </span>
                <span class="select_wrapper grid-5 alpha fright">
                <span class="grid-2 select no-margin">
                            <span class="text">Publica</span>
                            <span class="dropdown"></span>
                            <select class="change value" name="privacy_type">
                                <option value="Publica">Publica</option>
                                <option value="Privada">Privada</option>
                            </select>
                </span>
                </span>

            </p>
            <p>Fecha de evento
                <span class="controllers_wrapper">
                    <span class="green_btn fright">Editar</span>
                    <span class="yellow_btn fright">Guardar</span>
                </span>
                <span class="close right"></span>
                <span class="grid-5 padding-fix alpha fright">
                    <span class="grid-2 fix-left fleft no-margin">
                        <span class="value">{{ entity.start_time|date_tag }}</span>
                        <input name="start_time" type="text" class="value date-init"/>
                    </span>
                    <span class="grid-3 no-margin fright">
                        Hora <input type="text" class="fright grid-2 alpha value hour-init"/>
                        <span style="margin-left: 10px;" class="value">{{ entity.start_time|time_tag }}</span>
                    </span>
                </span>
            </p>
            <p>Fecha de finalización
                <span class="controllers_wrapper">
                    <span class="green_btn fright">Editar</span>
                    <span class="yellow_btn fright">Guardar</span>
                </span>

                <span class="grid-5 padding-fix alpha fright">
                    <span class="grid-2 fix-left fleft no-margin">
                        <span class="value">{{ entity.end_time|date_tag}}</span>
                        <input name="end_time" type="text" class="value date-end"/>
                    </span>
                    <span class="grid-3 no-margin fright">
                        Hora <input type="text" class="fright grid-2 alpha value hour-end"/>
                        <span style="margin-left: 10px;" class="value">{{ entity.end_time|time_tag }}</span>
                    </span>
                </span>
            </p>
            <p>Lugar del evento
                <span class="controllers_wrapper">
                    <span class="green_btn fright">Editar</span>
                    <span class="yellow_btn fright">Guardar</span>
                </span>
                <span class="close right"></span>
                <input type="hidden" class="lat" name="lat"/>
                <input type="hidden" class="long" name="long"/>
                <textarea name="location_name" class="map address value">{{ entity.location_name }}</textarea>
                <span class="value area map">{{ entity.location_name }}</span>
                <span id="map" class="grid-5 alpha fright"></span>
            </p>
        </span>
        <span class="d-picture_user grid-4 no-margin fright"  >
            {% if entity.picture %}

                <span class="d-picture_user wrapper_picture_user">
                <span class="img-wrapper">
                    <img class="img_size_all"
                         src="/static/media/users/{{ entity.owner_id }}/event/{{ entity.picture }}" />
                    </span>
                    <span class="del-wrapper loaded">
                        <span class="spot del center picture">Eliminar foto</span>
                    </span>
                </span>
                <span class="dropzone_user disable_upload">
                    <!--<span class="grid-4 no-margin text_cent">logotipo</span>-->
                    <form id="picture" class="fright d-picture_profile dropzone no-margin grid-4" action="/registry/media/upload/">{% csrf_token %}
                        <input type="hidden" name="event_picture" value="1"/>
                        <input type="hidden" name="event" value="{{ entity.id }}"/>
                        <span class="del-wrapper func">
                            <span class="spot del center picture">Eliminar foto</span>
                        </span>
                    </form>
                </span>
            {% else %}
                <span class="dropzone_user ">
                    <!--<span class="grid-4 no-margin text_cent">logotipo</span>-->
                    <form id="picture" class="fright d-picture_profile dropzone no-margin grid-4" action="/registry/media/upload/">{% csrf_token %}
                        <input type="hidden" name="event_picture" value="1"/>
                        <input type="hidden" name="event" value="{{ entity.id }}"/>
                        <span class="del-wrapper func">
                            <span class="spot del center picture">Eliminar foto</span>
                        </span>
                    </form>
                </span>
            {% endif %}
    </span>


    <span class="d-picture_user grid-4 no-margin fright"  >
                {% if entity.cover_picture %}

                    <span class="d-picture_user wrapper_picture_user">
                    <span class="img-wrapper">
                        <img src="/static/media/users/{{ entity.owner_id }}/event/{{ entity.cover_picture }}" />
                    </span>
                        <span class="del-wrapper loaded">
                            <span class="spot del center cover">Eliminar foto</span>
                        </span>
                    </span>
                    <span class="dropzone_user disable_upload">
                        <form id="cover" class="fright d-picture_profile dropzone no-margin grid-4" action="/registry/media/upload/">{% csrf_token %}
                            <input type="hidden" name="event" value="{{ entity.id }}"/>
                            <input type="hidden" name="event_cover_picture" value="1"/>
                            <span class="del-wrapper func">
                                <span class="spot del center cover">Eliminar foto</span>
                            </span>
                        </form>
                    </span>
                {% else %}
                    <span class="dropzone_user ">
                        <form id="cover" class="fright d-picture_profile dropzone no-margin grid-4" action="/registry/media/upload/">{% csrf_token %}
                            <input type="hidden" name="event_cover_picture" value="1"/>
                            <input type="hidden" name="event" value="{{ entity.id }}"/>
                            <span class="del-wrapper func">
                                <span class="spot del center cover">Eliminar foto</span>
                            </span>
                        </form>
                    </span>
                {% endif %}
            </span>
        <div class="grid-8 fleft margin-50">
            <span class="green_btn main fleft">Editar</span> <span class="yellow_btn main fleft">Guardar</span>
        </div>
        </div>
    </div>
    <script type="text/javascript">
    Dropzone.options.picture = {
            maxFiles: 1,
            thumbnailWidth: 130,
            thumbnailHeight: 130,
            dictDefaultMessage: 'Inserte aquí su foto',
            init: function() {
               this.on("addedfile", function(file) {
                    $('#picture .dz-message ').fadeOut(300);
                });
            },
            success: function(file) {
                $('.profile-pic').val(file.name);
                $('.del.picture').css({
                    'display': 'block'
                });
                var this_ = this;
                $('.del.picture').click(function(){
                    this_.removeAllFiles();
                    $('.del.picture').fadeOut(300);
                    $('.dz-default.dz-message').fadeIn(300);

                });
            }
        };
    Dropzone.options.cover = {
            maxFiles:1,
            thumbnailWidth: 130,
            thumbnailHeight: 130,
            dictDefaultMessage: 'Arrastre aquí el cover photo',
            init: function() {
                this.on("addedfile", function(file) {
                    $('#cover .dz-message').fadeOut(300);
                });
            },
            success: function(file) {
                $('.cover-pic').val(file.name);
                $('.del.cover').css({
                    'display': 'block'
                });
                var this_ = this;
                $('.del.cover').click(function(){
                    this_.removeAllFiles();
                    $('.del.cover').fadeOut(300);
                    $('.dz-default.dz-message').fadeIn(300);

                });
            }
        }
        $(document).ready(function(){
            initialize(20.58991733623943,-100.40271759033203);
            var timeout = 200;
            var date = new Date();
            date = date.toTimeString();

            if(date.indexOf('+') > -1){
                date = date.split('+');
                date = date[1].split(' ');
                date = '++'+date[0];
            }else{
                date = date.split('-');
                date = date[1].split(' ');
                date = '--'+date[0];

            }
            $('.hour-init').timepicker();
            $('.hour-end').timepicker();
            $( ".date-init" ).datepicker({
                dateFormat: 'yy-mm-dd',
                onSelect: function(dateText) {
                },
                onClose: function( selectedDate ) {
                    $( ".date-end" ).datepicker( "option", "minDate", selectedDate );
                }
            });
            $( ".date-end" ).datepicker({
                dateFormat: 'yy-mm-dd',
                onSelect: function(dateText) {
                }
            });


            $('.green_btn.main').click(function(){
                $('.controllers_wrapper').each(function(){
                    edit_form($(this), timeout, 0);
                });
            });
            $('.yellow_btn.main').click(function(){
                $('.controllers_wrapper').each(function(){
                    edit_form($(this), timeout, 1, $('input.entity').val(), '1');
                });
            });
        });
    </script>
{% endblock %}