{% extends 'base.html' %}
{% load staticfiles %}

{% block style %}
    <link rel="stylesheet" href="{% static "style/theme.css" %}"/>
    <link rel="stylesheet" href="{% static "style/registry.css" %}"/>
    <link rel="stylesheet" href="{% static "style/forms.css" %}"/>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "js/dropzone.js" %}"></script>
    <script type="text/javascript" src="{% static "js/tiny.js" %}"></script>
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>
    <script type="text/javascript" src="{% static "js/ajax.js" %}"></script>
    <script type="text/javascript" src="{% static "js/validation.js" %}"></script>
{% endblock %}

{% block head %}
    {% include 'header.html' %}
{% endblock %}

{% block main_site %}
    <div class="wrapper_message " >
        <div class="container-16 container_message">
            <div class="dialog-confirm" ></div>
        </div>
    </div>
    <div class="grid-16 entities registry edit_list">
        <div class="grid-15 registry">
        <input type="hidden" class="my_list_id" value="{{ list.id }}"/>
        <input type="hidden" class="id_object" value="{{ list.id }}"/>
        <input type="hidden" class="type_my_list" value="{{ list.type }}" />
        <input type="hidden" class="d_type_list" value="{{ list.type }}" />
        <input type="hidden" class="type" value="list"/>
        <div class="csrf_token">
            {% csrf_token %}
        </div>
        <input type="hidden" >
        <input type="hidden" class="type" value="List" />
        <span class="title grid-10 main">Editar
            <a href="/qro_lee/profile/list/{{ list.id }}/">
                <span class="heading title_author" style="text-decoration: none!important;">
                    {{ list.name }}
                </span>
            </a>
        </span>

        <span class="data border_none grid-9 fleft no-margin">
            <p>Nombre {{ entity_type.0 }}
                <span class="controllers_wrapper">
                <span class="green_btn fright">Editar</span>
                <span class="yellow_btn fright">Guardar</span>
                    </span>
                <input name="name" type="text" value="{{ list.name }}" class="grid-5 alpha fright value"/>
                <span class="value grid-5 alpha fright">{{ list.name }}</span>
            </p>
            <p>Descripción {{ entity_type.0 }}
                <span class="controllers_wrapper">
                <span class="green_btn fright">Editar</span>
                <span class="yellow_btn fright">Guardar</span>
                    </span>
                <textarea name="description" class="grid-5 area alpha fright value" >{{ list.description}}
                </textarea>
                <span class="value area grid-5 alpha fright">{{ list.description|truncatewords:30 }}</span>
            </p>
            <p>
                Valorización
                <span class="grid-5 fright no-margin fix-right">
                    <span class="rate_perfil_list">
                        {% for x in 'xxxxx' %}
                    {% if forloop.counter < grade %}
                        <img src="/static/img/comunityStar.png" />
                    {% else %}
                        <img src="/static/img/backgroundStar.png" />
                    {% endif %}
                {% endfor %}
                </span>
                </span>
            </p>

        </span>
            <div class="grid-5 fright no-margin">
            {% if list.picture %}

                <span class="d-picture_user grid-4 wrapper_picture_user">
                    <span class="img-wrapper">
                    <img class="img_size_all"
                         src="/static/media/users/{{ user.id }}/list/{{ list.picture }}" />
                    </span>
                        <span class="del-wrapper loaded">
                            <span class="spot del center picture">Eliminar foto</span>
                        </span>
                </span>
                <span class="dropzone_user disable_upload">
                    <form id="picture" class="dropzone fright drop_zone_list grid-3 dropzone_list no-margin" action="/registry/media/upload/">{% csrf_token %}
                        <input type="hidden" name="list_picture" value="{{ list.id }}"/>
                        <input type="hidden" name="picture" value="1"/>
                        <span class="del-wrapper func">
                            <span class="spot del center picture">Eliminar foto</span>
                        </span>
                    </form>
                </span>
            {% else %}
                <span class="dropzone_user ">
                    <form id="picture" class="dropzone fright drop_zone_list grid-3 dropzone_list no-margin" action="/registry/media/upload/">{% csrf_token %}
                        <input type="hidden" name="list_picture" value="{{ list.id }}"/>
                        <input type="hidden" name="picture" value="1"/>
                            <span class="del-wrapper func">
                            <span class="spot del center picture">Eliminar foto</span>
                        </span>
                    </form>
                </span>
            {% endif %}
            <div class="grid-5 edit-form fright no-margin">
                <span class="yellow_btn main fright">Guardar</span><span class="green_btn main fright">Editar</span>
            </div>
            </div>
            <hr class="d-line_bottom">
            <div class="heading">
                <h3 class="title grid-13 no-margin fleft">
                    {% if list.type == 'T' %}
                        Libros
                    {% else %}
                        Autores
                    {% endif %}
                     de tu lista
                </h3>
            </div>
            <div id="scrollbar1" class="d-paddin_top">
                <div class="scrollbar"><div class="track"><div class="thumb">
                    <div class="end"></div></div></div></div>
                <div class="viewport overview_list">
                    <div class="overview ">
                        <div class="add_my_list">
                            <div class="d-container_add_book grid-5 no-margin">
                                <div class="d-add_book" >
                                    <input type="hidden" value="list" class="list_typ" />
                                    <input type="hidden" value="edit" class="add_type" />
                                    <p class="d-add_text_book">
                                        {% if list.type == 'T' %}
                                            + Añadir un nuevo libro
                                        {% else %}
                                            + Añadir un nuevo autor
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                             {% for key, value in list_t_a.items %}
                                {% if list.type == 'T' %}
                                    <div class="d-item_book d-item_{{ key }} grid-5 no-margin">
                                        <input type="hidden" class="id_title"
                                        value="{{ key }}"/>
                                        <input type="hidden" class="name_title"
                                        value="{{ value.title }}"/>
                                        <input type="hidden" value="{{ value.id_list }}"
                                               class="id_list_rel" />
                                        <a >
                                            <span class="wrapper_list borde_author" >
                                                {% if not value.cover %}
                                                    <img src="/static/img/create.png"
                                                         class="img_size_all" />
                                                {% else %}
                                                    <img class="img_size_all" src="{{ value.cover }}" />
                                                {% endif %}
                                            </span>
                                       </a>
                                        <div class="d-container_text_book grid-3 no-margin">
                                            <a class="title title_book alpha grid-4 ">
                                                {{ value.title|truncatechars:16 }}
                                            </a>
                                        <p class="p-d-text" >
                                            {% if value.author != 'autor anonimo' %}
                                                De
                                                <a class="place_pink" >
                                                    {{ value.author|truncatechars:19 }}
                                                </a>
                                            {% else %}
                                                <a class="place_pink" >
                                                    {{ value.author|truncatechars:19 }}
                                                </a>
                                            {% endif %}
                                        </p>
                                        <p class="p-d-text" >
                                            <span >
                                                {% for x in 'xxxxx' %}
                                                    {% if forloop.counter < value.grade %}
                                                        <img src="/static/img/comunityStar.png" />
                                                    {% else %}
                                                        <img src="/static/img/backgroundStar.png" />
                                                    {% endif %}
                                                {% endfor %}
                                            </span>
                                        </p>
                                        <span class="pink_btn message_alert
                                                    size_btn_edit ">
                                            <input class="type_message"
                                                type="hidden" value="delete_title">
                                            <input class="id_title" type="hidden" value="{{ key }}"/>
                                                        -
                                        </span>
                                    </div>
                                </div>
                                {% else %}
                                     <div class="d-item_book d-item_{{ key }} grid-5 no-margin">
                                         <input type="hidden" class="id_title"
                                                value="{{ key }}"/>
                                         <input type="hidden" class="name_title"
                                                value="{{ value.name }}"/>
                                        <input type="hidden" value="{{ value.id_list }}"
                                               class="id_list_rel" />
                                         <a >
                                            <span class="wrapper_list borde_author" >
                                                {% if not value.picture %}
                                                    <img src="/static/img/create.png"
                                                         class="img_size_all" />
                                                {% else %}
                                                    <img class="img_size_all" src="{{ value.picture }}"
                                                            />
                                                {% endif %}
                                            </span>
                                         </a>
                                         <div class="d-container_text_book grid-3 no-margin">
                                             <a class="title title_book alpha grid-4 ">
                                                 {{ value.name|truncatechars:13 }}
                                             </a>
                                             <p class="p-d-text" >
                                                 <a class="title_author" >
                                                     {% if value.count == 0 %}
                                                         no tiene Títulos
                                                     {% else %}
                                                        {{ value.count }} Títulos
                                                     {% endif %}
                                                 </a>
                                             </p>

                                        <span class="pink_btn message_alert
                                                    size_btn_edit ">
                                            <input class="type_message"
                                                   type="hidden" value="delete_title">
                                                        -
                                        </span>
                                         </div>
                                     </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript">
        Dropzone.options.picture = {
            maxFiles: 1,
            thumbnailWidth: 130,
            thumbnailHeight: 130,
            dictDefaultMessage: 'Inserte aquí su foto',
            init: function() {
                this.on("addedfile", function(file) {
                    $('#picture .dz-message').fadeOut(300);
                });
            },
            success: function(file) {
                $('.profile-pic').val(file.name);
                $('.del.picture').css({
                    'display': 'block'
                });
                var this_ = this;
                $('.del.picture').click(function(){
                    this_.removeAllFiles();
                    $('.del.picture').fadeOut(300);
                    $('.dz-default.dz-message').fadeIn(300);
                    $('.profile-pic').val('');
                });
            }
        }
        $(document).ready(function(){
            var timeout = 200;

            $('.green_btn.main').click(function(){
                $('.controllers_wrapper').each(function(){
                    edit_form($(this), timeout, 0);
                });
            });
            $('.yellow_btn.main').click(function(){
                $('.controllers_wrapper').each(function(){
                    edit_form($(this), timeout, 1, $('input.my_list_id').val(), '2');
                });
            });
        });
    </script>
{% endblock %}