{% extends 'base.html' %}
{% load staticfiles %}

{% block style %}
    <link rel="stylesheet" href="{% static "style/theme.css" %}"/>
    <link rel="stylesheet" href="{% static "style/registry.css" %}"/>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "js/tiny.js" %}"></script>
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>
    <script type="text/javascript" src="{% static "js/ajax.js" %}"></script>
{% endblock %}

{% block head %}
    {% include 'header.html' %}
{% endblock %}

{% block main_site %}
<div class="lightbox-wrapper register">
        <div class="container-16">
            <div class="fb-objs grid-5 center lightbox">
                <a style="right:0px" class="close right" href="#"></a>
                <div id="scrollbar1">
                    <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                    <div class="viewport">
                        <div class="overview">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-16 edit">
    <div class="grid-14 center">
        <input type="hidden" class="entity" value="{{ entity.id }}"/>{% csrf_token %}
        <span class="title main">Editar
            <a href="/qro_lee/entity/{{ entity_type.1 }}/{{ entity.id }}" class="{{ entity_type.1 }}">{{ entity.name|capfirst }}</a>
        </span>
         {% block entity_menu %}
                {% include 'blocks/entity_menu.html' %}
            {% endblock %}

        <span class="data grid-9 fleft no-margin">
            <p>Nombre {{ entity_type.0 }}
                <span class="controllers_wrapper">
                    <span class="green_btn fright">Editar</span>
                    <span class="yellow_btn fright">Guardar</span>
                </span>
                <span class="close right"></span>
                <input name="name" type="text" value="{{ entity.name }}" class="grid-5 alpha fright value"/>
                <span class="value grid-5 alpha fright">{{ entity.name }}</span>
            </p>
            <p>Facebook
                <span class="controllers_wrapper">
                <span class="green_btn fright">Editar</span>
                <span class="yellow_btn fright">Guardar</span>
                    </span>
                <span class="close right"></span>
                <input placeholder="Usuario de facebook" name="fb" type="text" value="{{ entity.fb }}" class="grid-5 alpha fright value"/>
                <span class="value grid-5 alpha fright">{{ entity.fb }}</span>
            </p>
            <p>Twitter
                <span class="controllers_wrapper">
                <span class="green_btn fright">Editar</span>
                <span class="yellow_btn fright">Guardar</span>
                    </span>
                <span class="close right"></span>
                <input name="twitter" type="text" value="{{ entity.twitter }}" class="grid-5 alpha fright value"/>
                <span class="value grid-5 alpha fright">{{ entity.twitter }}</span>
            </p>
            <p>Sitio Web
                <span class="controllers_wrapper">
                <span class="green_btn fright">Editar</span>
                <span class="yellow_btn fright">Guardar</span>
                    </span>
                <span class="close right"></span>
                <input name="website" type="text" value="{{ entity.website }}" class="grid-5 alpha fright value"/>
                <span class="value grid-5 alpha fright">{{ entity.website }}</span>
            </p>
            <p>Descripción
                <span class="controllers_wrapper">
                <span class="green_btn fright">Editar</span>
                <span class="yellow_btn fright">Guardar</span>
                    </span>
                <span class="close right"></span>
                <textarea name="description" class="grid-5 alpha fright value">{{ entity.description }}</textarea>
                <span style="height: 100px;" class="value area grid-5 alpha fright">{{ entity.description|truncatewords:30 }}</span>
            </p>
        </span>
        <span class="data grid-9 fleft no-margin">
            <p>Tipo de acceso
            <span class="controllers_wrapper">
                <span class="green_btn fright">Editar</span>
                <span class="yellow_btn fright">Guardar</span>
            </span>
                <span class="close right"></span>
                <span class="value grid-5 alpha fright">
                    {% if entity.privacy == 0 %}
                        Público
                    {% else %}
                        Privado
                    {% endif %}

                </span>
                <span class="select_wrapper grid-5 alpha fright">
                <span class="grid-2 select no-margin">
                            <span class="text">Publica</span>
                            <span class="dropdown"></span>
                            <select class="change value" name="privacy">
                                <option value="publica">Publica</option>
                                <option value="privada">Privada</option>
                            </select>
                </span>
                </span>

            </p>
            <p>Fecha creación
                <span class="controllers_wrapper">
                <span style="visibility: hidden;" class="green_btn fright">Editar</span>
                    </span>
                <span class="value grid-5 alpha fright">{{ entity.date|date:"d \d\e M \d\e\l Y" }}</span>
            </p>
            <p>Dirección
                <span class="controllers_wrapper">
                <span class="green_btn fright">Editar</span>
                <span class="yellow_btn fright">Guardar</span>
                    </span>
                <span class="close right"></span>
                <textarea name="address" class="map address value">{{ entity.address }}</textarea>
                <span class="value area map">{{ entity.address }}</span>
                <span id="map" class="grid-5 alpha fright"></span>
            </p>
        </span>
        <span style="border:none;" class="data grid-9 fleft no-margin">
        {% if entity.fb_id != None and entity.fb_id != '' %}
            <p>¿Deseas conectar tu cuenta de Facebook y Twitter?</p>
            <p class="checkbox"><span class="fb">
                {% if entity.share_fb == 1 %}
                ×
                {% endif %}</span>Compartir publicaciones de Facebook en Querétaro Lee</p>
            {% if profile.fb_username != '' %}
            <p class="checkbox"><span class="twitter">
                {% if entity.share_fb == 1 %}
                ×
                {% endif %}
            </span>Compartir publicaciones de Twitter en Querétaro Lee</p>
        {% endif %}
        {% else %}
            <span style="border: none;margin-top: 0px !important;" class="fb-connect no-margin fleft grid-14" style="">
            <input type="hidden" name="fb_id" class="fb_id"/>
                {% if entity_type.1 == 'group' %}
                <p>¿Cuentas ya con un grupo en Facebook?</p>
                <p class="fb update alpha {{ entity_type.1 }} fleft"><span>Ver grupos de</span>
                {% else %}
                 <p>¿Cuentas ya con una pagina en Facebook?</p>
                <p class="fb update alpha {{ entity_type.1 }} fleft"><span>Ver pages de</span>
                {% endif %}
                    <img src="/static/img/FB-f-Logo__blue_50.png" alt=""/></p>
            </span>
        {% endif %}
        </span>
    </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            initialize();
            var timeout = 200;
            $('.green_btn').click(function(){
                $this = $(this).parent();
                $this.parent().find('span.value').fadeOut(timeout, function(){
                    if($this.parent().find('input.value').length > 0){
                        $this.parent().find('input.value').fadeIn(timeout,function(){
                            $this.parent().find('span.green_btn').fadeOut(timeout);
                            $this.parent().find('span.yellow_btn').fadeIn(timeout);
                            $this.parent().find('.close').fadeIn(timeout);

                        });
                    }else if($this.parent().find('textarea.value').length > 0){
                        $this.parent().find('textarea.value').fadeIn(timeout,function(){
                            $this.parent().find('span.green_btn').fadeOut(timeout);
                                 $this.parent().find('span.yellow_btn').fadeIn(timeout);
                                     $this.parent().find('.close').fadeIn(timeout);
                        });
                    }else{
                        $this.parent().find('.select_wrapper').fadeIn(timeout,function(){
                            $this.parent().find('span.green_btn').fadeOut(timeout);
                                 $this.parent().find('span.yellow_btn').fadeIn(timeout);
                                     $this.parent().find('.close').fadeIn(timeout);
                        });
                    }
                });

            });
            $('.close').click(function(){
                $this = $(this);
                $(this).fadeOut(timeout);
                $this.parent().find('span.yellow_btn').fadeOut(timeout,function(){
                    $this.parent().find('span.green_btn').fadeIn(timeout,
                            function(){
                                if($this.parent().find('input.value').length > 0){
                                    $this.parent().find('input.value').fadeOut(timeout,function(){
                                        $this.parent().find('span.value').fadeIn(timeout);
                                    });
                                }else if($this.parent().find('textarea.value').length > 0){
                                    $this.parent().find('textarea.value').fadeOut(timeout,function(){
                                        $this.parent().find('span.value').fadeIn(timeout);
                                    });
                                }else{
                                    $this.parent().find('.select_wrapper').fadeOut(timeout,function(){
                                        $this.parent().find('span.value').fadeIn(timeout);
                                    });
                                }
                            });

                });
            });
            $('.yellow_btn').click(function(){
                $this_ = $(this).parent().parent();
                var field = $this_.find('input.value').attr('name');
                var value = $this_.find('input.value').val();
                if($this_.find('textarea.value').length > 0){
                    value = $this_.find('textarea.value').val();
                    field = $this_.find('textarea.value').attr('name');
                }else if($this_.find('.select_wrapper').length > 0){
                    value = $this_.find('select.value').val();
                    field = $this_.find('select.value').attr('name');
                }
                $this = $(this);
                update_obj(field,value,$this);
                $this = $(this).parent();
                $(this).fadeOut(timeout);
                $this.parent().find('.close').fadeOut(timeout);
                $this.parent().find('span.green_btn').fadeIn(timeout);

                if($this.parent().find('input.value').length > 0){
                    $this.parent().find('input.value').fadeOut(timeout,function(){
                        console.log($this.parent().find('input.value').val());
                        $this.parent().find('span.value').html($this.parent().find('input.value').val());
                        $this.parent().find('span.value').fadeIn(timeout);
                    });
                }else if($this.parent().find('textarea.value').length > 0){
                    $this.parent().find('textarea.value').fadeOut(timeout,function(){
                        $this.parent().find('span.value').fadeIn(timeout);
                    });
                }else{
                    $this.parent().find('.select_wrapper').fadeOut(timeout,function(){
                        $this.parent().find('span.value').fadeIn(timeout);
                    });
                }
            });
            $('.checkbox span').click(function(){
                var field;
                var value;
                if($(this).hasClass('fb'))
                    field = 'share_fb';
                else
                    field = 'share_twitter';
                if($.trim($(this).html()) != ''){
                    value = 0;
                }else{
                    value = 1;
                }
                $.ajax({
                type: "POST",
                url: '/registry/update/'+$('input.entity').val()+'/',
                data: {
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                    'field': field,
                    'value': value
                },
                dataType: 'json'
                }).done(function(data){});

            });
        });
    </script>
{% endblock %}