{% extends 'base.html' %}
{% load staticfiles %}

{% block style %}
    <link rel="stylesheet" href="{% static "style/theme.css" %}"/>
    <link rel="stylesheet" href="{% static "style/registry.css" %}"/>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "js/tiny.js" %}"></script>
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>
    <script type="text/javascript" src="{% static "js/ajax.js" %}"></script>
    <script type="text/javascript" src="{% static "js/dropzone.js" %}"></script>
{% endblock %}

{% block head %}
    {% include 'header.html' %}
{% endblock %}

{% block main_site %}
<div class="lightbox-wrapper register">
        <div class="container-16">
            <input type="hidden" value="entity" class="type" />
            <input type="hidden" class="id_object" value="{{ entity.id }}" />
            <div class="fb-objs grid-5 center lightbox">
                <a style="right:0px" class="close right" href="#"></a>
                <div id="scrollbar1">
                    <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                    <div class="viewport">
                        <div class="overview">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-16 edit">
    <div class="grid-14 center">

    <input type="hidden" class="entity" value="{{ entity.id }}"/>{% csrf_token %}
        <span class="title main">Editar
            <a href="/qro_lee/entity/{{ entity_type.1 }}/{{ entity.id }}" class="{{ entity_type.1 }}">{{ entity.name|capfirst }}</a>
        </span>
         {% block entity_menu %}
                {% include 'blocks/entity_menu.html' %}
            {% endblock %}

        <span class="data grid-9 fleft no-margin">
            <p>Nombre {{ entity_type.0 }}
                <span class="controllers_wrapper">
                    <span class="green_btn fright">Editar</span>
                    <span class="yellow_btn fright">Guardar</span>
                </span>
                <span class="close right"></span>
                <input name="name" type="text" value="{{ entity.name }}" class="grid-5 alpha fright value"/>
                <span class="value grid-5 alpha fright">{{ entity.name }}</span>
            </p>
            <!--[if lte IE 9]>>
            <span class="fleft" style="height: 70px; display: block;width: 100%;">
                <p class="fleft" style="width: auto;">Logotipo</p>
                <form id="ie-fix" class="fright ie-fix alpha fix-left grid-5" method="post" action="/registry/media/upload/">{% csrf_token %}
                    <input type="hidden" name="entity" value="{{ entity.id }}"/>
                    <input class="file" name="profile-pic"  type="file" />
                    <input type="hidden" name="ie" value="sucks"/>
                        <span class="grid-5 fright no-margin pixeles recomendation" style="bottom: -190px;">
                            Te recomendamos una imagen de 200 x 200 pixeles
                        </span>
                </form>
            </span>
            <![endif]-->
            <p>Página de Facebook
                <span class="controllers_wrapper">
                <span class="green_btn fright">Editar</span>
                <span class="yellow_btn fright">Guardar</span>
                    </span>
                <span class="close right"></span>
                <input style="width: 140px;" placeholder="facebook" name="fb" type="text" value="{{ entity.fb }}" class="grid-5 alpha regex_social fright value"/>
                <span class="grid-3 fadein text-right fbSpan fright no-margin fbSpan">https://facebook.com/</span>
                <span class="value grid-5 alpha fright">{{ entity.fb }}</span>
            </p>
            <p>Página de Twitter
                <span class="controllers_wrapper">
                <span class="green_btn fright">Editar</span>
                <span class="yellow_btn fright">Guardar</span>
                    </span>
                <span class="twitter fadein">@</span>
                <input style="text-indent: 15px;" placeholder="twitter" name="twitter" type="text" value="{{ entity.twitter }}" class="grid-5 alpha regex_social fright value"/>
                <span class="value grid-5 alpha fright">{{ entity.twitter }}</span>
            </p>
            <p>Sitio web
                <span class="controllers_wrapper">
                <span class="green_btn fright">Editar</span>
                <span class="yellow_btn fright">Guardar</span>
                    </span>
                <span class="close right"></span>
                <input placeholder="http://qrolee.com" name="website" type="text" value="{{ entity.website }}" class="grid-5 alpha regex_url fright value"/>
                <span class="value grid-5 alpha fright">{{ entity.website }}</span>
            </p>
            <p>Descripción
                <span class="controllers_wrapper">
                <span class="green_btn fright">Editar</span>
                <span class="yellow_btn fright">Guardar</span>
                    </span>
                <span class="close right"></span>
                <textarea name="description" class="grid-5 alpha fright value">{{ entity.description }}</textarea>
                <span class="value area grid-5 alpha fright">{{ entity.description|truncatewords:30 }}</span>
            </p>

        {% if entity_type.1 == 'group' %}
        <p>Tipo de acceso
            <span class="controllers_wrapper">
                <span class="green_btn fright">Editar</span>
                <span class="yellow_btn fright">Guardar</span>
            </span>
                <span class="close right"></span>
                <span class="value grid-5 alpha fright">
                    {% if entity.privacy == 0 %}
                        Público
                    {% else %}
                        Privado
                    {% endif %}

                </span>
                <span class="select_wrapper grid-5 alpha fright">
                <span class="grid-2 select no-margin">
                            <span class="text">Publica</span>
                            <span class="dropdown"></span>
                            <select class="change value" name="privacy">
                                <option value="publica">Publica</option>
                                <option value="privada">Privada</option>
                            </select>
                </span>
                </span>

        </p>
        {% endif %}
            <p>Fecha de creación
                <span class="controllers_wrapper">
                <span style="visibility: hidden;" class="green_btn fright">Editar</span>
                    </span>
                <span class="value no-edit grid-5 alpha fright" style="font-size: 12px;">{{ entity.date|date:"d \d\e M \d\e\l Y" }}</span>
            </p>
            {% if entity_type.1 != 'group' %}
                <p>Dirección
                    <span class="controllers_wrapper">
                    <span class="green_btn fright">Editar</span>
                    <span class="yellow_btn fright">Guardar</span>
                        </span>
                    <textarea name="address" class="map address grid-5 alpha fright value">{{ entity.address }}</textarea>
                    <span class="close right"></span>
                    <input type="hidden" class="lat" name="lat"/>
                    <input type="hidden" class="long" name="long"/>
                    <input class="grid-5 address fright no-margin alpha" type="text" value="" name="address"/>
                    <span class="value area map grid-5 fright">{{ entity.address }}</span>
                    <span id="map" class="grid-5 alpha fright"></span>
                </p>

            {% endif %}
        </span>

        <span class="d-picture_user grid-5 no-margin fright"  >
            <span class="fb-connect fb-session-required no-margin fright grid-5">
        {% if entity.fb_id != None and entity.fb_id != '' %}
            <p>¿Deseas conectar tu cuenta de Facebook y Twitter?</p>
            <p class="checkbox"><span class="fb">
                {% if entity.share_fb == 1 %}
                ×
                {% endif %}</span>Compartir publicaciones de Querétaro Lee en Facebook</p>
            {% if profile.fb_username != '' %}
            <!--<p class="checkbox"><span class="twitter">
                {% if entity.share_fb == 1 %}
                ×
                {% endif %}
            </span>Compartir publicaciones de Twitter en Querétaro Lee</p>-->
        {% endif %}
        {% else %}
            <span style="border: none;margin-top: 0px !important;" class="fb-connect no-margin fleft grid-5" style="">
            <input type="hidden" name="fb_id" class="fb_id"/>
                {% if entity_type.1 == 'group' %}
                <p style="font-family: 'Raleway' sans-serif; text-align: center;">¿Cuentas ya con un grupo en Facebook?</p>
                <p class="fb update alpha {{ entity_type.1 }} fleft"><span>Ver grupos de</span>
                    {% else %}
                 <p style="font-family: 'Raleway' sans-serif; text-align: center;">¿Cuentas ya con una pagina en Facebook?</p>
                <p class="fb update alpha {{ entity_type.1 }} fleft"><span>Ver pages de</span>
                    {% endif %}
                    <img src="/static/img/FB-f-Logo__blue_50.png" alt=""/></p>
            </span>
        {% endif %}
            </span>
        </span>
        <div class="grid-5 fright no-margin">
        <!--[if gte IE 10]>
            {% if entity.picture %}

                <span class="d-picture_user wrapper_picture_user">
                    <span class="img-wrapper">
                    <img class="img_size_all"
                         src="/static/media/users/{{ entity.user.id }}/entity/{{ entity.picture }}" />
                        </span>
                    <span class="del-wrapper loaded">
                            <span class="spot del center picture">Eliminar foto</span>
                        </span>
                </span>
                <span class="dropzone_user disable_upload">
                    <form id="picture" class="fright  dropzone no-margin grid-4" action="/registry/media/upload/">{% csrf_token %}
                        <input type="hidden" name="entity" value="{{ entity.id }}"/>
                        <span class="del-wrapper func">
                            <span class="spot del center picture">Eliminar foto</span>
                        </span>
                        <span class="grid-5 fright no-margin pixeles recomendation" style="bottom: -190px;">
                            Te recomendamos una imagen de 200 x 200 pixeles
                        </span>
                    </form>
                </span>
            {% else %}
                <span class="dropzone_user ">
                    <form id="picture" class="fright dropzone no-margin grid-4" action="/registry/media/upload/">{% csrf_token %}
                        <input type="hidden" name="entity" value="{{ entity.id }}"/>
                            <span class="del-wrapper func">
                            <span class="spot del center picture">Eliminar foto</span>
                        </span>
                        <span class="grid-5 fright no-margin pixeles recomendation" style="bottom: -190px;">
                            Te recomendamos una imagen de 200 x 200 pixeles
                        </span>
                    </form>
                </span>
            {% endif %}
        </span>
        {% if entity.type.name == 'group' %}
            <span class="d-picture_user fright no-margin grid-4"  >
                {% if entity.cover_picture %}

                    <span class="d-picture_user wrapper_picture_user">
                    <span class="img-wrapper">
                        <img src="/static/media/users/{{ entity.user.id }}/entity/{{ entity.cover_picture }}" />
                    </span>
                        <span class="del-wrapper loaded">
                            <span class="spot del center cover">Eliminar foto</span>
                        </span>
                    </span>
                    <span class="dropzone_user disable_upload">
                        <form id="cover" class="fright  dropzone no-margin grid-4" action="/registry/media/upload/">{% csrf_token %}
                            <input type="hidden" name="entity" value="{{ entity.id }}"/>
                                <input type="hidden" name="cover" value="1"/>
                                <span class="del-wrapper func">
                            <span class="spot del center cover">Eliminar foto</span>
                        </span>
                        <span class="grid-5 fright no-margin pixeles recomendation" style="bottom: -190px;">
                            Te recomendamos una imagen de 615 x 1607 pixeles
                        </span>
                        </form>
                    </span>
                {% else %}
                    <span class="dropzone_user ">
                        <form id="cover" class="fright  dropzone no-margin grid-4" action="/registry/media/upload/">{% csrf_token %}
                            <input type="hidden" name="entity" value="{{ entity.id }}"/>
                            <input type="hidden" name="cover" value="1"/>
                                <span class="del-wrapper func">
                            <span class="spot del center cover">Eliminar foto</span>
                        </span>
                        <span class="grid-5 fright no-margin pixeles recomendation" style="bottom: -190px;">
                            Te recomendamos una imagen de 615 x 1607 pixeles
                        </span>
                        </form>
                    </span>
                {% endif %}
            </span>
        {% endif %}
        <![endif]-->

        <!--[if !IE]> -->
            {% if entity.picture %}

                <span class="d-picture_user wrapper_picture_user">
                    <span class="img-wrapper">
                    <img class="img_size_all"
                         src="/static/media/users/{{ entity.user.id }}/entity/{{ entity.picture }}" />
                        </span>
                    <span class="del-wrapper loaded">
                            <span class="spot del center picture">Eliminar foto</span>
                        </span>
                </span>
                <span class="dropzone_user disable_upload">
                    <form id="picture" class="fright  dropzone no-margin grid-4" action="/registry/media/upload/">{% csrf_token %}
                        <input type="hidden" name="entity" value="{{ entity.id }}"/>
                        <span class="del-wrapper func">
                            <span class="spot del center picture">Eliminar foto</span>
                        </span>
                        <span class="grid-5 fright no-margin pixeles recomendation" style="bottom: -190px;">
                            Te recomendamos una imagen de 200 x 200 pixeles
                        </span>
                    </form>
                </span>
            {% else %}
                <span class="dropzone_user ">
                    <form id="picture" class="fright dropzone no-margin grid-4" action="/registry/media/upload/">{% csrf_token %}
                        <input type="hidden" name="entity" value="{{ entity.id }}"/>
                            <span class="del-wrapper func">
                            <span class="spot del center picture">Eliminar foto</span>
                        </span>
                        <span class="grid-5 fright no-margin pixeles recomendation" style="bottom: -190px;">
                            Te recomendamos una imagen de 200 x 200 pixeles
                        </span>
                    </form>
                </span>
            {% endif %}
        </span>
        {% if entity.type.name == 'group' %}
            <span class="d-picture_user fright no-margin grid-4"  >
                {% if entity.cover_picture %}

                    <span class="d-picture_user wrapper_picture_user">
                    <span class="img-wrapper">
                        <img src="/static/media/users/{{ entity.user.id }}/entity/{{ entity.cover_picture }}" />
                    </span>
                        <span class="del-wrapper loaded">
                            <span class="spot del center cover">Eliminar foto</span>
                        </span>
                    </span>
                    <span class="dropzone_user disable_upload">
                        <form id="cover" class="fright  dropzone no-margin grid-4" action="/registry/media/upload/">{% csrf_token %}
                            <input type="hidden" name="entity" value="{{ entity.id }}"/>
                                <input type="hidden" name="cover" value="1"/>
                                <span class="del-wrapper func">
                            <span class="spot del center cover">Eliminar foto</span>
                        </span>
                        <span class="grid-5 fright no-margin pixeles recomendation" style="bottom: -190px;">
                            Te recomendamos una imagen de 615 x 1607 pixeles
                        </span>
                        </form>
                    </span>
                {% else %}
                    <span class="dropzone_user ">
                        <form id="cover" class="fright  dropzone no-margin grid-4" action="/registry/media/upload/">{% csrf_token %}
                            <input type="hidden" name="entity" value="{{ entity.id }}"/>
                            <input type="hidden" name="cover" value="1"/>
                                <span class="del-wrapper func">
                            <span class="spot del center cover">Eliminar foto</span>
                        </span>
                        <span class="grid-5 fright no-margin pixeles recomendation" style="bottom: -190px;">
                            Te recomendamos una imagen de 615 x 1607 pixeles
                        </span>
                        </form>
                    </span>
                {% endif %}
            </span>
        {% endif %}
        <!-- <![endif]-->
        </div>
         <div class="grid-7 edit-form fright margin-40" style="padding-right: 43px">
            <span class="green_btn main fleft" style="background: #c69264 !important; border: 1px solid #a77340 !important; padding: 4px 16px !important;">Editar</span> <span class="yellow_btn main fleft">Guardar</span>
        </div>
    </div>
    </div>

    <script type="text/javascript">
        Dropzone.options.picture = {
            maxFiles: 1,
            thumbnailWidth: 130,
            thumbnailHeight: 130,
            dictDefaultMessage: 'Arrastre aquí el logotipo <span class="legend din-r leg1"> o bien </span>' +
                    '<span class="legend din-r leg2">Selecciona una foto de tu equipo' +
                    ' </span>',
            init: function() {
               this.on("addedfile", function(file) {
                    $('#picture .dz-message ').fadeOut(300);
                });
            },
            success: function(file) {
                $('.profile-pic').val(file.name);
                $('.del.picture').css({
                    'display': 'block'
                });
                var this_ = this;
                $('.del.picture').click(function(){
                    this_.removeAllFiles();
                    $('.del.picture').fadeOut(300);
                    $('.dz-default.dz-message').fadeIn(300);
                    $('.profile-pic').val('');
                });
            }
        }

        Dropzone.options.cover = {
            maxFiles: 1,
            thumbnailWidth: 130,
            thumbnailHeight: 130,
            dictDefaultMessage: 'Arrastre aquí la foto de portada <span class="legend din-r leg1"> o bien </span>' +
                    '<span class="legend din-r leg2">Selecciona una foto de tu equipo' +
                    ' </span>',
            init: function() {
               this.on("addedfile", function(file) {
                    $('#cover .dz-message ').fadeOut(300);
                });
            },
            success: function(file) {
                $('.cover-pic').val(file.name);
                $('.del.cover').css({
                    'display': 'block'
                });
                var this_ = this;
                $('.del.cover').click(function(){
                    this_.removeAllFiles();
                    $('.del.picture').fadeOut(300);
                    $('.dz-default.dz-message').fadeIn(300);
                    $('.cover-pic').val('');
                });
            }
        }
        $(document).ready(function(){
            if($('#map').length > 0)
                initialize();
            var timeout = 200;


            $('.checkbox span').click(function(){
                var field;
                var value;
                if($(this).hasClass('fb'))
                    field = 'share_fb';
                else
                    field = 'share_twitter';
                if($.trim($(this).html()) != ''){
                    value = 1;
                }else{
                    value = 0;
                }
                $.ajax({
                type: "POST",
                url: '/registry/update/'+$('input.entity').val()+'/',
                data: {
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                    'field': field,
                    'value': value
                },
                dataType: 'json'
                }).done(function(data){

                        });

            });
            $('.green_btn.main').click(function(){
                $('.controllers_wrapper').each(function(){
                    edit_form($(this), timeout, 0);
                });
            });
            $('.yellow_btn.main').click(function(){
                $('.controllers_wrapper').each(function(){
                    edit_form($(this), timeout, 1, $('input.entity').val());
                });
            });

        });
    </script>
{% endblock %}