{% extends 'base.html' %}
{% load staticfiles %}

{% block style %}
    <link rel="stylesheet" href="{% static "style/theme.css" %}"/>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "js/tiny.js" %}"></script>
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>
    <script type="text/javascript" src="{% static "js/ajax.js" %}"></script>
{% endblock %}

{% block head %}
    {% include 'header.html' %}
{% endblock %}

{% block main_site %}
<div class="erase"></div>
        <div class="grid-16 events content single no-margin">
            <div class="heading d-heading_event grid-8">
                <h3 class="title grid-5 fleft">Organizar eventos de <a class="{{ entity_type }} title" href="/qro_lee/entity/group/{{ entity }}_{{ id_entity }}/">{{ entity }}</a></h3>
                <input type="hidden" class="id_entity" value="{{ id_entity }}"/>

            </div>
        <span class="member fright grid-2">
                <span class="brown_btn fright">Editar
                    <span class="sub-menu">
                        <a href="/registry/edit/{{ entity.name|cut:" " }}_{{ entity.id }}">Editar información</a>
                        <a href="">Administradores</a>
                        <a style="border:none;" href="/registry/edit/events/{{ entity.name|cut:" " }}_{{ entity.id }}">Organizar eventos</a>
                    </span>
                </span>
            </span>
        <div class="grid-16 load no-margin">
            <div class="sidebar-a grid-10">
                <span class="month">Septiembre</span>
                <div id="scrollbar1">
                    <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                    <div class="viewport">
                        <div class="overview">
                            <span class="item">
                                <span class="no-margin grid-6">
                                    <span class="date fright din-m"></span>
                                    <span class="ruler grid-4 fright"></span>

                                </span>
                                <span class="wrapper fleft">
                                    <a class="d-link_event" >
                                        <img class="profile-picture" src="" alt=""/>
                                    </a>
                                </span>
                                <span class="general-info fleft">
                                    <h3 class="title"></h3>
                                    <p>
                                        <span class="info grid-7 alpha"></span>

                                    </p>
                                    <span class="time fleft"></span>
                                    <span class="location fright">
                                        <p>
                                            <span class="place">Centro Historico</span><br>
                                            <span>Queretaro</span>
                                        </p>
                                        <a href="#" class="green_btn size_btn_edit">Editar</a>
                                        <a href="#" class="pink_btn size_btn_edit">Borrar</a>
                                    </span>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-top:20px;" class="grid-4 sidebar-b fleft">
            <a class="color_btn {{ entity_type }}" href="/registry/register_event/{{ entity_type }}/{{ id_entity }}">
                Crear nuevo evento
            </a>
            <h3 class="title fleft grid-5 fix">Calendario</h3>
            <input class="entity" type="hidden" value="-1"/>{% csrf_token %}
                <div class="grid-5 no-margin">
                <div class="overview">
                    {% autoescape off %}
                        {{ calendar }}
                    {% endautoescape %}
                </div>

                <div class="controller center">
                    <span class="prev fleft"><</span>
                    <span class="next fright">></span>
                </div>
                </div>
            </div>
        </div>

        </div>




{% endblock %}