{% extends 'base.html' %}
{% load staticfiles %}

{% block style %}
    <link rel="stylesheet" href="{% static "style/theme.css" %}"/>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "js/tiny.js" %}"></script>
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>
    <script type="text/javascript" src="{% static "js/ajax.js" %}"></script>
{% endblock %}

{% block head %}
    {% include 'header.html' %}
{% endblock %}

{% block main_site %}
        <div class="grid-16 events content single no-margin">
            <div class="heading d-heading_event grid-8">
                <h3 class="title grid-10 fleft">Organizar eventos de <a class="{{ entity_type.1 }} title" href="/qro_lee/entity/{{ entity_type.1 }}/{{ id_entity }}/">{{ entity }}</a></h3>
                <input type="hidden" class="id_entity" value="{{ id_entity }}"/>

            </div>
         {% block entity_menu %}
                {% include 'blocks/entity_menu.html' %}
            {% endblock %}
        <div class="grid-16 load no-margin">
        <div class="grid-14 offset-1 fleft no-margin">
            <div class="sidebar-a grid-9 d-edit-event">
                <!--<span class="month">Septiembre</span>-->
                <div id="scrollbar1">
                    <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                    <div class="viewport">
                        <div class="overview d-width-container-event">
                            <span class="item">
                                <span class="no-margin grid-6">


                                </span>
                                <span class="wrapper fleft">
                                    <a class="d-link_event" >
                                        <img class="profile-picture" src="" alt=""/>
                                    </a>
                                </span>
                                <span class="general-info fleft">
                                    <h3 class="title"></h3>
                                    <p>
                                        <span class="info grid-6 alpha"></span>

                                    </p>
                                    <span class="time fleft"></span>

                                    <span class="location fright">
                                        <span style="font-size: 11px;position: absolute;top: -70px;" class="date din-r"></span>
                                        <p>
                                            <span class="place">Centro Historico</span><br>
                                            <span>Queretaro</span>
                                        </p>

                                        <a href="#" class="green_btn size_btn_edit">Editar</a>
                                        <a href="#" class="pink_btn size_btn_edit">Borrar</a>
                                    </span>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-4 sidebar-b fright no-margin">
            <a class="color_btn {{ entity_type.1 }}" href="/registry/register_event/{{ entity_type.1 }}/{{ id_entity }}">
                Crear nuevo evento
            </a>
            <h3 class="title fix">Calendario</h3>
            <input class="entity" type="hidden" value="-1"/>{% csrf_token %}
                <div class="grid-4 no-margin">
                <div class="overview">
                    {% autoescape off %}
                        {{ calendar }}
                    {% endautoescape %}
                </div>
                <hr>
                <div class="controller center">
                    <span class="prev fleft"><</span>
                    <span class="next fright">></span>
                </div>
                </div>
            </div>
        </div>
        </div>
        </div>




{% endblock %}