{% extends 'base.html' %}
{% load staticfiles %}
{% block style %}
    <link rel="stylesheet" href="{% static "style/registry.css" %}"/>
    <link rel="stylesheet" href="{% static "style/forms.css" %}"/>
    <link rel="stylesheet" href="{% static "style/theme.css" %}"/>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "js/dropzone.js" %}"></script>
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>
    <script type="text/javascript" src="{% static "js/validation.js" %}"></script>
    <script type="text/javascript" src="{% static "js/ajax.js" %}"></script>
    <script type="text/javascript" src="{% static "js/tiny.js" %}"></script>
{% endblock %}

{% block head %}
    {% include 'header.html' %}
{% endblock %}

{% block main_site %}
    <div class="wrapper_message " >
        <div class="container-16 container_message">
            <div class="dialog-confirm" ></div>
        </div>
    </div>

    <div class="lightbox-wrapper register">
        <div class="container-16">
            <div class="fb-objs grid-5 center lightbox">
                <a style="right:0px" class="close right" href="#"></a>
                <div id="scrollbar1">
                    <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                    <div class="viewport">
                        <div class="overview">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="grid-16 entities registry list_reg">
        <div class="grid-15 registry">
            <div class="heading">
                <h3 class="title grid-13 no-margin fleft">Crear nueva lista</h3>
            </div>
            <p class="content">{{ content }}</p>

            <form enctype="multipart/form-data" method="post" id="registry" class="register_entity grid-8 no-margin" action="/registry/register_ajax_list/">
               <div class="csrf_token">
                   {% csrf_token %}
               </div>
                <input type="hidden" name="type_list" class="type_list" value="T" />
                <input class="profile-pic" type="hidden" value="" name="picture"/>
                <div class="grid-8 no-margin fleft">
                    <input type="hidden" value="{{ type }}" name="type"/>
                    <p>Título de la lista
                        <input class="required grid-5 fright no-margin" type="text" value="" name="name"/>
                    </p>
                    <p class="textarea">Descripción
                        <textarea class="grid-5 fright no-margin" name="description"></textarea>
                    </p>
                    <p>
                        <span class="fleft">Tipo de lista</span>
                        <span class="grid-5 fix-right fright no-margin" style="margin-top: 10px!important;" >
                            <img src="/static/img/radioOn.png" class="radio_btn rad_ti fleft radio_buttom"/>
                            <span class="radio_btn text_rad" >Lista de libros</span>
                            <input type="hidden" class="active_title" value="1"/>
                            <input type="hidden" class="radio_value" value="title"/>
                        </span>
                        <span class="grid-5 fix-right fright no-margin">
                            <img src="/static/img/radioOff.png" class="radio_btn rad_aut fleft radio_buttom"/>
                            <span class="radio_btn text_rad">Lista de autores</span>
                            <input type="hidden" class="active_author" value="0"/>
                            <input type="hidden" class="radio_value" value="author"/>
                        </span>
                    </p>

                    <p class="submit submit_list">
                        <input id="submit" class="btn" value="Guardar" type="submit"/>
                    </p>
                </div>
            </form>

            <form id="picture" class="picture_list fright dropzone grid-4" action="/registry/media/upload/">{% csrf_token %}
                <input type="hidden" name="list_picture" value="0"/>
                <div class="del-wrapper">
                    <span class="spot del center picture">Eliminar foto</span>
                </div>
                <span class="grid-4 fright no-margin pixeles" style="bottom: -190px;">
                    Te recomendamos una imagen de 140 x 176 pixeles
                </span>
            </form>

                <h3 class="title grid-13 title_list no-margin fleft">Libros de tu lista</h3>
            <div id="scrollbar1" class="d-paddin_top">
        <div class="wrapper_message " >
        <div class="container-16 container_message_2 alert-text" style="margin-bottom: -10px;">

        <p>La lista debe tener al menos un título o un autor</p>

        </div>
        </div>
                <div class="scrollbar"><div class="track"><div class="thumb">
                    <div class="end"></div></div></div></div>
                <div class="viewport overview_list">
                    <div class="overview ">
                        <div class="add_my_list ">
                            <div class="d-container_add_book grid-5 no-margin">
                                <div class="d-add_book" >
                                    <input type="hidden" value="list" class="list_typ" />
                                    <input type="hidden" value="add" class="add_type" />
                                    <p class="d-add_text_book">
                                        + Añadir un nuevo libro
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">

        function redireccionar(id_list)
        {
            location.href = site_url + '/qro_lee/profile/list/' + id_list;
        }
        Dropzone.options.picture = {
            maxFiles: 1,
            thumbnailWidth: 130,
            thumbnailHeight: 130,
            dictDefaultMessage: 'Arrastre aquí el logotipo <span class="legend din-r leg1"> o bien </span>' +
                '<span class="legend din-r leg2">Selecciona una foto de tu equipo' +
                ' </span>',
            init: function() {
                this.on("addedfile", function(file) {
                    $('#picture .dz-message').fadeOut(300);
               });
            },
            success: function(file) {
                $('.profile-pic').val(file.name);
                $('.del.picture').css({
                    'display': 'block'
                });
                var this_ = this;
                $('.del.picture').click(function(){
                    this_.removeAllFiles();
                    $('.del.picture').fadeOut(300);
                    $('.dz-default.dz-message').fadeIn(300);
                    $('.profile-pic').val('');
                });
            }
        }

        $(document).ready(function(){

            $('form p input').focus(function(){
                $(this).parent().find('.invalid').fadeOut(300);
            });
            $('#registry').submit(function(e){
                var upload_valid = false;

                if($('#dropzone .dz-preview').length > 1 ||
                        $('#cover .dz-preview').length > 1  ){
                    upload_valid = false;
                    alert('Solo puedes subir 1 archivo');
                }
                else
                    upload_valid = true;
                var $form = $(this);


                if($(this).find('input[type=submit]').hasClass('msg-ok'))
                    window.location.href = site_url;
                if(valid_form_list($(this)) && upload_valid){

                    $form.find('input[type=submit]').fadeOut(200);
                    $.ajax({
                        type: "POST",
                        url: $(this).attr('action'),
                        data: $(this).serialize(),
                        dataType: 'json'
                    }).done(function(data) {

                                if(data.success == 'True'){
                                    $form.find('input[type=submit]').fadeOut(200);
                                    add_titles_list($('.csrf_token').find('input').val(),data.id_list);
                                    setTimeout ("redireccionar("+data.id_list+")", 1300);

                                }else{
                                    $('.message').addClassconsole.log(777);('fail');
                                    $('.message').html('Hubo un error, favor de verificar sus datos');
                                }
                                $('.message').fadeIn(300);

                            });
                }
                return false;

            });


        });
    </script>
{% endblock %}
