{% extends 'base.html' %}
{% load staticfiles %}
{% block style %}
    <link rel="stylesheet" href="{% static "style/registry.css" %}"/>
    <link rel="stylesheet" href="{% static "style/forms.css" %}"/>
    <link rel="stylesheet" href="{% static "style/theme.css" %}"/>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "js/dropzone.js" %}"></script>
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>
    <script type="text/javascript" src="{% static "js/validation.js" %}"></script>
    <script type="text/javascript" src="{% static "js/ajax.js" %}"></script>
    <script type="text/javascript" src="{% static "js/tiny.js" %}"></script>
{% endblock %}

{% block head %}
    {% include 'header.html' %}
{% endblock %}

{% block main_site %}
    <div class="lightbox-wrapper register">
        <div class="container-16">
            <div class="fb-objs grid-5 center lightbox">
                <a style="right:0px" class="close right" href="#"></a>
                <div id="scrollbar1">
                    <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                    <div class="viewport">
                        <div class="overview">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="grid-16 entities registry reg_ent">
        <div class="grid-14 registry">
            <div class="heading">
                <h3 class="title title_create_entity grid-13 no-margin fleft">{{ entity_type.0|capfirst }}</h3>
            </div>
            <p class="content">{{ content }}</p>
            <form enctype="multipart/form-data" method="post" id="registry" class="register_entity grid-8 no-margin" action="/registry/register/">{% csrf_token %}
                <input class="profile-pic" type="hidden" value="" name="picture"/>
                <input class="cover-pic" type="hidden" value="" name="cover_picture"/>
                <input type="hidden" name="fb_id" class="fb_id"/>
                <input type="hidden" name="redirect" value="0" class="redirect"/>
                <div class="grid-8 no-margin fleft">
                <input type="hidden" value="{{ entity_type.1 }}" name="entity_type"/>
                <p>Nombre
                    <input class="required regex_alpha_numeric grid-5 fright no-margin" type="text" value="" name="name"/>
                </p>
                <p class="textarea">Descripción
                    <textarea class="grid-5 fix fright no-margin" name="description"></textarea>
                </p>
                <p style="height: 100px;">Categoría
                <input type="hidden" name="category_ids" value=""/>
                    <span style="height: 100px;width: 296px;" class="grid-5 fright no-margin">
                        <span class="multi_select">
                            {% for category in categories %}
                                <span class="select_value {{ category.id }}" >{{ category.name }}</span>
                            {% endfor %}
                        </span>
                        </span>
                    </span>

                </p>
                {% if entity_type.1 == 'group' %}
                <p>Privacidad
                    <span class="grid-5 fix-right fright no-margin">
                        <span class="grid-2 select no-margin">
                            <span class="text"></span>
                            <span class="dropdown"></span>
                            <select class="change" name="privacy" id="">
                                <option value="publica">Publica</option>
                                <option value="privada">Privada</option>
                            </select>
                        </span>
                    </span>
                </p>
                {% else %}
                    <input type="hidden" value="publica" name="privacy"/>
                {% endif %}
                <p>Dirección
                    <input type="hidden" class="lat" name="lat"/>
                    <input type="hidden" class="long" name="long"/>
                    <input class="grid-5 address fright no-margin" type="text" value="" name="address"/>
                </p>
                <p style="margin:0px 0px 30px 0px;" class="textarea entity_map">
                    <span style="width: 296px;" class="grid-5 map fright no-margin">
                        <span id="map"></span>
                    </span>
                </p>
                <p>Sitio web
                    <input placeholder="http://qrolee.com" class="grid-5 regex_url fright no-margin" type="text" value="" name="website"/>
                </p>
                <p>Página de Facebook
                    <input style="width: 140px;" placeholder="facebook" class="grid-2 social regex_social fright no-margin" type="text" value="" name="fb"/>
                    <span class="grid-3 text-right fright no-margin">https://facebook.com/</span>
                </p>
                <p>Página de twitter
                    <span class="twitter">@</span>
                    <input style="text-indent: 18px;" placeholder="twitter" class="grid-5 social regex_social fright no-margin" type="text" value="" name="twitter"/>
                    <!--<span style="width: 140px;" class="grid-3 fright no-margin">https://twitter.com/</span>-->
                </p>
                <p>
                    <span class="message fright"></span>
                </p>
                <p class="submit">
                    <input id="submit" class="fright" value="Crear {{ entity_type.2|lower }}" type="submit"/>
                </p>

                </div>

            </form>
            <form id="picture" class="fright dropzone no-margin grid-6" action="/registry/media/upload/">{% csrf_token %}
                <input type="hidden" name="picture" value="1"/>
                <!--<div class="preview grid-5 fright no-margin dropzone-previews"></div>-->
                <div class="del-wrapper">
                    <span class="spot del center picture">Eliminar foto</span>
                </div>
                <span class="grid-5 fright no-margin pixeles" style="bottom: -190px;">
                    Te recomendamos una imagen de 200 x 200 pixeles
                </span>
            </form>



            {% if entity_type.1 == 'group' %}
            <form id="cover" class="dropzone fright no-margin grid-6" action="/registry/media/upload/">{% csrf_token %}
                <input type="hidden" name="cover" value="1"/>
                <!--<div class="preview grid-5 fright no-margin dropzone-previews"></div>-->
                <div class="del-wrapper">
                    <span class="spot del center cover">Eliminar foto</span>
                </div>
                <span class="grid-5 fright no-margin pixeles" style="bottom: -190px;">
                    Te recomendamos una imagen de 615 x 1607 pixeles
                </span>
            </form>
                <div class="fb-img-preview grid-6 fright no-margin">

                </div>
            {% endif %}

            {% if entity_type.1 != 'spot' %}
            <span class="fb-connect fb-session-required no-margin fright grid-5">
                {% if entity_type.1 == 'group' %}
                <p>¿Cuentas ya con un grupo en Facebook?</p>
                <p class="fb {{ entity_type.1 }} fleft">Ver grupos de
                {% else %}
                 <p>¿Cuentas ya con una pagina en Facebook?</p>
                <p class="fb {{ entity_type.1 }} fleft">Ver pages de
                {% endif %}
                    <img src="/static/img/FB-f-Logo__blue_50.png" alt=""/></p>
            </span>
            {% endif %}
        </div>

    </div>
    <script type="text/javascript">
    Dropzone.options.picture = {
        maxFiles: 1,
        thumbnailWidth: 130,
        thumbnailHeight: 130,
        dictDefaultMessage: 'Arrastre aquí el logotipo <span class="legend din-r leg1"> o bien </span>' +
                '<span class="legend din-r leg2">Selecciona una foto de tu equipo' +
                ' </span>',
        init: function() {
            this.on("addedfile", function(file) {
                $('#picture .dz-message').fadeOut(300);
            });
        },
        success: function(file) {
            $('.profile-pic').val(file.name);
            $('.del.picture').css({
                'display': 'block'
            });
            var this_ = this;
            $('.del.picture').click(function(){
                this_.removeAllFiles();
                $('.del.picture').fadeOut(300);
                $('.dz-default.dz-message').fadeIn(300);
                $('.profile-pic').val('');
            });


        }
    };
    Dropzone.options.cover = {
        maxFiles:1,
        thumbnailWidth: 130,
        thumbnailHeight: 130,
        dictDefaultMessage: 'Arrastre aquí el logotipo <span class="legend din-r leg1"> o bien </span>' +
                '<span class="legend din-r leg2">Selecciona una foto de tu equipo' +
                ' </span>',
        init: function() {
            this.on("addedfile", function(file) {
                $('#cover .dz-message').fadeOut(300);
            });
             this.on("removedfile", function(file) {

              });
        },
        success: function(file) {
            $('.cover-pic').val(file.name);
            $('.del.cover').css({
                'display': 'block'
            });
            var this_ = this;
            $('.del.cover').click(function(){
                this_.removeAllFiles();
                $('.del.cover').fadeOut(300);
                $('.dz-default.dz-message').fadeIn(300);
                $('.cover-pic').val('');
            });
        }
    };

    $(document).ready(function(){

        var curr_url = window.location.href.split('#');
        if (curr_url.length > 1){
            $('input.redirect').val(1);
        }


        if($('#map').length > 0)
            initialize(20.6144226,-100.4057373);
        $('form p input').focus(function(){
            $(this).parent().find('.invalid').fadeOut(300);
        });


        $('#registry').submit(function(e){
            var upload_valid = false;
            var ids = '';
            $('.multi_select .active').each(function(){
                var ids_ = $(this).attr('class').split(' ');
                ids += ids_[1] + ' ';
            });

            if($('#dropzone .dz-preview').length > 1 ||
               $('#cover .dz-preview').length > 1  ){
                upload_valid = false;
                alert('Solo puedes subir 1 archivo');
            }
            else
                upload_valid = true;

            var id;
            if($(this).find('input[type=submit]').hasClass('msg-ok')){
                window.location.href = site_url;
            }

            if(valid_form && upload_valid){
                $('input[name=category_ids]').val($.trim(ids));
                $.ajax({
                type: "POST",
                url: $(this).attr('action'),
                data: $(this).serialize(),
                dataType: 'json'
                }).done(function(data) {
                    if(data.success != 'False'){
                        var name = $('input[name=name]').val().charCodeAt(0)+''+
                                $('input[name=name]').val().charCodeAt(1)+''+
                                $('input[name=name]').val().charCodeAt(2);
                        if($('input.redirect').val() == 0){
                            window.location.href = site_url+'/qro_lee/entity/'+
                                $('input[name=entity_type]').val()+'/'+data.success;
                        }else{
                            window.location.href = site_url+'/accounts/users/edit_profile/'+data.success;
                        }
                        /*
                        $('.message').addClass('success');
                        $('.message').html('Se ha creado exitosamente!');
                        $('#registry').find('input[type=submit]').val('Ok');
                        $('#registry').find('input[type=submit]').addClass('msg-ok');
                        */
                    }else{
                        $('.message').addClass('fail');
                        $('.message').html('Hubo un error, favor de verificar sus datos');
                    }
                    $('.message').fadeIn(300);

                });
            }
            return false;
        });


    });
    </script>
{% endblock %}
