{% extends 'base.html' %}
{% load staticfiles %}

{% block style %}
    <link rel="stylesheet" href="{% static "style/theme.css" %}"/>
    <link rel="stylesheet" href="{% static "style/registry.css" %}"/>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "js/ajax.js" %}"></script>
    <script type="text/javascript" src="{% static "js/dropzone.js" %}"></script>
    <script type="text/javascript" src="{% static "js/tiny.js" %}"></script>
    <script type="text/javascript" src="{% static "js/validation.js" %}"></script>
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>
    <div id="fb-root"></div>

{% endblock %}

{% block head %}
    {% include 'header.html' %}
{% endblock %}

{% block main_site %}
    <div class="lightbox-wrapper register">
        <div class="container-16">
            <div class="fb-objs grid-5 center lightbox">
                <a style="right:0px" class="close right" href="#"></a>
                <div id="scrollbar1">
                    <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                    <div class="viewport">
                        <div class="overview">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-16 edit register">

    <div style="margin-left:60px;" class="grid-14">
    <span class="title main">Crear un nuevo evento en
            <a href="/qro_lee/entity/{{ entity_type.1 }}/entity_{{ entity.id }}/" class="{{ entity_type.1 }}">{{ entity.name|capfirst }}</a>

        </span>
    <form action="/registry/register/event/" class="grid-8 fleft no-margin">
        <input type="hidden" class="type_ent" value="event" />
        <input type="hidden" name="location_id" class="entity" value="{{ entity.id }}"/>{% csrf_token %}
        <input class="profile-pic" type="hidden" value="" name="picture"/>
        <input class="cover-pic" type="hidden" value="" name="cover_picture"/>
        <input class="fb-url" type="hidden" value="" name="fb_url"/>


        <span class="data grid-8 fleft no-margin">
            <p>Nombre
                <span class="close right"></span>
                <input name="name" type="text" value="" class="grid-5 required alpha fright value"/>
            </p>
            <p>Descripción
                <textarea name="description" class="grid-5 alpha fright value"></textarea>
            </p>
            <p>Tipo de evento
                <span class="select_wrapper grid-5 no-margin fright">
                <span class="grid-2 fix-left select no-margin">
                            <span class="text">Publica</span>
                            <span class="dropdown"></span>
                            <select class="change" name="privacy_type">
                                <option value="publica">Publica</option>
                                <option value="privada">Privada</option>
                            </select>
                </span>
                </span>

            </p>
            <p>Fecha de evento
                <span class="grid-3 no-margin fright">
                    Hora <input type="text" class="fright hour-init"/>
                </span>
                <span class="grid-2 fix-left fright no-margin">
                    <input name="start_time" type="text" class="date-init"/>
                </span>
            </p>
            <p>Fecha de finalización
                <span class="grid-3 no-margin fright">
                    Hora <input type="text" class="fright hour-end"/>
                </span>
                <span class="grid-2 fix-left fright no-margin">
                    <input name="end_time" type="text" class="date-end"/>
                </span>
            </p>
            <p class="sel_spots " >Lugar del evento
                <span class="fright dropdown">
                </span>
                <input style="width:256px;" name="location_name" type="text" value="" class="grid-4 alpha address fright value"/>
                <input name="lat" type="hidden" class="lat" value="" />
                <input name="long" type="hidden" class="long" value="" />
                <input type="hidden" class="place_spot" name="place_spot" value="0"/>
                <span class="grid-4 no-margin value_sel">
                </span>
                <select class="name_spot">
                    {% for obj in spots %}
                        <option class="{{ obj.id }}" value="{{ obj.name }}">{{ obj.name }}</option>
                    {% endfor %}
                </select>
                <select class="latln_spot">
                    {% for obj in spots %}
                        <option class="{{ obj.id }}" value="{{ obj.lat }},{{ obj.long }}">{{ obj.name }}</option>
                    {% endfor %}
                </select>
            </p>
            <p>
                <span id="map" class="grid-5 omega fright"></span>
            </p>
            <p>
                <span class="pixeles fright grid-5 recomendation" >
                    Arrastra el ping para poner más precisa tu ubicación
                </span>
            </p>
            <span class="grid-5 fix-left no-margin fright">
                <input type="hidden" name="share_fb" value="0"/>
                <input type="hidden" class="fb_id" name="fb_id" value="-1" />
                <p class="checkbox fb-session-required"><span></span>Vincular evento con Facebook</p>
            </span>
            <p>
                <span class="message fleft"></span>
            </p>
            <p>
                <input type="submit" class="green_btn submit" value="Crear evento"/>
            </p>
        </span>

    </form>
            <form id="picture" class="fright dropzone no-margin grid-5" action="/registry/media/upload/">{% csrf_token %}
                <input type="hidden" name="event_picture" value="1"/>
                <div class="del-wrapper">
                    <span class="spot del center picture">Eliminar foto</span>
                </div>
                <span class="grid-5 fright no-margin pixeles" style="bottom: -190px;">
                    Te recomendamos una imagen de 176 x 176 pixeles
                </span>
            </form>
            <form id="cover" class="dropzone fright no-margin grid-5" action="/registry/media/upload/">{% csrf_token %}
                <input type="hidden" name="event_cover_picture" value="1"/>
                <div class="del-wrapper">
                    <span class="spot del center cover">Eliminar foto</span>
                </div>
                <span class="grid-5 fright no-margin pixeles" style="bottom: -190px;">
                    Te recomendamos una imagen de 615 x 1067 pixeles
                </span>
            </form>
    <span class="fb-connect fb-fix fb-session-required no-margin fright grid-5">
        <p>¿Cuentas ya con un evento en Facebook que deseas vincular?</p>
        <p class="fb events fleft">Ver eventos de
            <img src="/static/img/FB-f-Logo__blue_50.png" alt=""/></p>
    </span>
    </div>
    </div>
    <script type="text/javascript">

        Dropzone.options.picture = {
            maxFiles: 1,
            thumbnailWidth: 130,
            thumbnailHeight: 130,
            dictDefaultMessage: 'Arrastre aquí el logotipo <span class="legend din-r leg1"> o bien </span>' +
                '<span class="legend din-r leg2">Selecciona una foto de tu equipo' +
                ' </span>',
            init: function() {
                this.on("addedfile", function(file) {
                    $('#picture .dz-message').fadeOut(300);
                });
            },
            success: function(file) {
                $('.profile-pic').val(file.name);
                $('.del.picture').css({
                    'display': 'block'
                });
                var this_ = this;
                $('.del.picture').click(function(){
                    this_.removeAllFiles();
                    $('.del.picture').fadeOut(300);
                    $('.dz-default.dz-message').fadeIn(300);
                    $('.profile-pic').val('');
                });
            }
        }
        Dropzone.options.cover = {
            maxFiles:1,
            thumbnailWidth: 130,
            thumbnailHeight: 130,
            dictDefaultMessage: 'Arrastre aquí la foto de portada <span class="legend din-r leg1"> o bien </span>' +
                '<span class="legend din-r leg2">Selecciona una foto de tu equipo' +
                ' </span>',
            init: function() {
                this.on("addedfile", function(file) {
                    $('#cover .dz-message').fadeOut(300);
                });
            },
            success: function(file) {
                $('.cover-pic').val(file.name);
                $('.del.cover').css({
                    'display': 'block'
                });
                var this_ = this;
                $('.del.cover').click(function(){
                    this_.removeAllFiles();
                    $('.del.cover').fadeOut(300);
                    $('.dz-default.dz-message').fadeIn(300);
                    $('.cover-pic').val('');
                });
            }
        }

        $(document).ready(function(){
            var date = new Date();
            date = date.toTimeString();

            if(date.indexOf('+') > -1){
                date = date.split('+');
                date = date[1].split(' ');
                date = '+'+date[0];
            }else{
                date = date.split('-');
                date = date[1].split(' ');
                date = '-'+date[0];

            }
            initialize();
            $('.hour-init').timepicker();
            $('.hour-end').timepicker();
            $( ".date-init" ).datepicker({
                dateFormat: 'yy-mm-dd',
                onSelect: function(dateText) {
                },
                onClose: function( selectedDate ) {
                    $( ".date-end" ).datepicker( "option", "minDate", selectedDate );
                }
            });
            $( ".date-end" ).datepicker({
                dateFormat: 'yy-mm-dd',
                onSelect: function(dateText) {
                }
            });

            $('form.grid-8').submit(function(e){
                if($(this).find('.msg-ok').length > 0)
                    window.location.href = site_url+'/qro_lee/events';
                if(valid_form){

                    if($.trim($('.date-init').val()) != ''){
                        $('.date-init').val($.trim($('.date-init').val()) +' '+ $('.hour-init').val());
                        $('.date-end').val($.trim($('.date-end').val()) +' '+ $('.hour-end').val());
                    }
                    $.ajax({
                        type: "POST",
                        url: $(this).attr('action'),
                        data: $(this).serialize(),
                        dataType: 'json'
                    }).done(function(data) {
                                if(data.success != 'False'){
                                    if($('.checkbox').length > 0){
                                    if($('.checkbox span').html() != ''){
                                        var ename = $('input[name=name]').val();
                                        var estart_time = $('.date-init').val().replace(' ','T')+':00'+date;
                                        var edate_end = $('.date-end').val().replace(' ','T')+':00'+date;
                                        var edescription = $('textarea[name=description]').val();
                                        var elocation = $('input[name=location_name]').val();
                                        var privacy = 'OPEN';
                                        if($('select.change').val() == 'privada')
                                            privacy = 'SECRET';
                                        var fb_data = {
                                                    name: ename,
                                                    start_time: estart_time,
                                                    end_time:   edate_end,
                                                    description: edescription,
                                                    location: elocation,
                                                    privacy_type: privacy

                                                }
                                        console.log(fb_data);
                                        FB.api(
                                            '/me/events','post',
                                            fb_data,
                                            function(response) {
                                                console.log(response);
                                                $.ajax({
                                                    type: "POST",
                                                    url: '/registry/update/'+data.success+'/',
                                                    data: {
                                                        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                                                        'field': 'fb_id',
                                                        'value': response['id'],
                                                        'event': '1'
                                                    },
                                                    dataType: 'json'
                                                    }).done(function(data){});
                                            });

                                    }
                                    }
                                    var name = $('input[name=name]').val().charCodeAt(0)+''+
                                            $('input[name=name]').val().charCodeAt(1)+''+
                                            $('input[name=name]').val().charCodeAt(2);

                                    window.location.href = site_url+'/qro_lee/events/'+data.success;

                                }else{
                                    $('.message').addClass('fail');
                                    $('.message').html('Hubo un error, favor de verificar sus datos');
                                }
                                $('.message').fadeIn(300);

                            });
                }
                return false;
            });
            $('.accept').click(function(){

            });
            $('.checkbox span').click(function(){

                if($.trim($(this).html()) == ''){
                    $(this).parent().parent().find('input.share_fb').val(1);
                }else{
                    $(this).parent().parent().find('input.share_fb').val(0);
                }

            });

        });

    </script>
{% endblock %}
