{% block entity_menu %}
    <span class="member fright grid-2">
                <span style="padding-right: 20px; background: #F7A975 url('http://qrolee.com/static/style/../img/settings_pointer.png') no-repeat 45px 9px !important; border: 1px solid #CE8759 !important" class="brown_btn fright">Opciones
                    <span class="sub-menu sub">
                        <a href="/registry/edit/{{ entity.id }}">Editar información</a>
                        <span class="lin"></span>
                        <a href="/registry/admin_users/{{ entity.id }}">Administradores</a>
                        <span class="lin"></span>
                        <a href="/registry/edit/events/{{ entity.id }}">Organizar eventos</a>
                        <span class="lin"></span>
                        <a style="border:none;" href="/registry/delete/{{ entity_type.1 }}/{{ entity.id }}">Borrar</a>
                    </span>
                </span>
            </span>
{% endblock %}