{% block entity_menu %}
    <span class="member fright grid-2">
                <span style="padding-right: 20px;" class="brown_btn fright">Editar
                    <span class="sub-menu">
                        <a href="/registry/edit/entity_{{ entity.id }}">Editar información</a>
                        <a href="/registry/admin_users/{{ entity.id }}">Administradores</a>
                        <a href="/registry/edit/events/{{ entity.id }}">Organizar eventos</a>
                        <a style="border:none;" href="/registry/delete/{{ entity_type.1 }}/{{ entity.id }}">Borrar</a>
                    </span>
                </span>
            </span>
{% endblock %}