.sidebar-b .overview{
    height: 285px !important;
}

p.social-login{
    height: 30px;
}
    .social-login a.twitter{
        position: absolute;
        top: 0px;
        left: 60px;
    }
    .social-login a.fb{
        position: absolute;
        top: 0px;
        left: 142px;
    }

    input{
        width: 100%;
        height: 27px;
        line-height: 27px;
    }

.register .social-login a.twitter{
        position: absolute;
        top: 37px;
        left: 40px;
        margin: 0px !important;
    }
.register .social-login a.fb{
        left: 120px;
        top: 37px;
        margin: 0px !important;
    }

.top_.search_button{
    top: 1px !important;
}

.news-feed a{
    color: #000000;
}

.ie_7{
    display: block;
    float: left;
    margin-right: 5px;
}
span.dark_yello_btn{
    height: 27px !important;
    right: 2px;
    top: 1px !important;
}
.entity{
    padding-bottom: 20px !important;
}
.entity .member .btn{
    width: 65px !important;
    line-height: 14px !important;
}

.dz-message span {
    position: relative;
    width: 100%;
    display: block;
    text-align: center;
    line-height: 10px;
    margin-top: 65px;
}

.dz-message .leg1 {
    bottom: -17px;
    width: 100%;
    display: block;
    text-align: center;
}
.data p input{
        border: 1px solid #e4e4e4;
        display: none;
    }
.data p .value{
    top: -27px;
}
.fadein.fbSpan{
    top: -27px;
    position: relative;
}

#ie-fix{
    text-indent: 0px !important;
    position: relative;
}
    #ie-fix .pixeles{
        bottom: -5px !important;
        text-align: left;
    }

.scrollspot .d-spot {
    margin-left: 0px;
    height: 145px !important;
    margin-bottom: 20px !important;
}
.sub .lin{
    height: 1px !important;
}

.footer{
    margin-top: 20px !important;
}
.int_btn, .register .submit, .login .submit{
    line-height: 10px !important;
}

.wrapper_message {
    z-index: 5;
}
.active_item{
    background:transparent;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#50C4A47C,endColorstr=#50C4A47C);
    zoom: 1;
}
.container_title{
    margin-top: 25px !important;
    float: left;
}
#scrollbar1{
    float: left !important;
}
.dialog_text{
    padding-bottom: 50px !important;
}
.dialog-confirm .btn_save{
    position: absolute;
    bottom: 20px;
    right: 0px;
}
.login,.register{
        overflow: hidden;
        position: relative;
    }
.create-entity{
    background:transparent;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#509C9C9C,endColorstr=#509C9C9C);
    zoom: 1;
}