{% extends 'base.html' %}
{% load staticfiles %}

{% block style %}
    <link rel="stylesheet" href="{% static "style/theme.css" %}"/>
    <link rel="stylesheet" href="{% static "style/registry.css" %}"/>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "js/tiny.js" %}"></script>
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>
    <script type="text/javascript" src="{% static "js/dropzone.js" %}"></script>
    <script type="text/javascript" src="{% static "js/validation.js" %}"></script>
    <script type="text/javascript" src="{% static "js/ajax.js" %}"></script>

{% endblock %}

{% block head %}
    {% include 'header.html' %}
{% endblock %}
hyu
{% block main_site %}
    <div class="wrapper_message " >
    <div class="container-16 container_message">
        <div class="dialog-confirm" ></div>
    </div>
    </div>
    <div class="grid-16 edit">
    <div class="grid-14 center">
        {% csrf_token %}
        <input type="hidden" class="type" value="{{ type }}" />
        <input type="hidden" class="id_user" value="{{ user_profile.user.id }}" />
        <span class="title main">Editar información de
            {% if type == 'profile' %}
                <a class="d-link_perfil" href="/accounts/users/profile/{{ user.id }}">tu perfil</a>
            {% endif %}
            {% if type == 'account' %}
                tu cuenta
            {% endif %}
        </span>
        {% if type == 'profile' %}
            <span style="border: none" class="data grid-8 fleft no-margin">
            <p>Nombre
                <span class="controllers_wrapper">
                <span class="green_btn fright">Editar</span>
                <span class="yellow_btn fright">Guardar</span>
                    </span>
                <span class="close right"></span>
                {% if user_profile.user.first_name  %}
                    <input name="first_name" type="text" value="{{ user_profile.user.first_name }}" class="grid-5 alpha fright value "/>
                    <span class="value grid-5 alpha fright">{{ user_profile.user.first_name }}</span>
                {% else %}
                    <input name="first_name" type="text" value="" class="grid-5 alpha fright value "/>
                    <span class="value grid-5 alpha fright"></span>
                {% endif %}
            </p>
             <p>Apellido
                 <span class="controllers_wrapper">
                <span class="green_btn fright">Editar</span>
                <span class="yellow_btn fright">Guardar</span>
                     </span>
                <span class="close right"></span>
                {% if user_profile.user.last_name  %}
                    <input name="last_name" type="text" value="{{ user_profile.user.last_name }}" class="grid-5 alpha fright value "/>
                    <span class="value grid-5 alpha fright">{{ user_profile.user.last_name }}</span>
                {% else %}
                    <input name="last_name" type="text" value="" class="grid-5 alpha fright value "/>
                    <span class="value grid-5 alpha fright"></span>
                {% endif %}
            </p>
            <p>Email
                <span class="controllers_wrapper">
                <span class="green_btn fright">Editar</span>
                <span class="yellow_btn fright">Guardar</span>
                    </span>
                <span class="close right"></span>
                {% if user_profile.user.email  %}
                    <input name="email" type="text" value="{{ user_profile.user.email }}" class="grid-5 alpha fright value "/>
                    <span class="value grid-5 alpha fright">{{ user_profile.user.email }}</span>
                {% else %}
                    <input name="email" type="text" value="" class="grid-5 alpha fright value "/>
                    <span class="value grid-5 alpha fright"></span>
                {% endif %}
            </p>
            <p>telefono
                <span class="controllers_wrapper">
                <span class="green_btn fright">Editar</span>
                <span class="yellow_btn fright">Guardar</span>
                    </span>
                <span class="close right"></span>
                {% if user_profile.phone  %}
                    <input name="phone" type="text" value="{{ user_profile.phone }}" class="grid-5 alpha fright value "/>
                    <span class="value grid-5 alpha fright">{{ user_profile.phone }}</span>
                {% else %}
                    <input name="phone" type="text" value="" class="grid-5 alpha fright value "/>
                    <span class="value grid-5 alpha fright"></span>
                {% endif %}
            </p>
            <p>Biografía
                <span class="controllers_wrapper">
                <span class="green_btn fright">Editar</span>
                <span class="yellow_btn fright">Guardar</span>
                    </span>
                <span class="close right"></span>
                {% if user_profile.biography  %}
                    <input name="biography" type="text" value="{{ user_profile.biography }}" class="grid-5 alpha fright value "/>
                    <span class="value grid-5 alpha fright">{{ user_profile.biography }}</span>
                {% else %}
                    <input name="biography" type="text" value="" class="grid-5 alpha fright value "/>
                    <span class="value grid-5 alpha fright"></span>
                {% endif %}
            </p>
            <p>Fecha de nacimiento
                <span class="controllers_wrapper">
                <span class="green_btn fright">Editar</span>
                <span class="yellow_btn fright">Guardar</span>
                    </span>
                <span class="close right"></span>
                {% if birthday  %}
                    <input name="birthday" type="text" readonly='true' value="{{ user_profile.birthday|date:'Y-m-d' }}"
                           class="grid-5 alpha fright value input_init"/>
                    <span class="value grid-5 alpha fright">{{ birthday }}</span>
                {% else %}
                    <input name="birthday" type="text" readonly='true' value=""
                           class="grid-5 alpha fright value input_init"/>
                    <span class="value grid-5 alpha fright"></span>
                {% endif %}
            </p>
            <p>Ciudad
                <span class="controllers_wrapper">
                <span class="green_btn fright">Editar</span>
                <span class="yellow_btn fright">Guardar</span>
                    </span>
                <span class="close right"></span>
                {% if user_profile.city %}
                    <textarea name="city" style="resize: none" readonly='true' class="map address area value" >{{ user_profile.city }} </textarea>
                    <textarea readonly='true' style="resize: none"  class="map area address_user value" >{{ user_profile.city }} </textarea>
                    <span class="value map">{{ user_profile.city|cut:'#' }}</span>
                {% else %}
                    <textarea readonly='true' style="resize: none"  class="map address_user area value" ></textarea>
                    <textarea name="city"  readonly='true' class="map address area value" ></textarea>
                    <span class="value map area"></span>
                {% endif %}
                <span id="map" class="grid-5 alpha fright"></span>
            </p>
            <p>codigo postal
                <span class="controllers_wrapper">
                <span class="green_btn fright">Editar</span>
                <span class="yellow_btn fright">Guardar</span>
                    </span>
                <span class="close right"></span>
                {% if user_profile.postal_code  %}
                    <input name="postal_code" type="text" value="{{ user_profile.postal_code }}" class="grid-5 alpha fright value "/>
                    <span class="value grid-5 alpha fright">{{ user_profile.postal_code }}</span>
                {% else %}
                    <input name="postal_code" type="text" value="" class="grid-5 alpha fright value "/>
                    <span class="value grid-5 alpha fright"></span>
                {% endif %}
            </p>
            <p>Facebook
                <span class="controllers_wrapper">
                <span class="green_btn fright">Editar</span>
                <span class="yellow_btn fright">Guardar</span>
                    </span>
                <span class="close right"></span>
                {% if user_profile.fb_username  %}
                    <input name="fb_username" type="text" value="{{ user_profile.fb_username }}" class="grid-5 alpha fright value "/>
                    <span class="value grid-5 alpha fright">{{ user_profile.fb_username }}</span>
                {% else %}
                    <input name="fb_username" type="text" value="" class="grid-5 alpha fright value "/>
                    <span class="value grid-5 alpha fright"></span>
                {% endif %}
            </p>
            <p>Twitter
                <span class="controllers_wrapper">
                <span class="green_btn fright">Editar</span>
                <span class="yellow_btn fright">Guardar</span>
                    </span>
                <span class="close right"></span>
                {% if user_profile.twitter_username  %}
                    <input name="twitter_username" type="text" value="{{ user_profile.twitter_username }}" class="grid-5 alpha fright value "/>
                    <span class="value grid-5 alpha fright">{{ user_profile.twitter_username }}</span>
                {% else %}
                    <input name="twitter_username" type="text" value="" class="grid-5 alpha fright value "/>
                    <span class="value grid-5 alpha fright"></span>
                {% endif %}
            </p>
            <p>Sitio web
                <span class="controllers_wrapper">
                <span class="green_btn fright">Editar</span>
                <span class="yellow_btn fright">Guardar</span>
                <span class="close right"></span>
                </span>
                {% if user_profile.website  %}
                    <input name="website" type="text" value="{{ user_profile.website }}" class="grid-5 alpha fright value "/>
                    <span class="value grid-5 alpha fright">{{ user_profile.website }}</span>
                {% else %}
                    <input name="website" type="text" value="" class="grid-5 alpha fright value "/>
                    <span class="value grid-5 alpha fright"></span>
                {% endif %}
            </p>
        </span>
            <span class="d-picture_user grid-4" >
                {% if user_profile.picture %}
                    <span class="del_pict grid-2 no-margin show_upload">Quitar</span>
                    <span class="d-picture_user wrapper_picture_user">
                        <img class="img_size_all"
                             src="/static/media/users/{{ user_profile.user.id }}/profile/{{ user_profile.picture }}" />
                    </span>
                    <span class="dropzone_user disable_upload">
                        <form id="picture" class="fright d-picture_profile dropzone no-margin grid-4" action="/registry/media/upload/">{% csrf_token %}
                            <input type="hidden" name="edit_profile" value="1"/>
                        </form>
                    </span>
                {% else %}
                    <span class="dropzone_user ">
                        <form id="picture" class="fright d-picture_profile dropzone no-margin grid-4" action="/registry/media/upload/">{% csrf_token %}
                            <input type="hidden" name="edit_profile" value="1"/>
                        </form>
                    </span>
                {% endif %}
        </span>
        {% endif %}
        {% if type == 'account' %}
            <span style="border: none" class="data grid-9 fleft no-margin">
            <p>Nombre
                <span class="controllers_wrapper">
                <span class="green_btn fright">Editar</span>
                <span class="yellow_btn fright">Guardar</span>
                    </span>
                <span class="close right"></span>
                <input name="username" type="text" value="{{ user_account.username }}" class="grid-5 alpha fright value "/>
                <span class="value grid-5 alpha fright">{{ user_account.username }}</span>
            </p>
             <p>Contraseña
                 <span class="controllers_wrapper">
                <span class="green_btn fright">Editar</span>
                <span class="yellow_btn fright">Guardar</span>
                     </span>
                <span class="close right"></span>
                <input name="password" type="password" value="{{ password }}" class="grid-5 alpha fright value "/>
                <span class="value grid-5 alpha fright">*********</span>
            </p>
            <p>Miembro desde
                <span class="close right"></span>
                <span class="value grid-5 alpha fright">{{ user_account.date_joined }}3</span>
            </p>
        </span>
        <span class="d-pink_buttom fright message_alert" >Eliminar Cuenta</span>
        {% endif %}
    </div>
    </div>
    <script type="text/javascript">
        Dropzone.options.picture = {
        maxFiles: 1,
        dictRemoveFile: 'Quitar',
        addRemoveLinks: true,
        dictDefaultMessage: 'Inserte aquí su nueva <br> foto de perfil',
        init: function() {
            this.on("addedfile", function(file) {
                $('#picture .dz-message ').fadeOut(300);
            });
        },
        success: function(file) {
            $('.profile-pic').val(file.name);
            load_img_profile();
        }
    }
        $(document).ready(function(){

            $('.input_init').datepicker({
                dateFormat: 'yy-mm-dd',
                changeYear: true,
                yearRange: "-50:+0",
                onSelect: function(dateText) {
                }
            });

            if($('.type').val()=='profile'){
                initialize();
            }
            $('.green_btn').click(function(){
                $this = $(this).parent();
                $this.parent().find('span.value').fadeOut(300,
                function(){
                    if($this.parent().find('input.value').length > 0){
                        $this.parent().find('input.value').fadeIn(300,function(){
                            $this.parent().find('span.green_btn').fadeOut(300,
                            function(){
                                 $this.parent().find('span.yellow_btn').fadeIn(300,function(){
                                     $this.parent().find('.close').fadeIn(300);
                                 });
                            });

                        });
                    }else if($this.parent().find('textarea.value').length > 0){
                        $this.parent().find('textarea.value').fadeIn(300,function(){
                            $this.parent().find('span.green_btn').fadeOut(300,
                            function(){
                                 $this.parent().find('span.yellow_btn').fadeIn(300,function(){
                                     $this.parent().find('.close').fadeIn(300);
                                 });
                            });

                        });
                    }else{
                        $this.parent().find('.select_wrapper').fadeIn(300,function(){
                            $this.parent().find('span.green_btn').fadeOut(300,
                            function(){
                                 $this.parent().find('span.yellow_btn').fadeIn(300,function(){
                                     $this.parent().find('.close').fadeIn(300);

                                 });
                            });

                        });
                    }
                });

            });
            $('.close').click(function(){
                $this = $(this).parent();
                $(this).parent().parent().find('.d-invalid').remove();
                $(this).fadeOut(300,
                    function(){
                        $this.parent().find('span.yellow_btn').fadeOut(300,function(){
                            $this.parent().find('span.green_btn').fadeIn(300,
                            function(){
                                if($this.parent().find('input.value').length > 0){
                                 $this.parent().find('input.value').fadeOut(300,function(){
                                     $this.parent().find('span.value').fadeIn(300);
                                 });
                                }else if($this.parent().find('textarea.value').length > 0){
                                    $this.parent().find('textarea.value').fadeOut(300,function(){
                                        $this.parent().find('span.value').fadeIn(300);
                                    });
                                }else{
                                    $this.parent().find('.select_wrapper').fadeOut(300,function(){
                                        $this.parent().find('span.value').fadeIn(300);
                                    });
                                }
                            });

                        });
                });
            });
            $('.yellow_btn').click(function(){
                var $this_ = $(this).parent().parent();
                var field = $this_.find('input.value').attr('name');
                var value = $this_.find('input.value').val();
                if($this_.find('textarea.value').length > 0){
                    value = $this_.find('textarea.value').val();
                    field = $this_.find('textarea.value').attr('name');
                }else if($(this).parent().find('.select_wrapper').length > 0){
                    value = $this_.find('select.value').val();
                    field = $this_.find('select.value').attr('name');
                }
                if(value.length>0){
                url = '';
                if($('.type').val()=='profile'){
                    url = '/accounts/users/update_profile/';
                }
                if($('.type').val()=='account'){
                    url = '/accounts/users/update_account/';
                }

                $this = $(this).parent();
                $.ajax({
                type: "POST",
                url: url,
                data: {
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                    'field': field,
                    'value': value
                },
                dataType: 'json'
                }).done(function(data){

                    if($this.parent().find('input.value').length > 0){

                        if(field!='password'){

                            if(field=='birthday'){
                                date = ($this.parent().find('input').val()).split('-');
                                $this.parent().find('span.value').html(date[2] +
                                        '-' + months[parseInt(date[1]-1)] + '-' + date[0]);
                            }else{
                                $this.parent().find('span.value').html($this.parent().find('input.value').val());
                            }
                        }
                    }else if($this.parent().find('textarea.value').length > 0){
                        $this.parent().find('span.value').html($this.parent().find('.address_user').val());
                    }else{
                        $this.parent().find('span.value').html($this.parent().find('select.value').val());
                    }
                    $this.parent().find('.close').fadeOut(300,function(){
                    $this.find('.yellow_btn').fadeOut(300,function(){
                            $this.parent().find('span.green_btn').fadeIn(300,
                            function(){
                                if($this.parent().find('input.value').length > 0){
                                 $this.parent().find('input.value').fadeOut(300,function(){
                                     $this.parent().find('span.value').fadeIn(300);
                                 });
                                }else if($this.parent().find('textarea.value').length > 0){
                                    $this.parent().find('textarea.value').fadeOut(300,function(){
                                     $this.parent().find('span.value').fadeIn(300);
                                 });
                                }else{
                                    $this.parent().find('.select_wrapper').fadeOut(300,function(){
                                     $this.parent().find('span.value').fadeIn(300);
                                 });
                                }
                            });

                        });
                    });
                });
                }else{
                    var span = $('<span class="d-invalid"></span>');
                    span.html("campo vacio");
                    $(this).parent().parent().append(span);
                }
            });
        });
    </script>
{% endblock %}