{% extends 'base.html' %}
{% load staticfiles %}

{% block style %}
    <link rel="stylesheet" href="{% static "style/theme.css" %}"/>
    <link rel="stylesheet" href="{% static "style/registry.css" %}"/>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "js/tiny.js" %}"></script>
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>
    <script type="text/javascript" src="{% static "js/dropzone.js" %}"></script>
    <script type="text/javascript" src="{% static "js/validation.js" %}"></script>
    <script type="text/javascript" src="{% static "js/ajax.js" %}"></script>

{% endblock %}

{% block head %}
    {% include 'header.html' %}
{% endblock %}
hyu
{% block main_site %}
    <div class="wrapper_message " >
    <div class="container-16 container_message">
        <div class="dialog-confirm" ></div>
    </div>
    </div>
    <div class="grid-16 edit">
    <div class="grid-14 center">
    <span class="d-pink_buttom fright message_alert" >Eliminar Cuenta</span>
        {% csrf_token %}
        <input type="hidden" class="type" value="{{ type }}" />
        <input type="hidden" class="id_object" value="{{ user_profile.user.id }}" />
        <span class="title grid-9 fleft no-margin main">Editar información de tu perfil</span>

        {% if type == 'profile' %}
            <span style="border: none" class="data grid-9 fleft no-margin">
            <p>Nombre
                <span class="controllers_wrapper">
                <span class="green_btn fright">Editar</span>
                <span class="yellow_btn fright">Guardar</span>
                    </span>
                <span class="close right"></span>
                {% if user_profile.user.first_name  %}
                    <input name="first_name" type="text" value="{{ user_profile.user.first_name }}" class="grid-5 alpha fright value "/>
                    <span class="value grid-5 alpha fright">{{ user_profile.user.first_name }}</span>
                {% else %}
                    <input name="first_name" type="text" value="" class="grid-5 alpha fright value "/>
                    <span class="value grid-5 alpha fright"></span>
                {% endif %}
            </p>
             <p>Apellido
                 <span class="controllers_wrapper">
                <span class="green_btn fright">Editar</span>
                <span class="yellow_btn fright">Guardar</span>
                     </span>
                <span class="close right"></span>
                {% if user_profile.user.last_name  %}
                    <input name="last_name" type="text" value="{{ user_profile.user.last_name }}" class="grid-5 alpha fright value "/>
                    <span class="value grid-5 alpha fright">{{ user_profile.user.last_name }}</span>
                {% else %}
                    <input name="last_name" type="text" value="" class="grid-5 alpha fright value "/>
                    <span class="value grid-5 alpha fright"></span>
                {% endif %}
            </p>
            <p>Email
                <span class="controllers_wrapper">
                <!--<span class="green_btn fright">Editar</span>
                <span class="yellow_btn fright">Guardar</span>-->
                    </span>
                <span class="close right"></span>
                {% if user_profile.user.email  %}
                    <span class="value no-edit grid-5 alpha fright">{{ user_profile.user.email }}</span>

                {% else %}
                    <input name="email" type="text" value="" class="grid-5 alpha fright value "/>
                    <span class="value grid-5 alpha fright"></span>
                {% endif %}
            </p>
            <p>Telefono
                <span class="controllers_wrapper">
                <span class="green_btn fright">Editar</span>
                <span class="yellow_btn fright">Guardar</span>
                    </span>
                <span class="close right"></span>
                {% if user_profile.phone  %}
                    <input name="phone" type="text" value="{{ user_profile.phone }}" class="grid-5 alpha fright value "/>
                    <span class="value grid-5 alpha fright">{{ user_profile.phone }}</span>
                {% else %}
                    <input name="phone" type="text" value="" class="grid-5 alpha fright value "/>
                    <span class="value grid-5 alpha fright"></span>
                {% endif %}
            </p>
            <p>Biografía
                <span class="controllers_wrapper">
                <span class="green_btn fright">Editar</span>
                <span class="yellow_btn fright">Guardar</span>
                </span>
                <span class="close right"></span>
                {% if user_profile.biography  %}
                    <textarea name="biography" type="text"  class="grid-5 alpha fright value ">{{ user_profile.biography }}</textarea>
                    <span class="value area grid-5 alpha fright">{{ user_profile.biography }}</span>
                {% else %}
                    <textarea name="biography" type="text"  class="grid-5 alpha fright value "></textarea>
                    <span class="value area grid-5 alpha fright"></span>
                {% endif %}
            </p>
            <p>Fecha de nacimiento
                <span class="controllers_wrapper">
                <span class="green_btn fright">Editar</span>
                <span class="yellow_btn fright">Guardar</span>
                    </span>
                <span class="close right"></span>
                {% if birthday  %}
                    <input name="birthday" type="text" readonly='true' value="{{ user_profile.birthday|date:'Y-m-d' }}"
                           class="grid-5 alpha fright value input_init"/>
                    <span class="value grid-5 alpha fright">{{ birthday }}</span>
                {% else %}
                    <input name="birthday" type="text" readonly='true' value=""
                           class="grid-5 alpha fright value input_init"/>
                    <span class="value grid-5 alpha fright"></span>
                {% endif %}
            </p>
            <!--<p>Ciudad
                <span class="controllers_wrapper">
                <span class="green_btn fright">Editar</span>
                <span class="yellow_btn fright">Guardar</span>
                    </span>
                <span class="close right"></span>
                {% if user_profile.city %}
                    <textarea name="city" style="resize: none" readonly='true' class="map area address value" >{{ user_profile.city }} </textarea>
                    <textarea name="city" readonly='true' style="resize: none"  class="map area address_user value" >{{ user_profile.city }} </textarea>
                    <span class="value map area">{{ user_profile.city|cut:'#' }}</span>
                {% else %}
                    <textarea  name="city" readonly='true' style="resize: none"  class="map area address_user value" ></textarea>
                    <textarea name="city"  readonly='true' class="map area address value" ></textarea>
                    <span class="value map area"></span>
                {% endif %}
                <span id="map" class="grid-5 alpha fright"></span>
            </p>
            <p>Codigo postal
                <span class="controllers_wrapper">
                <span class="green_btn fright">Editar</span>
                <span class="yellow_btn fright">Guardar</span>
                    </span>
                <span class="close right"></span>
                {% if user_profile.postal_code  %}
                    <input name="postal_code" type="text" value="{{ user_profile.postal_code }}" class="grid-5 alpha fright value "/>
                    <span class="value grid-5 alpha fright">{{ user_profile.postal_code }}</span>
                {% else %}
                    <input name="postal_code" type="text" value="" class="grid-5 alpha fright value "/>
                    <span class="value grid-5 alpha fright"></span>
                {% endif %}
            </p>-->
            <p>Facebook
                <span class="controllers_wrapper">
                <span class="green_btn fright">Editar</span>
                <span class="yellow_btn fright">Guardar</span>
                    </span>
                <span class="close right"></span>
                {% if user_profile.fb_username  %}
                    <input name="fb_username" type="text" value="{{ user_profile.fb_username }}" class="grid-5 alpha fright value "/>
                    <span class="value grid-5 alpha fright">{{ user_profile.fb_username }}</span>
                {% else %}
                    <input name="fb_username" type="text" value="" class="grid-5 alpha fright value "/>
                    <span class="value grid-5 alpha fright"></span>
                {% endif %}
            </p>
            <p>Twitter
                <span class="controllers_wrapper">
                <span class="green_btn fright">Editar</span>
                <span class="yellow_btn fright">Guardar</span>
                    </span>
                <span class="close right"></span>
                {% if user_profile.twitter_username  %}
                    <input name="twitter_username" type="text" value="{{ user_profile.twitter_username }}" class="grid-5 alpha fright value "/>
                    <span class="value grid-5 alpha fright">{{ user_profile.twitter_username }}</span>
                {% else %}
                    <input name="twitter_username" type="text" value="" class="grid-5 alpha fright value "/>
                    <span class="value grid-5 alpha fright"></span>
                {% endif %}
            </p>
            <p>Sitio web
                <span class="controllers_wrapper">
                <span class="green_btn fright">Editar</span>
                <span class="yellow_btn fright">Guardar</span>
                <span class="close right"></span>
                </span>
                {% if user_profile.website  %}
                    <input name="website" type="text" value="{{ user_profile.website }}" class="grid-5 alpha fright value "/>
                    <span class="value grid-5 alpha fright">{{ user_profile.website }}</span>
                {% else %}
                    <input name="website" type="text" value="" class="grid-5 alpha fright value "/>
                    <span class="value grid-5 alpha fright"></span>
                {% endif %}
            </p>
        </span>
        <span class="d-picture_user grid-4 fright no-margin" >
            {% if user_profile.picture %}

                <span class="d-picture_user wrapper_picture_user">
                    <img class="img_size_all"
                         src="/static/media/users/{{ user_profile.user.id }}/profile/{{ user_profile.picture }}" />
                    <span class="del-wrapper loaded">
                        <span class="spot del center picture">Eliminar foto</span>
                    </span>
                </span>

                <span class="dropzone_user disable_upload">
                    <form id="picture" class="fright d-picture_profile dropzone no-margin grid-4" action="/registry/media/upload/">{% csrf_token %}
                        <input type="hidden" name="edit_profile" value="1"/>
                        <div class="del-wrapper">
                            <span class="spot del center picture">Eliminar foto</span>
                        </div>
                    </form>
                </span>

            {% else %}
                <span class="dropzone_user ">
                    <form id="picture" class="fright d-picture_profile dropzone no-margin grid-4" action="/registry/media/upload/">{% csrf_token %}
                        <input type="hidden" name="edit_profile" value="1"/>
                        <div class="del-wrapper">
                            <span class="spot del center picture">Eliminar foto</span>
                        </div>
                        <span class="grid-4 fright no-margin pixeles" style="bottom: -190px;">
                            Te recomendamos una imagen de 179 x 179 pixeles
                        </span>
                    </form>
                </span>
            {% endif %}
        </span>
    {% endif %}
    <span style="border: none;" class="data grid-9 fleft no-margin">
        <span style="margin-bottom: 30px;" class="title main">Editar información de tu cuenta</span>
             <p>Contraseña
                 <span class="controllers_wrapper password">
                <span class="green_btn fright">Editar</span>
                <span class="yellow_btn fright">Guardar</span>
                     </span>
                <span class="close right"></span>
                <input name="password" type="password" value="{{ password }}" class="grid-5 alpha fright value "/>
                <span class="value grid-5 alpha fright">*********</span>
            </p>
            <p>Miembro desde
                <span class="close right"></span>
                <span class="value grid-5 alpha fright">{{ user_account.date_joined }}</span>
            </p>
        </span>
        <div class="grid-8 edit-form fleft margin-50">
            <span class="green_btn main fleft">Editar</span> <span class="yellow_btn main fleft">Guardar</span>
        </div>

    </div>
    </div>
    <script type="text/javascript">
        $('.input_init').datepicker({
            dateFormat: 'yy-mm-dd',
            changeYear: true,
            yearRange: "-50:+0",
            onSelect: function(dateText) {
            }
        });

        Dropzone.options.picture = {
        maxFiles: 1,
        thumbnailWidth: 130,
        thumbnailHeight: 130,
        dictDefaultMessage: 'Arrastre aquí el logotipo <span class="legend din-r leg1"> o bien </span>' +
                '<span class="legend din-r leg2">Selecciona una foto de tu equipo' +
                ' </span>',
        init: function() {
            this.on("addedfile", function(file) {
                $('#picture .dz-message ').fadeOut(300);
            });
        },
        success: function(file) {
            $('.profile-pic').val(file.name);
            load_img_profile();
            $('.del.picture').css({
                'display': 'block'
            });
            var this_ = this;
            $('.del.picture').click(function(){
                this_.removeAllFiles();
                $('.del.picture').fadeOut(300);
                $('.dz-default.dz-message').fadeIn(300);
                $('.profile-pic').val('');
            });
        }
    }
        $(document).ready(function(){
            var timeout = 200;


            $('.green_btn.main').click(function(){
                $('.controllers_wrapper').each(function(){
                    edit_form($(this), timeout, 0);
                });
            });
            $('.yellow_btn.main').click(function(){
                $('.controllers_wrapper').each(function(){
                    edit_form($(this), timeout, 1);
                });
            });
            var curr_url = window.location.href.split('#');
            if(curr_url.length > 1){
                $("html, body").animate({ scrollTop: $(document).height()-$(window).height() });
                var $this = $('.controllers_wrapper.password');
                $this.parent().find('span.value').fadeOut(timeout, function(){
                if($this.parent().find('input.value').length > 0){

                    $this.parent().find('input.value').fadeIn(timeout,function(){
                        $this.parent().find('.fadein').fadeIn(300);
                        $this.parent().find('input.value').css({
                            'color': '#454545'
                        });

                    });
                }
                });
            }
        });
    </script>
{% endblock %}