{% extends 'base.html' %}
{% load staticfiles %}
{% load registry_tags %}

{% block style %}
    <link rel="stylesheet" href="{% static "style/theme.css" %}"/>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "js/tiny.js" %}"></script>
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>
    <script type="text/javascript" src="{% static "js/ajax.js" %}"></script>
    <script type="text/javascript" src="{% static "js/validation.js" %}"></script>
{% endblock %}


{% block head %}
    {% include 'header.html' %}
{% endblock %}

{% block main_site %}
    <div class="wrapper_message " >
        <div class="container-16 container_message">
            <div class="dialog-confirm" ></div>
        </div>
    </div>
    <div class="grid-16">
    <div class="grid-16 entity user_pro no-margin">
        <span class="wrapper fleft wrapper_user" style="background: url('{{ picture_user }}') center;background-size: 100%;" >
        </span>
        <span class="general-info no-margin grid-7">
            <h3 class="title d-title_profile">
                {% if user_profile.user.first_name %}
                    {{ user_profile.user.first_name|title }} {{ user_profile.user.last_name|title }}
                {% else %}
                    {{ user_profile.user.username|title }}
                {% endif %}
            </h3>
            <span class="social">
                {% if user_profile.fb_username %}
                <a href="http://facebook.com/{{ user_profile.fb_username }}">
                    <img src="/static/img/profile_fb.png" alt=""/>
                </a> <img src="{% static "img/social_divider.png" %}" alt=""/>
                {% endif %}
                {% if user_profile.twitter_username %}
                <a href="http://twitter.com/{{ user_profile.twitter_username }}">
                    <img src="/static/img/profile_twitter.png" alt=""/>
                </a> <img src="{% static "img/social_divider.png" %}" alt=""/>
                {% endif  %}
                {% if user_profile.website %}
                    <a href="http://{{ user_profile.website }}">
                        <img src="/static/img/profile_world.png" alt=""/>
                    </a>
                {% endif %}
            </span>
            <p>
                {% if city %}
                    {{ city }}
                {% endif %}
            </p>
            <p class="title_author count_titles_read" >
                {% if count_titles == 1 %}
                    Un libro leído
                {% else %}
                    {{ count_titles }} libros leídos
                {% endif %}
            </p>
            <p class='title_act_read'>
                {% if act_title == 0 %}
                    {% if user_profile.user.id == user.id %}
                        <span class='text_act' >
                            ¿Qué estás leyendo?
                            <input type="hidden" class="type_message"
                                   value="show_titles" /><br>
                        <span class="title_author" style="line-height: 2.2; color: #f89883 !important; cursor:pointer">Editar</span>
                        </span>
                    {% else %}
                        No está leyendo nada en este momento
                    {% endif %}
                {% else %}
                    Actualmente está leyendo:<br>
                    <a href="/qro_lee/profile/title/{{ act_title.title.id }}" title="{{ act_title.title.title }}" class="title_author" style="margin:0">
                            {{ act_title.title.title }}
                        </a>
                    {% if user_profile.user.id == user.id %}<br>
                        <span class="message_alert " style="line-height: 2.2; color: #f89883 !important">
                            <input class="type_message" type="hidden" value="edit_title_read"/>
                            <input class="id_list"type="hidden" value="{{ act_title.id }}"/>
                            <input class="name_title"type="hidden" value="{{ act_title.title.title }}"/>
                            Editar
                        </span>
                    {% endif %}
                {% endif %}
            </p>
        </span>
        {% if user_profile.user_id != user.id %}
            <span class="member no-margin grid-3">
                <span class="grid-2 no-margin fright">
                    {% if member %}
                        <form class="no_ajax fright" action="/accounts/users/profile/{{ user_profile.user_id }}/" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="membership" value="-1"/>
                            <input type="submit" class="btn fright" value="Dejar de seguir">
                        </form>
                        <p class="din-r followers fright">{{ followers|total_members }} {% if followers|total_members == 1 %}seguidor{% else %}seguidores{% endif %}</p>

                    {% else %}
                        <form class="no_ajax fright" action="/accounts/users/profile/{{ user_profile.user_id }}/" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="membership" value="1"/>
                            <input type="submit" class="btn fright" value="Seguir">
                        </form>
                        <p class="din-r followers fright">{{ followers|total_members }} {% if followers|total_members == 1 %}seguidor{% else %}seguidores{% endif %}</p>
                    {% endif %}
                </span>
            </span>
        {% endif %}

        <span class="nav profile grid-8 no-margin">
            <span class="btn {{ btn_active.0 }}">Actividad</span>
            <span class="btn {{ btn_active.1 }}">Libros</span>
            <span class="btn {{ btn_active.2 }}">Listas</span>
            <span class="btn">Grupos</span>
            <span class="btn">Páginas</span>
        </span>
    </div>

    <div class="grid-16 content single no-margin">
    <div class="csrf_token">
        {% csrf_token %}
    </div>
    <input type="hidden" class="type_list" value="T" />
    <div class="grid-16 news-feed load no-margin" style="display: block;" >
        <div style="margin: 30px 0px 0px 30px;" class="grid-10 left">
            {% if activity  %}
            <h3 class="title">Actividad reciente</h3>
            <div style="margin:0px;" id="scrollbar1">
                <div class="scrollbar" style="right: -60px;"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                <div class="viewport ">
                    <div class="overview">
                        {% for news_feed in activity %}
                            {% autoescape off %}
                                {{ news_feed.id|feed_type:-1 }}
                            {% endautoescape %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% else %}
                <p>No hay actividad reciente</p>
            {% endif %}
        </div>
        <div class="titles_author grid-4 fright">
        <span class="ruler"></span>
            <div class="container_titles grid-4 no-margin ">
                <h3 class="title info_profile">
                    Información
                </h3>
                     <span class="item_title grid-4 no-margin">
                         <h3 class="title grid-4 no-margin title_my_list">
                             Géneros favoritos
                         </h3>
                         <span class="container_items grid-4 no-margin">
                             {% for obj in list_genre %}
                                 {% if obj.genre.name %}
                                    <span title="{{ obj.genre.name }}" style="cursor: auto;!important"
                                          class=" place_pink my_items {% if not forloop.last %}border_right{% endif %}">
                                        {% if list_genre|length == 1 %}
                                            {{ obj.genre.name }}
                                        {% else %}
                                            {{ obj.genre.name}}
                                        {% endif %}
                                     </span>
                                 {% endif %}
                             {% empty %}
                                 {% if user_profile.user.id == user.id %}
                                    <span class="place_pink my_items add_tit " >Agrega un nuevo género</span>
                                 {% else %}
                                     <span class="gray_7 my_items" style="cursor: auto;!important;">Ningun género favorito</span>
                                 {% endif %}
                             {% endfor %}
                         </span>
                         <h3 class="title grid-4 n  o-margin title_my_list">
                             Libros favoritos
                         </h3>
                         <span class="container_items grid-4 no-margin">
                             {% for key, value in list_titles.0.items %}
                                 {% if forloop.counter <= 4 %}
                                    <span class=" my_items">
                                        <img class="fleft" src="/static/img/tag_title.png" />
                                        <a class="place_pink my_items link_pro" title="{{ value.title }}" href="/qro_lee/profile/title/{{ key }}/">
                                            {{ value.title }}
                                        </a>
                                     </span>
                                 {% endif %}
                             {% empty %}
                                 {% if user_profile.user.id == user.id %}
                                    <span class="place_pink my_items add_tit">Agrega un nuevo libro favorito </span>
                                 {% else %}
                                    <span class="gray_7 my_items" style="cursor: none!important;">Ningun libro favorito</span>
                                 {% endif %}
                             {% endfor %}
                             {% if list_titles.0.items|length > 4 and list_titles.0.items %}
                                <span class=" my_items add_tit">
                                    <a class="title_author grid-4 no-margin my_items">
                                        Ver más
                                    </a>
                                 </span>
                            {% endif %}
                         </span>

                         <h3 class="title grid-4 no-margin title_my_list">
                             Libros leídos
                         </h3>
                         <span class="container_items grid-4 no-margin">
                            <span class="container_items grid-4 no-margin">
                                {% for key, value in list_titles.1.items %}
                                     {% if forloop.counter <= 4 %}
                                        <span class=" my_items">
                                            <img class="fleft" src="/static/img/tag_title.png" />
                                            <a class="place_pink my_items link_pro" title="{{ value.title }}" href="/qro_lee/profile/title/{{ key }}/">
                                                {{ value.title }}
                                            </a>
                                         </span>
                                     {% endif %}
                                 {% empty %}
                                     {% if user_profile.user.id == user.id %}
                                        <span class="place_pink my_items add_tit">Agrega un nuevo libro leído </span>
                                     {% else %}
                                        <span class="gray_7 my_items" style="cursor: none!important;">Ningun libro favorito</span>
                                     {% endif %}
                                 {% endfor %}
                                 {% if list_titles.1.items|length > 4 and list_titles.1.items %}
                                    <span class=" my_items add_tit">
                                        <a class="title_author grid-4 no-margin my_items">
                                            Ver más
                                        </a>
                                     </span>
                                {% endif %}
                            </span>
                        </span>
                     </span>
            </div>
        </div>
    </div>

    <div class="grid-16 load prevent_scroll no-margin my_books">
    <div class="sidebar-a grid-15 container_list">
    <input type="hidden" class="type_my_list" value="T" />
    <div class="heading">
        <h3 class="title main grid-6 fleft">
            {% if user_profile.user.id == user.id %}
                Mis libros favoritos
            {% else %}
                Libros favoritos de
                {% if user_profile.user.first_name %}
                    {{ user_profile.user.first_name }} {{ user_profile.user.last_name }}
                {% endif %}
            {% endif %}
        </h3>
    </div>
    <div class="viewport margin_top">
    <div class="overview ">
    <div>
    {% if list_titles.0.items|length <= 2 %}
        <div class="book_favorite grid-15 no-margin d-paddin_bottom min_height">
    {% elif list_titles.0.items|length %}
        <div class="book_favorite grid-15 no-margin d-paddin_bottom">
    {% else %}
        <div class="book_favorite grid-15 no-margin d-paddin_bottom min_height">
    {% endif %}
    {% if user_profile.user.id == user.id %}
        <div class="d-container_add_book grid-5 no-margin">
            <div class="d-add_book" >
                <input type="hidden" value="title" class="list_typ" />
                <input type="hidden" value="add" class="add_type" />
                <p class="d-add_text_book">
                    + Añade un nuevo libro
                </p>
            </div>
        </div>
    {% endif %}
    {% for key, value in list_titles.0.items %}
    <div class="d-item_book d-item_{{ key }} grid-5 no-margin">

    <input type="hidden" class="id_title"
           value="{{ key }}"/>
    <input type="hidden" class="name_title"
           value="{{ value.title }}"/>
    <input type="hidden" class="type_list"
           value="{{ value.default_type }}"/>
    <input type="hidden" value="{{ value.id_list }}"
                         class="id_list_rel" />
    <a href="/qro_lee/profile/title/{{ key }}/" >
        <span class="wrapper_list borde_author" >
            {% if not value.cover %}
                <img src="/static/img/create.png" class="img_size_all" />
            {% else %}
                <img class="img_size_all" src="{{ value.cover }}"/>
            {% endif %}
        </span>
    </a>
    <div class="d-container_text_book grid-3 no-margin">
        <a title="{{ value.title }}" href="/qro_lee/profile/title/{{ key }}/"
           class="title title_book alpha grid-4 ">
            {{ value.title|truncatechars:16 }}
        </a>
        <p class="p-d-text" >
            {% if value.author != 'autor anonimo' %}
                De
                <a href="/qro_lee/profile/author/{{ value.id_author }}"
                        class="title_author" >
                    {{ value.author|truncatechars:19 }}
                </a>
            {% else %}
                <a class="place_pink" >
                    {{ value.author|truncatechars:19 }}
                </a>
            {% endif %}
        </p>
        <p class="p-d-text" >
             <span class="mini_rate" >
                {% for x in 'xxxxx' %}
                    {% if forloop.counter < value.grade %}
                        <img src="/static/img/comunityStarmini.png" />
                    {% else %}
                        <img src="/static/img/backgroundStarmini.png" />
                    {% endif %}
                {% endfor %}
            </span>
        </p>
        <p class="p-d-text d-text_opacity">
            añadido {{ value.date }}
        </p>
        {% if value.id_user == user.id %}
            <span class="pink_btn size_btn_edit message_alert btn_delete">
               <input class="type_message" type="hidden" value="delete_title"/>
            </span>
        {% endif %}
    </div>
    </div>
    {% empty %}
        {% if user_profile.user.id == user.id  %}
            <span class="grid-9 no_resuls">
                Añade tus libros favoritos
            </span>
        {% else %}
            <span class="grid-14 no_resuls">
                {% if user_profile.user.first_name %}
                    {{ user_profile.user.first_name }} {{ user_profile.user.last_name }}
                {% endif %}
                aún no añade libros favoritos
            </span>
        {% endif %}
    {% endfor %}

    </div>
        <span class="grid-15 line_divide no-margin">
            {% if list_titles.0 and list_titles.0|length > 5 %}
                <span class="place_pink fright all_book">
                    <span class="span_text">Ver todos</span>
                    <input type="hidden" value="0" />
                </span>
            {% else %}
                <span class="place_pink fright all_book disable_all">
                    <span class="span_text">Ver todos</span>
                    <input type="hidden" value="0" />
                </span>
            {% endif %}
        </span>
    </div>
    <div>
    <h3 class="title title_book d-paddin_top_item grid-14 fleft">
        {% if user_profile.user.id == user.id %}
            Mis libros leídos
        {% else %}
            Libros que ha leído
            {% if user_profile.user.first_name %}
                {{ user_profile.user.first_name }} {{ user_profile.user.last_name }}
            {% endif %}
        {% endif %}
    </h3>
    {% if list_titles.1.items and list_titles.1.items|length <= 2 %}
        <div class="book_read grid-15 no-margin d-paddin_bottom min_height">
    {% elif list_titles.1.items %}
        <div class="book_read grid-15 no-margin d-paddin_bottom">
    {% else %}
        <div class="book_read grid-15 no-margin d-paddin_bottom min_height">
    {% endif %}
        {% if user_profile.user.id == user.id  %}
            <div class="d-container_add_book grid-5 no-margin">
                <div class="d-add_book" >
                    <input type="hidden" value="title" />
                    <input type="hidden" value="title" class="list_typ" />
                    <input type="hidden" value="add" class="add_type" />
                    <p class="d-add_text_book">
                        + Añade un nuevo libro
                    </p>
                </div>
            </div>
        {% endif %}
        {% for key, value in list_titles.1.items %}
            <div class="d-item_book d-item_{{ key }} grid-5 no-margin">
        <input type="hidden" class="id_title"
               value="{{ key }}"/>
        <input type="hidden" class="name_title"
               value="{{ value.title }}"/>
        <input type="hidden" class="type_list"
               value="{{ value.default_type }}"/>
        <input type="hidden" value="{{ value.id_list }}"
               class="id_list_rel" />
        <a href="/qro_lee/profile/title/{{ key }}/" >
        <span class="wrapper_list borde_author" >
            {% if not value.cover %}
                <img src="/static/img/create.png" class="img_size_all" />
            {% else %}
                <img class="img_size_all" src="{{ value.cover }}"/>
            {% endif %}
        </span>
        </a>
        <div class="d-container_text_book grid-3 no-margin">
            <a title="{{ value.title }}" href="/qro_lee/profile/title/{{ key }}/"
               class="title title_book alpha grid-4 ">
                {{ value.title|truncatechars:16 }}
            </a>
            <p class="p-d-text" >
                {% if value.author != 'autor anonimo' %}
                    De
                    <a href="/qro_lee/profile/author/{{ value.id_author }}"
                       class="title_author" >
                        {{ value.author|truncatechars:19 }}
                    </a>
                {% else %}
                    <a class="title_author" >
                        {{ value.author|truncatechars:19 }}
                    </a>
                {% endif %}
            </p>
            <p class="p-d-text" >
             <span class="mini_rate" >
                {% for x in 'xxxxx' %}
                    {% if forloop.counter < value.grade %}
                        <img src="/static/img/comunityStarmini.png" />
                    {% else %}
                        <img src="/static/img/backgroundStarmini.png" />
                    {% endif %}
                {% endfor %}
            </span>
            </p>
            <p class="p-d-text d-text_opacity">
                leido {{ value.date }}
            </p>
            {% if value.id_user == user.id %}
                <span class="pink_btn size_btn_edit message_alert btn_delete">
                   <input class="type_message" type="hidden" value="delete_title"/>
                </span>
                    <span class="green_btn message_alert size_btn_edit ">
                    <input class="type_message" type="hidden" value="edit_read"/>
                    <input class="name_title" type="hidden" value="{{ value.title }}">
                </span>
            {% endif %}
        </div>
        </div>
        {% empty %}
            {% if user_profile.user.id == user.id  %}
                <span class="grid-9 no_resuls">
                    Añade tus libros leídos
                </span>
            {% else %}
                <span class="grid-14 no_resuls">
                    {% if user_profile.user.first_name %}
                        {{ user_profile.user.first_name }} {{ user_profile.user.last_name }}
                    {% endif %} aún no añade libros leídos
                </span>
            {% endif %}
        {% endfor %}

        </div>
        <span class="grid-15 line_divide no-margin">
            {% if list_titles.1 and list_titles.1|length > 5 %}
                <span class="place_pink fright all_book">
                    <span class="span_text">Ver todos</span>
                    <input type="hidden" value="0" />
                </span>
            {% else %}
                <span class="place_pink fright all_book disable_all">
                    <span class="span_text">Ver todos</span>
                    <input type="hidden" value="0" />
                </span>
            {% endif %}
        </span>
        </div>
        <div>
        <h3 class="title title_book d-paddin_top_item grid-14 fleft">
            {% if user_profile.user.id == user.id %}
                Mis libros por leer
            {% else %}
                Libros que desea leer
                {% if user_profile.user.first_name %}
                    {{ user_profile.user.first_name }} {{ user_profile.user.last_name }}
                {% endif %}
            {% endif %}
        </h3>
        {% if list_titles.2.items|length <= 2 %}
            <div class="book_for_reading grid-15 no-margin d-paddin_bottom min_height">
        {% elif list_titles.2.items %}
            <div class="book_for_reading grid-15 no-margin d-paddin_bottom">
        {% else %}
            <div class="book_for_reading grid-15 no-margin d-paddin_bottom min_height">
        {% endif %}
            {% if user_profile.user.id == user.id  %}
                <div class="d-container_add_book grid-5 no-margin">
                    <div class="d-add_book" >
                        <input type="hidden" value="title" />
                        <input type="hidden" value="title" class="list_typ" />
                        <input type="hidden" value="add" class="add_type" />
                        <p class="d-add_text_book">
                            + Añade un nuevo libro
                        </p>
                    </div>
                </div>
            {% endif %}
            {% for key, value in list_titles.2.items %}
                <div class="d-item_book d-item_{{ key }} grid-5 no-margin">
            <input type="hidden" class="id_title"
                   value="{{ key }}"/>
            <input type="hidden" class="name_title"
                   value="{{ value.title }}"/>
            <input type="hidden" class="type_list"
                   value="{{ value.default_type }}"/>
            <input type="hidden" value="{{ value.id_list }}"
                   class="id_list_rel" />
            <a href="/qro_lee/profile/title/{{ key }}/" >
                <span class="wrapper_list borde_author" >
                    {% if not value.cover %}
                        <img src="/static/img/create.png" class="img_size_all" />
                    {% else %}
                        <img class="img_size_all" src="{{ value.cover }}"/>
                    {% endif %}
                </span>
            </a>
            <div class="d-container_text_book grid-3 no-margin">
                <a title="{{ value.title }}" href="/qro_lee/profile/title/{{ key }}/"
                   class="title title_book alpha grid-4 ">
                    {{ value.title|truncatechars:16 }}
                </a>
                <p class="p-d-text" >
                    {% if value.author != 'autor anonimo' %}
                        De
                        <a href="/qro_lee/profile/author/{{ value.id_author }}"
                           class="title_author" >
                            {{ value.author|truncatechars:19 }}
                        </a>
                    {% else %}
                        <a class="title_author" >
                            {{ value.author|truncatechars:19 }}
                        </a>
                    {% endif %}
                </p>
                <p class="p-d-text" >
             <span class="mini_rate" >
                {% for x in 'xxxxx' %}
                    {% if forloop.counter < value.grade %}
                        <img src="/static/img/comunityStarmini.png" />
                    {% else %}
                        <img src="/static/img/backgroundStarmini.png" />
                    {% endif %}
                {% endfor %}
            </span>
                </p>
                <p class="p-d-text d-text_opacity">
                    añadido {{ value.date }}
                </p>
                {% if value.id_user == user.id %}
                    <span class="pink_btn size_btn_edit message_alert btn_delete">
               <input class="type_message" type="hidden" value="delete_title"/>
            </span>
                {% endif %}
            </div>
            </div>
            {% empty %}
                {% if user_profile.user.id == user.id  %}
                    <span class="grid-9 no_resuls">
                        Añade tus libros por leer
                    </span>
                {% else %}
                    <span class="grid-14 no_resuls">
                        {% if user_profile.user.first_name %}
                            {{ user_profile.user.first_name }} {{ user_profile.user.last_name }}
                        {% endif %} aún no añade libros que desea leer
                    </span>
                {% endif %}
            {% endfor %}

            </div>
            <span class="grid-15 line_divide no-margin">
                {% if list_titles.2 and list_titles.2|length > 5 %}
                <span class="place_pink fright all_book">
                    <span class="span_text">Ver todos</span>
                    <input type="hidden" value="0" />
                </span>
            {% else %}
                <span class="place_pink fright all_book disable_all">
                    <span class="span_text">Ver todos</span>
                    <input type="hidden" value="0" />
                </span>
            {% endif %}
            </span>
        </div>
            <div >
                <h3 class="title d-paddin_top_item grid-14 fleft">
                    {% if user_profile.user.id == user.id %}
                        Mis géneros favoritos
                    {% else %}
                        Géneros favoritos de
                        {% if user_profile.user.first_name %}
                            {{ user_profile.user.first_name }} {{ user_profile.user.last_name }}
                        {% endif %}
                    {% endif %}
                </h3>
                <div class="grid-5 no-margin">
                    <div class="grid-5 no-margin container_genres">
                        {% for obj in list_genre  %}
                            <span class="grid-4 no-margin genre">
                            <img src="/static/img/start.png"/>
                                {{ obj.genre.name }}
                            </span>
                        {% endfor %}
                    </div>
                    <div class="grid-5 no-margin btn_genre">
                        {% if user_profile.user.id == user.id %}
                            <span class="green_btn message_alert ">
                                <input class="type_message"
                                   type="hidden" value="add_genre"/>

                            </span>
                            <span class="text_genre ">
                                Añade tus géneros favoritos
                            </span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <div class="grid-16 load no-margin my_list">
        <div class="sidebar-a grid-15">
            <div class="heading">
                <h3 class="title grid-6 fleft">
                    {% if user_profile.user.id == user.id %}
                        Mis listas
                    {% else %}
                        Listas de {{ user_profile.user.username }}
                    {% endif %}
                </h3>
                <span class="search fright grid-4">
                    <input class="type" type="hidden" value="List"/>
                    <input class="my_list_typ" type="hidden" value="0"/>
                    <input class="id_profile" type="hidden"
                           value="{{ user_profile.user.id }}"/>
                    <input type="text" class="field_list search_entities"/>
                    <span class="top search_list dark_yello_btn"></span>
                </span>
                <a href="/registry/register_list/">
                    {% if user_profile.user.id == user.id %}
                        <span class="d-pink_buttom d-brown-btn fright" >
                            Crear nueva lista
                        </span>
                    {% endif %}
                </a>
            </div>
            <div id="scrollbar1" class="d-margin_group_user">
                <div class="scrollbar"><div class="track"><div class="thumb">
                    <div class="end"></div></div></div></div>
                <div class="viewport overview_list">
                    <div class="overview my_items_list">
                        {% for key, value in list.items %}
                            <div class="item_list grid-14 no-margin d-list_{{ key }}" >
                                <input class="name_list" type="hidden" value="{{ value.name }}">
                                <input class="id_list" type="hidden" value="{{ key }}">
                                <a href="/qro_lee/profile/list/{{ key }}/">
                                    <span class="wrapper_list" >
                                        {% if not value.picture %}
                                            <img src="/static/img/create.png" class="img_size_all" />
                                        {% else %}
                                            <img src="/static/media/users/{{ value.id_user }}/list/{{ value.picture }}"
                                                 class="img_size_all"   />
                                        {% endif %}
                                    </span>
                                </a>
                                <span class="container_data grid-12 no-margin">
                                <span class="grid-5 no-margin">
                                    <a href="/qro_lee/profile/list/{{ key }}/"
                                   class="title alpha title_book">{{ value.name|truncatechars:30 }}</a>
                                </span>

                                <span class="container_btn grid-4 no-margin">
                                    {% if value.id_user == user.id %}
                                        <a href="/registry/edit_list/{{ value.type }}/{{ key }}">
                                            <span class="green_btn size_btn_edit " ></span>
                                        </a>
                                        <span class="pink_btn size_btn_edit message_alert btn_delete" >
                                            <input class="type_message" type="hidden" value="delete_list">
                                        </span>
                                {% endif %}
                                </span>
                                <span class="fright mini_rate">
                                            {% for x in 'xxxxx' %}
                                                {% if forloop.counter < value.grade %}
                                                    <img src="/static/img/comunityStarmini.png" />
                                                {% else %}
                                                    <img src="/static/img/backgroundStarmini.png" />
                                                {% endif %}
                                            {% endfor %}
                                 </span>
                                <span class="d-text_list grid-12 d-text_opacity no-margin " >
                                    Lista con {{ value.count }}
                                        {% if value.type == 'T' %}
                                            libros
                                        {% else %}
                                            autores
                                        {% endif %}
                                        creada por
                                        <a href="/accounts/users/profile/{{ value.id_user }}/">
                                            <span class="d-pink text_pink_mini">{{ value.user }}</span>
                                        </a>
                                </span>
                                <span class="d-text_list grid-8 no-margin "  >
                                    {{ value.description|truncatechars:245 }}
                                </span>
                                </span>
                            </div>
                        {% empty %}
                            {% if user_profile.user.id == user.id  %}
                                <span class="grid-15 no_resuls">
                                    Aún no has creado ninguna lista
                                </span>
                            {% else %}
                                <span class="grid-15 no_resuls">
                                    {% if user_profile.user.first_name %}
                                        {{ user_profile.user.first_name }} {{ user_profile.user.last_name }}
                                    {% endif %}
                                    aún no ha creado ninguna lista
                                </span>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-16 load no-margin">
        <div class="sidebar-a grid-15 no-margin">
            <h3 class="title ">
                {% if user_profile.user.id == user.id %}
                        Grupos a los que pertenezco
                    {% else %}
                        Grupos a los que pertenece
                        {% if user_profile.user.first_name %}
                            {{ user_profile.user.first_name }} {{ user_profile.user.last_name }}
                        {% endif %}
                    {% endif %}
            </h3>
            <div id="scrollbar1" class="d-margin_group_user" >
                <div class="scrollbar"><div class="track"><div class="thumb">
                    <div class="end"></div></div></div></div>
                <div class="viewport viewport_group">
                    <div class="overview">
                        {% for key, value in entities.items %}
                            {% if forloop.counter|divisibleby:2 %}
                                <div class="grid-7 omega">
                            {% else %}
                                <div class="grid-7 alpha">
                            {% endif %}
                        <input type="hidden" value="{{ key }}" class="id_group"/>
                        <span class="wrapper d-group_user fleft">
                            <a href="/qro_lee/entity/group/{{ value.entity.id }}/">
                                {% if not value.entity.picture %}
                                    <img src="/static/img/create.png" class="img_group" />
                                {% else %}
                                    <img src="/static/media/users/{{ value.entity.user.id }}/entity/{{ value.entity.picture }}"
                                         class="img_group" />
                                {% endif %}
                            </a>
                        </span>
                        <a href="/qro_lee/entity/group/{{ value.entity.id }}/" class="title alpha grid-4 title_groups">
                            {{ value.entity.name|capfirst }}</a>
                        <p class="d-text_group_user">{{ value.entity.description|truncatewords:17 }}
                        </p>
                        <p class="d-text_group_user" >{{ value.followers.count }} usuarios inscritos
                            <input type="hidden" class="name"
                                   value="{{ obj.entity.name|cut:" " }}_{{ obj.entity.id }}"/>
                            {% if user_profile.user.id == user.id and not value.is_admin.is_admin %}
                                <span class="d-pink_buttom message_alert fright">
                                Abandonar
                                <input class="type_message" type="hidden" value="out_group"/>
                            </span>
                            {% endif %}
                        </p>
                        </div>
                        {% empty %}
                            {% if user_profile.user.id == user.id  %}
                                <span class="grid-15 no_resuls">
                                    Aún no te has unido a ningun grupo
                                </span>
                            {% else %}
                                <span class="grid-15 no_resuls">
                                    {% if user_profile.user.first_name %}
                                        {{ user_profile.user.first_name }} {{ user_profile.user.last_name }}
                                    {% endif %}
                                    aún no se ha unido a ningun grupo
                                </span>
                            {% endif %}
                        {% endfor %}
                        </div></div></div>
            </div>
        </div>
    <div class="grid-16 load no-margin">
        <div class="sidebar-a grid-15">
            <div class="heading">
                <h3 class="title grid-6 fleft">
                    {% if user_profile.user.id == user.id %}
                        Mis páginas
                    {% else %}
                        Páginas de
                        {% if user_profile.user.first_name %}
                            {{ user_profile.user.first_name }} {{ user_profile.user.last_name }}
                        {% endif %}
                    {% endif %}
                </h3>
                <span class="search fright grid-4">
                    <input type="text" class="field_pag search_entities">
                    <input type="hidden" value="{{ user_profile.user.id }}" class="profile_id_user"/>
                    <span class="top search_pages dark_yello_btn"></span>
                </span>
                {% if user_profile.user.id == user.id %}
                    <a href="/accounts/users/registry_page/">
                        <span class="d-pink_buttom d-brown-btn fright">
                            Crear nueva página
                        </span>
                    </a>
                {% endif %}
            </div>
            <div id="scrollbar1" class="d-margin_group_user">
                <div class="scrollbar"><div class="track"><div class="thumb">
                    <div class="end"></div></div></div></div>
                <div class="viewport overview_page">
                    <div class="overview my_items_pages">
                        {% for key, value in pages.items %}
                            <div class="item_list d-list_{{ key }}" >
                                <input class="name_list" type="hidden" value="{{ value.name }}">
                                <input class="id_list" type="hidden" value="{{ key }}">
                                <a href="/qro_lee/user/{{ value.id_user }}/page/{{ key }}/">
                                    <span class="wrapper_list" >
                                        {% if not value.coment|img_autoescape  %}
                                            <img src="/static/img/create.png" class="img_size_all" />
                                        {% else %}
                                            <img src="{{ value.coment|img_autoescape }}"
                                                 class="img_size_all"   />
                                        {% endif %}
                                    </span>
                                </a>
                                <span class="grid-9 no-margin">
                                    <a title="{{ value.name }}" href="/qro_lee/user/{{ value.id_user }}/page/{{ key }}/"
                                    class="title alpha title_book ">{{ value.name|truncatechars:26 }}</a>
                                </span>

                                <span class="grid-4 no-margin">
                                    {% if value.id_user == user.id %}
                                        <a href="/accounts/users/update_page/{{ key }}">
                                            <span class="green_btn size_btn_edit " ></span>
                                        </a>
                                        <span class="pink_btn size_btn_edit message_alert btn_delete" >
                                            <input class="type_message" type="hidden" value="delete_page">
                                        </span>
                                {% endif %}
                                </span>
                                <span class="grid-10 no-margin">
                                    <span class="d-text_opacity">De</span>
                                    <a href="/accounts/users/profile/{{ value.id_user }}">
                                        <span class="place_pink">{{ value.name_user }}</span>
                                    </a>
                                </span>
                                <span class="d-text_list grid-13 no-margin bottom_text"  >
                                    {% autoescape off %}
                                        {{ value.coment|striptags|truncatechars:580 }}
                                    {% endautoescape %}
                                </span>
                            </div>
                        {% empty %}
                            {% if user_profile.user.id == user.id  %}
                                <span class="grid-15 no_resuls">
                                    Aún no has creado páginas
                                </span>
                            {% else %}
                                <span class="grid-15 no_resuls">
                                    {% if user_profile.user.first_name %}
                                        {{ user_profile.user.first_name }} {{ user_profile.user.last_name }}
                                    {% endif %}
                                    aún no ha creado ninguna página
                                </span>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>

{% endblock %}