{% extends 'base.html' %}
{% load staticfiles %}

{% block style %}
    <link rel="stylesheet" href="{% static "style/theme.css" %}"/>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "js/tiny.js" %}"></script>
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>
    <script type="text/javascript" src="{% static "js/ajax.js" %}"></script>
    <script type="text/javascript" src="{% static "js/validation.js" %}"></script>
{% endblock %}


{% block head %}
    {% include 'header.html' %}
{% endblock %}

{% block main_site %}
    <div class="wrapper_message " >
        <div class="container-16 container_message">
            <div class="dialog-confirm" ></div>
        </div>
    </div>
    <div class="grid-16">
    <div class="grid-16 entity no-margin">
        <span class="wrapper fleft">
            {% if not user_profile.picture %}
                <img class="img_size_all" src=/static/img/create.png alt="{{ profile.user}}"/>
            {% else %}
                {% if owner.id == user.id %}
                    <span class="brown_btn edit"></span>
                {% endif %}
                <img class="img_size_all" src="/static/media/users/{{ user_profile.user.id }}/profile/{{ user_profile.picture }}" alt="{{ entity.name }}"/>
            {% endif %}
        </span>
        <span class="general-info no-margin grid-7">
            <h3 class="title d-title_profile">{{ user_profile.user.first_name|title }} {{ user_profile.user.last_name|title }}</h3>
            <span class="social">
                {% if user_profile.fb_username %}
                <a href="http://facebook.com/{{ user_profile.fb_username }}">
                    <img src="/static/img/profile_fb.png" alt=""/>
                </a> <img src="{% static "img/social_divider.png" %}" alt=""/>
                {% endif %}
                {% if user_profile.twitter_username %}
                <a href="http://twitter.com/{{ user_profile.twitter_username }}">
                    <img src="/static/img/profile_twitter.png" alt=""/>
                </a> <img src="{% static "img/social_divider.png" %}" alt=""/>
                {% endif  %}
                {% if user_profile.website %}
                    <a href="http://{{ user_profile.website }}">
                        <img src="/static/img/profile_world.png" alt=""/>
                    </a>
                {% endif %}
            </span>
            <p >{{ user_profile.city }}, México</p>
            <p class="title_author" >
                {% if count_titles == 1 %}
                    Un libro leído
                {% else %}
                    {{ count_titles }} libros leídos
                {% endif %}
            </p>
            <p class='title_act_read'>
                {% if act_title == 0 %}
                    <span class='text_act' >
                        ¿Qué estás leyendo?
                        <input type="hidden" class="type_message"
                               value="show_titles" />
                    </span>
                {% else %}
                    Acualmente está leyendo <a class="title_author">
                    {{ act_title.title.title|truncatechars:17 }}</a>
                    <span class="green_btn message_alert">
                        Editar
                        <input class="type_message"
                        type="hidden" value="edit_title_read"/>
                        <input class="id_list"
                        type="hidden" value="{{ act_title.id }}"/>
                        <input class="name_title"
                        type="hidden" value="{{ act_title.title.title }}"/>
                    </span>
                {% endif %}
            </p>
        </span>
        <span class="nav profile grid-8 no-margin">
            <span class="btn active">Actividad</span>
            <span class="btn">Libros</span>
            <span class="btn">Listas</span>
            <span class="btn">Grupos</span>
            <span class="btn">Páginas</span>
        </span>
    </div>

    <div class="grid-16 content single no-margin">
    <div class="csrf_token">
        {% csrf_token %}
    </div>
    <input type="hidden" class="type_list" value="T" />
    <div class="grid-16 load no-margin" style="display: block;" >
        <div class="coments grid-10 no-margin">

        </div>
        <div class="titles_author grid-5 border_left">
            <div class="container_titles grid-5 no-margin ">
                <h3 class="title info_profile">
                    Información
                </h3>
                     <span class="item_title grid-5 no-margin">
                         <h3 class="title grid-4 no-margin title_my_list">
                             Géneros favoritos
                         </h3>
                         <span class="container_items grid-4 no-margin">
                             {% for obj in list_genre %}
                                 {% if forloop.counter <= 3 %}
                                    <span class="place_pink my_items
                                        {% if not forloop.last and forloop.counter != 3 %}
                                                border_right
                                        {% endif %}
                                     ">
                                        {{ obj.genre.name|truncatechars:12 }}
                                     </span>
                                 {% endif %}
                             {% endfor %}
                         </span>
                         <h3 class="title grid-4 no-margin title_my_list">
                             Libros favoritos
                         </h3>
                         <span class="container_items grid-4 no-margin">
                             {% for key, value in list_titles.0.items %}
                                 {% if forloop.counter <= 3 %}
                                    <span class=" my_items
                                     {% if not forloop.last and forloop.counter != 3 %}
                                        border_right
                                    {% endif %}
                                    ">
                                        <a class="place_pink" href="/qro_lee/profile/title/{{ key }}/">
                                            {{ value.title|truncatechars:12 }}
                                        </a>
                                     </span>
                                 {% endif %}
                             {% endfor %}
                         </span>
                         <h3 class="title grid-4 no-margin title_my_list">
                             Libros leídos
                         </h3>
                         <span class="container_items grid-4 no-margin">
                             {% for key, value in list_titles.1.items %}
                                 {% if forloop.counter <= 3 %}
                                    <span class=" my_items
                                    {% if not forloop.last and forloop.counter != 3 %}
                                        border_right
                                    {% endif %}
                                        ">
                                        <a class="place_pink" href="/qro_lee/profile/title/{{ key }}/">
                                            {{ value.title|truncatechars:12 }}
                                        </a>
                                     </span>
                                 {% endif %}
                             {% endfor %}
                         </span>
                     </span>

            </div>
        </div>
    </div>
    <div class="grid-16 load prevent_scroll no-margin">
    <div class="sidebar-a grid-15 container_list">
    <input type="hidden" class="type_my_list" value="T" />
    <div class="heading">
        <h3 class="title grid-3 fleft title_header_list">Mis libros favoritos</h3>
                <span class="search fleft grid-4">
                    <input type="text"/>
                    <span class="top right search_btn dark_yello_btn">Buscar</span>
                </span>
    </div>
    <div class="viewport margin_top">
    <div class="overview ">
    <div class="book_favorite d-paddin_bottom">
    {% if user_profile.user.id == user.id %}
        <div class="d-container_add_book grid-5 no-margin">
            <div class="d-add_book" >
                <input type="hidden" value="title" class="list_typ" />
                <input type="hidden" value="add" class="add_type" />
                <p class="d-add_text_book">
                    + Añadir un nuevo libro
                </p>
            </div>
        </div>
    {% endif %}
    {% for key, value in list_titles.0.items %}
        {% if user_profile.user.id == user.id %}
            {% if forloop.counter <= 2 %}
                <div class="d-item_book d-item_{{ key }} grid-5 no-margin">
            {% else %}
                <div class="d-item_book disable_title d-item_{{ key }} grid-5 no-margin">
            {% endif %}
        {% else %}
            {% if forloop.counter <= 3 %}
                <div class="d-item_book d-item_{{ key }} grid-5 no-margin">
            {% else %}
                <div class="d-item_book disable_title d-item_{{ key }} grid-5 no-margin">
            {% endif %}
        {% endif %}

    <input type="hidden" class="id_title"
           value="{{ key }}"/>
    <input type="hidden" class="name_title"
           value="{{ value.title }}"/>
    <input type="hidden" class="type_list"
           value="{{ value.default_type }}"/>
    <input type="hidden" value="{{ value.id_list }}"
                         class="id_list_rel" />
    <a href="/qro_lee/profile/title/{{ key }}/" >
        <span class="wrapper_list borde_author" >
            {% if not value.cover %}
                <img src="/static/img/create.png" class="img_size_all" />
            {% else %}
                <img class="img_size_all" src="{{ value.cover }}"/>
            {% endif %}
        </span>
    </a>
    <div class="d-container_text_book grid-3 no-margin">
        <a title="{{ value.title }}" href="/qro_lee/profile/title/{{ key }}/"
           class="title title_book alpha grid-4 ">
            {{ value.title|truncatechars:16 }}
        </a>
        <p class="p-d-text" >
            {% if value.author != 'autor anonimo' %}
                De
                <a href="/qro_lee/profile/author/{{ value.id_author }}"
                        class="place_pink" >
                    {{ value.author|truncatechars:19 }}
                </a>
            {% else %}
                <a class="place_pink" >
                    {{ value.author|truncatechars:19 }}
                </a>
            {% endif %}
        </p>
        <p class="p-d-text" >
             <span >
                {% for x in 'xxxxx' %}
                    {% if forloop.counter < value.grade %}
                        <img src="/static/img/comunityStar.png" />
                    {% else %}
                        <img src="/static/img/backgroundStar.png" />
                    {% endif %}
                {% endfor %}
            </span>
        </p>
        <p class="p-d-text d-text_opacity">
            añadido {{ value.date }}
        </p>
        {% if value.id_user == user.id %}
            <span class="pink_btn size_btn_edit message_alert">
               <input class="type_message" type="hidden" value="delete_title"/>
                                                    -
            </span>
        {% endif %}
    </div>
    </div>

    {% if forloop.counter > 2 and forloop.last %}
        <span class="grid-15 no-margin">
            <span class="place_pink fright all_book">
                <span class="span_text">Ver todos</span>
                <input type="hidden" value="0" />
            </span>
        </span>
    {% endif %}

    {% endfor %}

    <hr class="d-line_bottom">
    </div>

    <div class="book_read d-paddin_bottom">
        <h3 class="title title_book grid-14 fleft">
            Mis libros leídos
        </h3>
        {% if user_profile.user.id == user.id  %}
            <div class="d-container_add_book grid-5 no-margin">
                <div class="d-add_book" >
                    <input type="hidden" value="title" />
                    <input type="hidden" value="title" class="list_typ" />
                    <input type="hidden" value="add" class="add_type" />
                    <p class="d-add_text_book">
                        + Añadir un nuevo libro
                    </p>
                </div>
            </div>
        {% endif %}
        {% for key, value in list_titles.1.items %}
            {% if user_profile.user.id == user.id %}
                {% if forloop.counter <= 2 %}
                    <div class="d-item_book d-item_{{ key }} grid-5 no-margin">
                {% else %}
                    <div class="d-item_book disable_title d-item_{{ key }} grid-5 no-margin">
                {% endif %}
            {% else %}
                {% if forloop.counter <= 3 %}
                    <div class="d-item_book d-item_{{ key }} grid-5 no-margin">
                {% else %}
                    <div class="d-item_book disable_title d-item_{{ key }} grid-5 no-margin">
                {% endif %}
            {% endif %}

        <input type="hidden" class="id_title"
               value="{{ key }}"/>
        <input type="hidden" class="name_title"
               value="{{ value.title }}"/>
        <input type="hidden" class="type_list"
               value="{{ value.default_type }}"/>
        <input type="hidden" value="{{ value.id_list }}"
               class="id_list_rel" />
        <a href="/qro_lee/profile/title/{{ key }}/" >
        <span class="wrapper_list borde_author" >
            {% if not value.cover %}
                <img src="/static/img/create.png" class="img_size_all" />
            {% else %}
                <img class="img_size_all" src="{{ value.cover }}"/>
            {% endif %}
        </span>
        </a>
        <div class="d-container_text_book grid-3 no-margin">
            <a title="{{ value.title }}" href="/qro_lee/profile/title/{{ key }}/"
               class="title title_book alpha grid-4 ">
                {{ value.title|truncatechars:16 }}
            </a>
            <p class="p-d-text" >
                {% if value.author != 'autor anonimo' %}
                    De
                    <a href="/qro_lee/profile/author/{{ value.id_author }}"
                       class="place_pink" >
                        {{ value.author|truncatechars:19 }}
                    </a>
                {% else %}
                    <a class="place_pink" >
                        {{ value.author|truncatechars:19 }}
                    </a>
                {% endif %}
            </p>
            <p class="p-d-text" >
             <span >
                {% for x in 'xxxxx' %}
                    {% if forloop.counter < value.grade %}
                        <img src="/static/img/comunityStar.png" />
                    {% else %}
                        <img src="/static/img/backgroundStar.png" />
                    {% endif %}
                {% endfor %}
            </span>
            </p>
            <p class="p-d-text d-text_opacity">
                añadido {{ value.date }}
            </p>
            {% if value.id_user == user.id %}
                <span class="pink_btn size_btn_edit message_alert">
                    <input class="type_message" type="hidden" value="delete_title"/>
                    -
                </span>
                <span class="green_btn message_alert size_btn_edit">
                    <input class="type_message" type="hidden" value="edit_read"/>
                    Editar
                </span>
            {% endif %}
        </div>
        </div>

            {% if forloop.counter > 2 and forloop.last %}
                <span class="grid-15 no-margin">
            <span class="place_pink fright all_book">
                <span class="span_text">Ver todos</span>
                <input type="hidden" value="0" />
            </span>
        </span>
            {% endif %}

        {% endfor %}

        <hr class="d-line_bottom">
        </div>

        <div class="book_for_reading d-paddin_bottom">
            <h3 class="title title_book grid-14 fleft">
                Mis libros por leer
            </h3>
            {% if user_profile.user.id == user.id  %}
                <div class="d-container_add_book grid-5 no-margin">
                    <div class="d-add_book" >
                        <input type="hidden" value="title" />
                        <input type="hidden" value="title" class="list_typ" />
                        <input type="hidden" value="add" class="add_type" />
                        <p class="d-add_text_book">
                            + Añadir un nuevo libro
                        </p>
                    </div>
                </div>
            {% endif %}
            {% for key, value in list_titles.2.items %}
                {% if user_profile.user.id == user.id %}
                    {% if forloop.counter <= 2 %}
                        <div class="d-item_book d-item_{{ key }} grid-5 no-margin">
                    {% else %}
                        <div class="d-item_book disable_title d-item_{{ key }} grid-5 no-margin">
                    {% endif %}
                {% else %}
                    {% if forloop.counter <= 3 %}
                        <div class="d-item_book d-item_{{ key }} grid-5 no-margin">
                    {% else %}
                        <div class="d-item_book disable_title d-item_{{ key }} grid-5 no-margin">
                    {% endif %}
               {% endif %}

            <input type="hidden" class="id_title"
                   value="{{ key }}"/>
            <input type="hidden" class="name_title"
                   value="{{ value.title }}"/>
            <input type="hidden" class="type_list"
                   value="{{ value.default_type }}"/>
            <input type="hidden" value="{{ value.id_list }}"
                   class="id_list_rel" />
            <a href="/qro_lee/profile/title/{{ key }}/" >
        <span class="wrapper_list borde_author" >
            {% if not value.cover %}
                <img src="/static/img/create.png" class="img_size_all" />
            {% else %}
                <img class="img_size_all" src="{{ value.cover }}"/>
            {% endif %}
        </span>
            </a>
            <div class="d-container_text_book grid-3 no-margin">
                <a title="{{ value.title }}" href="/qro_lee/profile/title/{{ key }}/"
                   class="title title_book alpha grid-4 ">
                    {{ value.title|truncatechars:16 }}
                </a>
                <p class="p-d-text" >
                    {% if value.author != 'autor anonimo' %}
                        De
                        <a href="/qro_lee/profile/author/{{ value.id_author }}"
                           class="place_pink" >
                            {{ value.author|truncatechars:19 }}
                        </a>
                    {% else %}
                        <a class="place_pink" >
                            {{ value.author|truncatechars:19 }}
                        </a>
                    {% endif %}
                </p>
                <p class="p-d-text" >
             <span >
                {% for x in 'xxxxx' %}
                    {% if forloop.counter < value.grade %}
                        <img src="/static/img/comunityStar.png" />
                    {% else %}
                        <img src="/static/img/backgroundStar.png" />
                    {% endif %}
                {% endfor %}
            </span>
                </p>
                <p class="p-d-text d-text_opacity">
                    añadido {{ value.date }}
                </p>
                {% if value.id_user == user.id %}
                    <span class="pink_btn size_btn_edit message_alert">
               <input class="type_message" type="hidden" value="delete_title"/>
                                                    -
            </span>
                {% endif %}
            </div>
            </div>

                {% if forloop.counter > 2 and forloop.last %}
                    <span class="grid-15 no-margin">
            <span class="place_pink fright all_book">
                <span class="span_text">Ver todos</span>
                <input type="hidden" value="0" />
            </span>
        </span>
                {% endif %}
            {% endfor %}

            <hr class="d-line_bottom">
            </div>
            <div class="d-paddin_bottom">
                <h3 class="title title_book grid-14 fleft">
                    Mis géneros favoritos
                </h3>
                <div class="grid-5 no-margin">
                    <div class="grid-5 no-margin container_genres">
                        {% for obj in list_genre  %}
                            <span class="grid-4 no-margin genre">
                                                <img src="/static/img/start.png"/>
                                                    {{ obj.genre.name }}
                                                </span>
                        {% endfor %}
                    </div>
                    <div class="grid-5 no-margin btn_genre">
                        {% if user_profile.user.id == user.id %}
                            <span class="green_btn message_alert">
                                                <input class="type_message"
                                                       type="hidden" value="add_genre"/>
                                                    Editar
                                                </span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <div class="grid-16 load no-margin">
        <div class="sidebar-a grid-15">
            <div class="heading">
                <h3 class="title grid-3 fleft">Mis listas</h3>
                <span class="search fleft grid-4">
                    <input class="type" type="hidden" value="List"/>
                    <input class="my_list_typ" type="hidden" value="0"/>
                    <input type="text" class="field_list"/>
                    <span class="top right search_list dark_yello_btn">Buscar</span>
                </span>
                <a href="/registry/register_list/">
                    {% if user_profile.user.id == user.id %}
                        <span class="d-pink_buttom d-brown-btn fright" >
                            Crear nueva lista
                        </span>
                    {% endif %}
                </a>
            </div>
            <div id="scrollbar1" class="d-margin_group_user">
                <div class="scrollbar"><div class="track"><div class="thumb">
                    <div class="end"></div></div></div></div>
                <div class="viewport overview_list">
                    <div class="overview my_items_list">
                        {% for key, value in list.items %}
                            <div class="item_list d-list_{{ key }}" >
                                <input class="name_list" type="hidden" value="{{ value.name }}">
                                <input class="id_list" type="hidden" value="{{ key }}">
                                <a href="/qro_lee/profile/list/{{ key }}/">
                                    <span class="wrapper_list" >
                                        {% if not value.picture %}
                                            <img src="/static/img/create.png" class="img_size_all" />
                                        {% else %}
                                            <img src="/static/media/users/{{ value.id_user }}/list/{{ value.picture }}"
                                                 class="img_size_all"   />
                                        {% endif %}
                                    </span>
                                </a>
                                <a href="/qro_lee/profile/list/{{ key }}/"
                                   class="title alpha title_book grid-4">{{ value.name|truncatechars:30 }}</a>

                                <span class="grid-4 no-margin">
                                    {% if value.id_user == user.id %}
                                        <a href="/registry/edit_list/{{ value.type }}/{{ key }}">
                                            <span class="green_btn size_btn_edit" >Editar</span>
                                        </a>
                                        <span class="pink_btn size_btn_edit message_alert" >
                                            -
                                            <input class="type_message" type="hidden" value="delete_list">
                                        </span>
                                {% endif %}
                                </span>
                                <span class="fright">
                                            {% for x in 'xxxxx' %}
                                                {% if forloop.counter < value.grade %}
                                                    <img src="/static/img/comunityStar.png" />
                                                {% else %}
                                                    <img src="/static/img/backgroundStar.png" />
                                                {% endif %}
                                            {% endfor %}
                                 </span>
                                <span class="d-text_list grid-13 d-text_opacity no-margin bottom_text" >
                                    Lista con {{ value.count }}
                                        {% if value.type == 'T' %}
                                            libros
                                        {% else %}
                                            autores
                                        {% endif %}
                                        creada por
                                        <a href="/accounts/users/profile/{{ value.id_user }}/">
                                            <span class="d-pink text_pink_mini">{{ value.user }}</span>
                                        </a>
                                </span>
                                <span class="d-text_list grid-13 no-margin bottom_text"  >
                                    {{ value.description|truncatechars:350 }}
                                </span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-16 load no-margin">
        <div class="sidebar-a grid-15 no-margin">
            <h3 class="title main">Grupos a los que pertenezco</h3>
            <div id="scrollbar1" class="d-margin_group_user" >
                <div class="scrollbar"><div class="track"><div class="thumb">
                    <div class="end"></div></div></div></div>
                <div class="viewport">
                    <div class="overview">
                        {% for obj in entities %}

                            {% if forloop.counter|divisibleby:2 %}
                                <div class="grid-7 omega">
                            {% else %}
                                <div class="grid-7 alpha">
                            {% endif %}

                        <span class="wrapper d-group_user">
                        <a href="/qro_lee/entity/group/{{ obj.entity.name|cut:" " }}_{{ obj.entity.id }}/">
                            {% if not obj.entity.picture %}
                                <img src="" alt="{{ obj.entity.name }}"/>
                            {% else %}
                                <img src="/static/media/users/{{ obj.entity.user.id }}/entity/{{ obj.entity.picture }}" alt="{{ entity.name }}"/>

                            {% endif %}
                        </a>
                    </span>

                        <a href="/qro_lee/entity/group/{{ obj.entity.name|cut:" " }}_{{ obj.entity.id }}/" class="title alpha grid-4 title_groups">
                            {{ obj.entity.name|capfirst }}</a>
                        <p class="d-text_group_user">{{ obj.entity.description|truncatewords:17 }}
                        </p>
                        <p class="d-text_group_user" >1,024 usuarios inscritos
                            <input type="hidden" class="name"
                                   value="{{ obj.entity.name|cut:" " }}_{{ obj.entity.id }}"/>
                            <input class="type_message" type="hidden" value="out_group"/>
                            {% if obj.list.user.id == user.id %}
                                <span class="d-pink_buttom message_alert fright">
                                Abandonar
                            </span>
                            {% endif %}
                        </p>
                        </div>
                        {% endfor %}
                        </div></div></div>
            </div>
        </div>
    <div class="grid-16 load no-margin">
        <div class="sidebar-a grid-15">
            <div class="heading">
                <h3 class="title grid-3 fleft">Mis páginas</h3>
                <span class="search fleft grid-4">
                    <input type="text" class="field_pag">
                    <input type="hidden" value="{{ user_profile.user.id }}" class="profile_id_user"/>
                    <span class="top search_pages right dark_yello_btn">Buscar</span>
                </span>
                <a href="/accounts/users/registry_page/">
                    <span class="d-pink_buttom d-brown-btn fright">
                        Crear nueva página
                    </span>
                </a>
            </div>
            <div id="scrollbar1" class="d-margin_group_user">
                <div class="scrollbar"><div class="track"><div class="thumb">
                    <div class="end"></div></div></div></div>
                <div class="viewport overview_page">
                    <div class="overview my_items_pages">
                        {% for key, value in pages.items %}
                            <div class="item_list d-list_{{ key }}" >
                                <input class="name_list" type="hidden" value="{{ value.name }}">
                                <input class="id_list" type="hidden" value="{{ key }}">
                                <a href="/qro_lee/user/{{ value.id_user }}/page/{{ key }}/">
                                    <span class="wrapper_list" >
                                        {% if not value.picture %}
                                            <img src="/static/img/create.png" class="img_size_all" />
                                        {% else %}
                                            <img src="/static/media/users/{{ value.id_user }}/list/{{ value.picture }}"
                                                 class="img_size_all"   />
                                        {% endif %}
                                    </span>
                                </a>
                                <a title="{{ value.name }}" href="/qro_lee/user/{{ value.id_user }}/page/{{ key }}/"
                                   class="title alpha title_book grid-4">{{ value.name|truncatechars:26 }}</a>

                                <span class="grid-4 no-margin">
                                    {% if value.id_user == user.id %}
                                        <a href="/accounts/users/update_page/{{ key }}">
                                            <span class="green_btn size_btn_edit" >Editar</span>
                                        </a>
                                        <span class="pink_btn size_btn_edit message_alert" >
                                            -
                                            <input class="type_message" type="hidden" value="delete_list">
                                        </span>
                                {% endif %}
                                </span>
                                <!--<span class="fright">
                                            {% for x in 'xxxxx' %}
                                                {% if forloop.counter < value.grade %}
                                                    <img src="/static/img/comunityStar.png" />
                                                {% else %}
                                                    <img src="/static/img/backgroundStar.png" />
                                                {% endif %}
                                            {% endfor %}
                                 </span>-->
                                <span class="d-text_list grid-13 no-margin bottom_text"  >
                                    {% autoescape off %}
                                        {{ value.coment|striptags|truncatechars:580 }}
                                    {% endautoescape %}
                                </span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>

{% endblock %}