{% extends 'base.html' %}
{% load staticfiles %}

{% block style %}
    <link rel="stylesheet" href="{% static "style/theme.css" %}"/>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "js/dropzone.js" %}"></script>
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>
    <script type="text/javascript" src="{% static "js/validation.js" %}"></script>
    <script type="text/javascript" src="{% static "js/ajax.js" %}"></script>
    <script type="text/javascript" src="{% static "js/tiny.js" %}"></script>
    <script src=" {% static "js/tinymce/tinymce.min.js" %}"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: ".textarea_tinymce",
            theme: "modern",
            language: 'es',
            plugins: [
                "advlist autolink lists link image charmap print preview hr anchor pagebreak",
                "searchreplace wordcount visualblocks visualchars code fullscreen",
                "insertdatetime media nonbreaking save table contextmenu directionality",
                "emoticons template paste textcolor "
            ],
            toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft" +
                    " aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
            toolbar2: "print preview media | forecolor backcolor emoticons",
            image_advtab: true,
            resize: false,
            templates: [
                {title: 'Test template 1', content: 'Test 1'},
                {title: 'Test template 2', content: 'Test 2'}
            ]
        });
    </script>
{% endblock %}


{% block head %}
    {% include 'header.html' %}
{% endblock %}

{% block main_site %}
    <div class="erase"></div>
    <div class="grid-16 entities page">
        <div class="grid-15">
            <div class="heading">
                <input type="hidden" value="{{ profile.user.user_name }} " class="user_name">
                <h3 class="title title_page grid-5 fleft">Crear una página nueva</h3>
            </div>
            <form method="post" id="registry" action="/accounts/users/registry_ajax_page/" >
                <div class="csrf_token">
                   {% csrf_token %}
                </div>
                <p>
                    Introduce el nombre de tu página
                    <p>
                        <input name="name" type="text" class="input_val search_entities">
                    </p>
                <p>
                    Escribe el contenido de tu página
                    <p>
                        <textarea name="coment" class="input_val textarea_tinymce textarea_page "></textarea>
                    </p>
                </p>
                <p>
                    Agregar Etiquetas
                    <span class="d-text_opacity page_tags">
                        Añade etiquetas que describa tu pagina separadas por comas
                    </span>
                </p>
                <p>
                    <textarea name="tags" class="input_val textarea_tags"></textarea>
                </p>
                <p>
                    Compartir en redes sociales
                </p>
                <p>
                    <span class="grid-12 content_check">
                        {% if profile.social_session %}
                            <input type="hidden" value="1" class="fb_session"/>
                            <input type="checkbox" class="chec_pag fleft" />
                            <span class="text_check">Compartir con facebook</span>
                        {% else %}
                            <input type="hidden" value="0" class="fb_session"/>
                        {% endif %}
                    </span>
                    <span class="grid-12 content_check">
                        {% if profile.social_session_twitter %}
                            <input type="checkbox" class="chec_pag fleft" />
                            <span class="text_check" >Compartir con twitter</span>
                        {% endif %}
                    </span>
                    <span class="container_btn">
                        <span class="btn_page d-pink_buttom fright">Cancelar</span>
                        <input id="submit" class="btn_page btn_save_pag fright" value="Publicar" type="submit"/>
                    </span>
                </p>
            </form>
        </div>
    </div>

<script type="text/javascript">
     $(document).ready(function(){

            $('form p input').focus(function(){
                $(this).parent().find('.invalid').fadeOut(300);
            });
            if($(this).find('input[type=submit]').hasClass('msg-ok'))
                    window.location.href = site_url;
            $('#registry').submit(function(e){

                if(invalid_f($(this))){
                    var page_name = $(this).find('input[name=name]').val();
                    var content = $(this).find('textarea[name=coment]').val();

                    $.ajax({
                        type: "POST",
                        url: $(this).attr('action'),
                        data: $(this).serialize(),
                        dataType: 'json'
                    }).done(function(data) {

                                if(data.success == 'True'){
                                    if($('.fb_session').val()=='1'){
                                        FB.ui(
                                                {
                                                    method: 'feed',
                                                    name: 'Qro_lee',
                                                    link: 'http://localhost:8000/',
                                                    caption: page_name,
                                                    description: $('.user_name').val()
                                                            + ' ha creado la pagina ' + page_name,
                                                    message: content
                                                },
                                                function(response) {
                                                    window.location.href = site_url +
                                                            '/qro_lee/user/' + data.user_id +
                                                            '/page/'+data.page_id;
                                                });
                                    }else{
                                        window.location.href = site_url +
                                                            '/qro_lee/user/' + data.user_id +
                                                            '/page/'+data.page_id;
                                    }
                                }else{
                                    $('.message').addClass('fail');
                                    $('.message').html('Hubo un error, favor de verificar sus datos');
                                }
                            });
                }
                return false;
            });


        });
</script>
{% endblock %}
